Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: fix logging
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

chore: fix logging issues
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/MapperServer.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

chore: fix logging issues (#1257)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/MapperServer.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1259)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

feat: default value for `userPromptOpened`
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

fix: e2e test
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: default value for `userPromptOpened` (#1260)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

ci: fix cdp logs
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  tools/run-bidi-server.mjs
Due: copyright

ci: fix cdp logs (#1261)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  tools/run-bidi-server.mjs
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1263)
  .browser
Due: none

feat: user prompt: do not populate userText if accepted is false
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: simplify destructuring
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: simplify destructuring II
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: reenable browsing context reload test
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
Due: none

test: reenable browsing context reload test (#1264)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
Due: none

test: reenable browsing context reload test for frames
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
Due: none

fix: reject errors instead of throwing in CDP target init
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

fix: reject errors instead of throwing in CDP target init (#1267)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

chore: fix build
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: fix build (#1268)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: unhandled promises in CDP targets
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

fix: unhandled promises in CDP targets (#1270)
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

ci: deeper logs
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
Due: none

ci: deeper logs (#1272)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
Due: none

fix: catch uncaught throws from #getHandleFromWindow
  src/bidiMapper/domains/script/ChannelProxy.ts
Due: copyright, node-self

fix: catch uncaught throws from #getHandleFromWindow (#1273)
  src/bidiMapper/domains/script/ChannelProxy.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1276)
  .browser
Due: none

test: update expectations for add intercept
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
Due: none

test: update expectations for add intercept phases
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
Due: none

test: update expectations for remove intercept
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

test: update expectations for add intercept url patterns
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
Due: none

test: timeout -> disabled
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

feat: throw InvalidArgument instead of UnsupportedOperation for printing an empty content area
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1279)
  .browser
Due: none

test: update test_reload.py for wait=None
  tests/browsing_context/test_reload.py
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
