Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: parse bluetooth commands
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: parse bluetooth commands (#2764)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

test: extend `bluetooth.simulateAdapter` test
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_simulate_adapter.py
Due: copyright

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/state.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: update the expectations for PR (#2768)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/state.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

Disable HttpsFirstBalancedModeAutoEnable
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

test: update the expectations for PR (#2769)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: disable HttpsFirstBalancedModeAutoEnable (#2770)
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 133.0.6835.0
  .browser
  package-lock.json
  package.json
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/state.py.ini
Due: none

feat(chrome)!: update the pinned browser version to 133.0.6835.0 (#2758)
  .browser
  package-lock.json
  package.json
Due: none

test: update the expectations for PR (#2773)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/state.py.ini
Due: none

feat: implement `browser.getClientWindows`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_get_client_windows.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
Due: none

test: update the expectations for PR (#2781)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
Due: none

feat: implement `browser.getClientWindows` (#2780)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_get_client_windows.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
Due: copyright, node-self

chore: throw only errors
  eslint.config.mjs
  package-lock.json
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix tests
  src/utils/Deferred.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: throw only errors (#2787)
  eslint.config.mjs
  package-lock.json
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
Due: copyright, check-chai-describe-it-only, node-self

Update src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
Due: copyright, node-self

fix: `browser.getClientWindows` returns a unique per window value
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_get_client_windows.py
  tests/conftest.py
Due: copyright, node-self

disable some e2e tests for old headless
  tests/browser/test_get_client_windows.py
Due: copyright

fix: `browser.getClientWindows` returns a unique per window value (#2783)
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_get_client_windows.py
  tests/conftest.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR (#2789)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

docs: adding new command
  README.md
Due: none

docs: adding new command (#2790)
  README.md
Due: none

build(chrome): update the pinned browser version to 133.0.6847.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 133.0.6847.0 (#2775)
  .browser
  package-lock.json
  package.json
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2779)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 133.0.6848.0
  .browser
Due: none

build(chrome): update the pinned browser version to 133.0.6848.0 (#2792)
  .browser
Due: none

test: test no events for initial navigation
  tests/browsing_context/test_create.py
Due: copyright

test: test no events for initial navigation (#2794)
  tests/browsing_context/test_create.py
Due: copyright

feat: do not emit initial navigation events
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_create.py
Due: copyright, node-self

update tests
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/test_helpers.py
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
