Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

feat: protocol: add WindowProxyProperties (#952)
  src/protocol/protocol.ts
Due: copyright, node-self

fix: use non-force close for BrowsingContext.close
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  tests/test_browsing_context.py
  tests/test_realm.py
Due: copyright, node-self

fix: use non-force close for BrowsingContext.close (#939)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  tests/test_browsing_context.py
  tests/test_realm.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/scale.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/scale.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/scale.py.ini
Due: none

build(chrome): update the pinned browser version (#885)
  .browser
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/scale.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/scale.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/scale.py.ini
Due: none

test: remove pytest-sugar
  tests/requirements.txt
Due: none

test: add pytest-timeout with 10s per method
  pytest.ini
  tests/requirements.txt
Due: none

chore: set timeout=10s
  pytest.ini
Due: none

test: pytest adjustments to deal with timeouts (#956)
  pytest.ini
  tests/requirements.txt
Due: none

build(chrome): update the pinned browser version (#959)
  .browser
Due: none

fix: stop fragmentNavigated from emitting for normal navigation
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_browsing_context.py
Due: copyright, node-self

fix: stop fragmentNavigated from emitting for normal navigation (#960)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_browsing_context.py
Due: copyright, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
Due: none

test: update WPT expectations metadata and fix e2e tests
  tests/test_serialization.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
Due: copyright

feat: use maxNodeDepth + includeShadowTree
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  tests/test_serialization.py
Due: copyright, node-self

fix: remove as any
  src/bidiMapper/domains/script/scriptEvaluator.ts
Due: copyright, node-self

feat: use `maxNodeDepth` + `includeShadowTree` for serialization (#815)
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  tests/test_serialization.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/log/entry_added/console_args.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/serialization_options.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
Due: copyright, node-self

chore: refactoring
  .pre-commit-config.yaml
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

chore: consistently name events with an event suffix
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/script/realm.ts
  src/protocol/protocol.ts
  tests/test_log_events.py
Due: copyright, check-chai-describe-it-only, node-self

chore: refactoring for network request intercept (#962)
  .pre-commit-config.yaml
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/script/realm.ts
  src/protocol/protocol.ts
  tests/test_log_events.py
Due: copyright, check-chai-describe-it-only, node-self

test: update wpt expectations for input
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

Remove non-standard `context` attribute
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/protocol/protocol.ts
  tests/test_preload_script.py
Due: copyright, node-self

chore: remove non-standard `context` attribute (#963)
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/protocol/protocol.ts
  tests/test_preload_script.py
Due: copyright, node-self

chore: add fast builds option
  esbuild.mjs
  package-lock.json
  package.json
Due: copyright

feat: use generated types for WebDriverBidi
  .eslintignore
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/BidiTransport.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingBidiMessage.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/browsingContextStorage.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/input/InputSource.ts
  src/bidiMapper/domains/input/InputState.ts
  src/bidiMapper/domains/log/logHelper.ts
  src/bidiMapper/domains/log/logHelper_getRemoteValuesText.spec.ts
  src/bidiMapper/domains/log/logHelper_logMessageFormatter.spec.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiTab/BidiParserImpl.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/protocol.ts
  src/protocol/webdriver-bidi.ts
  tests/test_cdp.py
Due: copyright, check-chai-describe-it-only, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/result.py.ini
Due: none

test: do not compare base64 image of print test
  tests/test_print.py
Due: copyright

feat: use generated types for WebDriverBidi (#961)
  .eslintignore
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/BidiTransport.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingBidiMessage.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/browsingContextStorage.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/input/InputSource.ts
  src/bidiMapper/domains/input/InputState.ts
  src/bidiMapper/domains/log/logHelper.ts
  src/bidiMapper/domains/log/logHelper_getRemoteValuesText.spec.ts
  src/bidiMapper/domains/log/logHelper_logMessageFormatter.spec.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiTab/BidiParserImpl.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/protocol.ts
  src/protocol/webdriver-bidi.ts
  tests/test_cdp.py
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#966)
  .browser
  tests/test_print.py
Due: copyright

chore: add local type generation
  .gitignore
  README.md
  package-lock.json
  package.json
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/webdriver-bidi.ts
  tests/test_network.py
  tools/generate-bidi-types.sh
Due: copyright, node-self

chore: update expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: none

chore: add local type generation (#969)
  .gitignore
  README.md
  package-lock.json
  package.json
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/webdriver-bidi.ts
  tests/test_network.py
  tools/generate-bidi-types.sh
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: copyright, node-self

ci: add WebDriverBidi type generation action
  .github/workflows/update-bidi-types.yml
Due: none

ci: npm run e2e runs local CfT
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  install-browser.mjs
  runBiDiServer.sh
Due: copyright

ci: npm run e2e runs local CfT (#970)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  install-browser.mjs
  runBiDiServer.sh
Due: copyright

feat: prototype network request interception
  src/bidiMapper/domains/network/networkRequest.ts
Due: copyright, node-self

ci: add WebDriverBidi type generation action (#968)
  .github/workflows/update-bidi-types.yml
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
