Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Add js doc
  src/bidiServer/SimpleTransport.ts
Due: copyright, node-self

Update MapperCdpConnection.ts
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

switch getter to method
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Update BrowserInstance.ts
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

refactor: Extract BiDi session in server runner (#1450)
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/SimpleTransport.ts
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

feat: implement network interception continue response
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/network/__init__.py
  tests/network/test_continue_response.py
Due: copyright, check-chai-describe-it-only, node-self

feat: implement network interception continue response (#1443)
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/network/__init__.py
  tests/network/test_continue_response.py
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#1459)
  .browser
Due: none

test: update wpt expectations configs
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
Due: none

test: disable test_redirect_document
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

feat: implement network interception provide response
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_provide_response.py
Due: copyright, node-self

Add more JSDocs
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Add `window.setSelfTargetId` for backward compatibility with chrome driver
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Revert "Add `window.setSelfTargetId` for backward compatibility with chrome driver"
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Make `BrowserInstance` a singleton
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Add jsdoc
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

feat: use the status code from the request if it is absent in params
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

feat: implement network interception provide response (#1457)
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_provide_response.py
Due: copyright, node-self

Add jsdoc
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

fix: Add `window.setSelfTargetId` for backward compatibility with chrome driver (#1461)
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1462)
  .browser
  package-lock.json
  package.json
Due: none

ci: make --watch work with npm run wpt
  package.json
Due: none

ci: include less files in npm run wpt --watch
  package.json
Due: none

ci: make --watch work with npm run wpt (#1465)
  package.json
Due: none

chore: use local EsLint/Prettier for hook
  .eslintrc.js
  .pre-commit-config.yaml
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/reader.ts
Due: copyright, node-self

chore: style
  .pre-commit-config.yaml
Due: none

fix: ci
  .github/workflows/pre-commit.yml
Due: none

chore: use local EsLint/Prettier for hook (#1464)
  .eslintrc.js
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/reader.ts
Due: copyright, node-self

chore: fix async code
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/utils/ProcessingQueue.ts
Due: copyright, node-self

chore: fix async code (#1468)
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/utils/ProcessingQueue.ts
Due: copyright, node-self

feat: network request: prioritize response status code over extraInfo
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

feat: network request: prioritize response status code over extraInfo (#1466)
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version (#1467)
  .browser
Due: none

test: use "network.fetchError" instead of "cdp.Network.loadingFailed"
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
