Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

unsupported operation -> invalid argument as per spec
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

test: update tests/test_viewport.py
  tests/test_viewport.py
Due: copyright

reformat
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/channelProxy.ts
  tests/conftest.py
  tests/test_viewport.py
Due: copyright, node-self

revert conftest.pz
  tests/conftest.py
Due: copyright

Update test_viewport.py
  tests/test_viewport.py
Due: copyright

feat(browsingContext): implement `setViewport` (#817)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/protocol.ts
  tests/test_viewport.py
Due: copyright, node-self

chore: ignore changelog for prettier
  .prettierignore
Due: none

chore: ignore changelog for prettier (#883)
  .prettierignore
Due: none

feat: add realmDestroyed event
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/protocol/protocol.ts
  tests/test_realm.py
Due: copyright, check-chai-describe-it-only, node-self

feat: add realmDestroyed event (#877)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/protocol/protocol.ts
  tests/test_realm.py
Due: copyright, check-chai-describe-it-only, node-self

test: add a test for unsupported viewports
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_viewport.py
Due: copyright, node-self

test: add a test for unsupported viewports (#886)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_viewport.py
Due: copyright, node-self

Revert "test: add a test for unsupported viewports (#886)"
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_viewport.py
Due: copyright, node-self

Revert "test: add a test for unsupported viewports (#886)" (#888)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_viewport.py
Due: copyright, node-self

test: add a test for unsupported viewports (#887)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_viewport.py
Due: copyright, node-self

docs: update release info
  README.md
Due: none

docs: update release info (#890)
  README.md
Due: none

feat: add `browsingContext.navigationStarted'`
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/protocol/protocol.ts
  tests/test_browsing_context.py
Due: copyright, check-chai-describe-it-only, node-self

chore: add changelog
  CHANGELOG.md
Due: none

chore: add changelog (#884)
  CHANGELOG.md
Due: none

feat: make the BiDi events less "chatty"
  README.md
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/cdp/cdpClient.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/protocol.ts
  tests/screenshot/test_screenshot.py
  tests/test_cdp.py
  tests/test_network.py
  tests/test_subscription.py
Due: copyright, check-chai-describe-it-only, node-self

feat: make the BiDi events less "chatty" (#892)
  README.md
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/cdp/cdpClient.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/protocol.ts
  tests/screenshot/test_screenshot.py
  tests/test_cdp.py
  tests/test_network.py
  tests/test_subscription.py
Due: copyright, check-chai-describe-it-only, node-self

chore: use common prefix for debug
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  README.md
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
Due: copyright, node-self

chore: use common prefix for debug (#891)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  README.md
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
Due: copyright, node-self

fix: expand viewport validation tests
  tests/test_viewport.py
Due: copyright

fix: remove test_set_viewport_negative as it's already in WPT
  tests/test_viewport.py
Due: copyright

fix: expand viewport validation tests (#895)
  tests/test_viewport.py
Due: copyright

ci: downgrade yapf to v0.31.0 in pre-commit
  .pre-commit-config.yaml
Due: none

ci: run yapf globally
  tests/conftest.py
Due: copyright

ci: downgrade yapf to v0.31.0 in pre-commit (#898)
  .pre-commit-config.yaml
  tests/conftest.py
Due: copyright

feat: add `browsingContext.navigationStarted'` (#881)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/protocol/protocol.ts
  tests/test_browsing_context.py
Due: copyright, check-chai-describe-it-only, node-self

chore: cddl should use text instead of string
  README.md
Due: none

chore: CDP -> Cdp to respect TS Style naming conventions
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/protocol/protocol.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: simplify all events
  src/protocol/protocol.ts
Due: copyright, node-self

chore: CDP: drop redundant prefix
  src/protocol/protocol.ts
Due: copyright, node-self

chore: improve comment
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

chore: CDP -> Cdp to respect TS Style naming conventions
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: CDP: simplify validation
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self
