Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix update expectations action
  .github/workflows/wpt.yml
Due: none

fix e2e "test_network_before_request_sent_event_emitted_with_url_fragment"
  tests/network/test_network.py
Due: copyright

fix wpt
  .github/workflows/wpt.yml
Due: none

test: expectations update the #3308
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

test: expectations update the #3308 (#3310)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

chore(deps): Bump wpt from e06138a to 41e905e (#3308)
  .github/workflows/wpt.yml
  tests/network/test_network.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: copyright

feat: support geolocation emulation
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
  tests/test_helpers.py
Due: copyright, node-self

test: expectations update the #3311
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

build(spec): update WebDriverBiDi types (#3309)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

test: expectations update the #3311 (#3312)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

build(chrome): update the pinned browser version to 137.0.7123.0
  .browser
  package-lock.json
  package.json
Due: none

introduce EmulationProcessor.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

fix year
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

feat: implement `emulation.setGeolocationOverride` (#3311)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
  tests/test_helpers.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: copyright, node-self

test: expectations update the #3305
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

test: expectations update the #3305 (#3313)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/user_contexts.py.ini
Due: none

build(chrome): update the pinned browser version to 137.0.7123.0 (#3306)
  .browser
  package-lock.json
  package.json
Due: none

ci: fix "Generate HTML test report"
  .github/workflows/wpt.yml
Due: none

ci: fix "Generate HTML test report" (#3315)
  .github/workflows/wpt.yml
Due: none

test: expectations update the #3316
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

test: expectations update the #3316 (#3317)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

fix: string `unhandledPromptBehavior` capability implies `beforeUnload: accept` behavior
  src/bidiMapper/modules/session/SessionProcessor.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

test: expectations update the #3318
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
Due: none

test: expectations update the #3318 (#3319)
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
Due: none

test: expectations update the #3318
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: none

test: expectations update the #3318 (#3320)
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: none

test: expectations update the #3318
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
Due: none

test: expectations update the #3318 (#3321)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
Due: none

fix: string `unhandledPromptBehavior` capability implies `beforeUnload: accept` behavior (#3318)
  src/bidiMapper/modules/session/SessionProcessor.ts
  tests/browsing_context/test_user_prompt.py
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: copyright, node-self

Update README.md
  README.md
Due: none

fix: emit `browsingContext.userPrompt` only once
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

chore: update README.md (#3323)
  README.md
Due: none

fix: emit `browsingContext.userPrompt` only once (#3325)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

fix: allow esm imports
  package.json
Due: none

fix: t
  package.json
Due: none

fix: allow esm imports (#3326)
  package.json
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 137.0.7132.0
  .browser
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
