Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build: keep `.iml` files on build clean (#3195)
  tests/input/file_dialog/test_file_dialog_opened.py
  tools/clean.mjs
Due: copyright

feat(chrome)!: update the pinned browser version to 136.0.7059.0
  .browser
  package-lock.json
  package.json
Due: none

`leSupported` default true
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

build: default `leSupported` to false
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
Due: copyright, node-self

`goog:cdp.sendCommand`
  tests/bluetooth/test_handle_prompt.py
Due: copyright

feat(chrome)!: update the pinned browser version to 136.0.7059.0 (#3196)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

test: expectations update the #3198
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
Due: none

test: expectations update the #3198 (#3199)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
Due: none

test: expectations update the #3198
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

build(chrome): update the pinned browser version to 136.0.7061.0
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7061.0 (#3201)
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7062.0
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7062.0 (#3203)
  .browser
Due: none

feat: cancel intercepted file dialog
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/input/file_dialog/test_file_dialog_opened.py
Due: copyright, node-self

test: expectations update the #3205
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
Due: none

test: expectations update the #3205 (#3206)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
Due: none

feat: cancel intercepted file dialog (#3205)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/input/file_dialog/test_file_dialog_opened.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7066.0
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7066.0 (#3207)
  .browser
Due: none

chore: use spec-compliant bidi commands in e2e
  tests/conftest.py
  tests/script/test_realm.py
Due: copyright

chore: rely on `Page.frameStartedNavigating`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3104 (#3111)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

test: expectations update the #3104 (#3105)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

chore: use spec-compliant bidi commands in e2e (#3211)
  tests/conftest.py
  tests/script/test_realm.py
Due: copyright

build(chrome): update the pinned browser version to 136.0.7067.0
  .browser
  package-lock.json
  package.json
Due: none

ci: bump cddlconv
  .github/workflows/update-bidi-types.yml
Due: none

ci: bump cddlconv (#3215)
  .github/workflows/update-bidi-types.yml
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7067.0 (#3212)
  .browser
  package-lock.json
  package.json
Due: none

fix build
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_emulation.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3217)
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/bluetooth/test_emulation.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7067.2
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7067.2 (#3218)
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7069.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 136.0.7072.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 136.0.7072.0 (#3219)
  .browser
  package-lock.json
  package.json
Due: none

chore: update PR description
  .github/workflows/update-browser-version.yml
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
