Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Move NavigationTracker to a dedicated file
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/utils/Time.spec.ts
  src/utils/Time.ts
Due: copyright, check-chai-describe-it-only, node-self

fix `test_print_top_level_context`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_print.py
Due: copyright, node-self

`NavigationAborted` through `NavigationTracker`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

Add `NavigationTracker` and emit `NavigationStarted` from it
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

Rely on `Network.requestWillBeSent` event to detect navigation started.
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/test_events.py
  tests/browsing_context/test_navigate.py
  tests/conftest.py
Due: copyright, node-self

test: assert all the navigation events during redirection
  tests/browsing_context/test_events.py
  tests/conftest.py
Due: copyright

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

test: update the expectations for PR (#2864)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2865)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Tolerate multiple `requestWillBeSent` events for a single request
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/utils/time.spec.ts
  src/utils/time.ts
  tests/browsing_context/test_events.py
Due: copyright, check-chai-describe-it-only, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR (#2866)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

test: update the expectations for PR (#2868)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/type.py.ini
Due: none

Start navigation if CDP command finished
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/test_events.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR (#2869)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/type.py.ini
Due: none

test: update the expectations for PR (#2871)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/type.py.ini
Due: none

test: stabilize values
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/conftest.py
  tests/test_helpers.py
Due: copyright

test: stabilize values (#2873)
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/conftest.py
  tests/test_helpers.py
Due: copyright

squash
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  src/utils/time.spec.ts
  src/utils/time.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_events.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_print.py
  tests/conftest.py
  tests/network/test_network.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: copyright, check-chai-describe-it-only, node-self

test: make stable value unique across different keys
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/conftest.py
  tests/test_helpers.py
Due: copyright

test: make stable value unique across different keys (#2875)
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/conftest.py
  tests/test_helpers.py
Due: copyright

test: snapshot test for navigation
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tools/run-e2e.mjs
Due: copyright

update snapshots
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
Due: none

update readme
  README.md
Due: none

test: snapshot test navigation (#2847)
  README.md
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tools/run-e2e.mjs
Due: copyright

build(chrome): update the pinned browser version to 133.0.6885.0
  .browser
  package-lock.json
  package.json
Due: none

extract time utils
  src/utils/time.spec.ts
  src/utils/time.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: (no-op) move navigation logic to NavigationTracker
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

squash
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  src/utils/time.spec.ts
  src/utils/time.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_events.py
  tests/browsing_context/test_print.py
  tests/network/test_network.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: (no-op) move navigation logic to NavigationTracker (#2878)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/utils/time.spec.ts
  src/utils/time.ts
Due: copyright, check-chai-describe-it-only, node-self

Emulate `Page.frameStartedNavigating` CDP event
  src/bidiMapper/BidiMapper.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/script/WorkerRealm.ts
  src/cdp/CdpClient.ts
  tests/browsing_context/test_events.py
  tests/browsing_context/test_navigate.py
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version to 133.0.6887.0
  .browser
  package-lock.json
  package.json
Due: none

chore: emulate `Page.frameStartedNavigating` event
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.ts
  src/cdp/EmulatedCdpMapping.ts
  src/protocol/EmulatedCdpMapping.ts
  src/protocol/cdp.ts
  src/protocol/protocol.ts
  tests/session/test_cdp.py
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
