Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(chrome): update the pinned browser version to 138.0.7171.0
  .browser
  package-lock.json
  package.json
Due: none

test: expectations update the #3394
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
Due: none

test: expectations update the #3394 (#3395)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
Due: none

chore: parse `browser.createUserContext:acceptInsecureCerts` (#3391)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/browser/test_create_user_context.py
Due: copyright, node-self

test: expectations update the #3394
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7178.0
  .browser
  package-lock.json
  package.json
Due: none

feat: support `acceptInsecureCerts` per user context
  src/bidiMapper/BidiMapper.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/MapperOptions.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  tests/browser/test_create_user_context.py
Due: copyright, node-self

feat: support `acceptInsecureCerts` per user context (#3399)
  src/bidiMapper/BidiMapper.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/MapperOptions.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  tests/browser/test_create_user_context.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3397)
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7178.0 (#3384)
  .browser
  package-lock.json
  package.json
Due: none

feat: Support GATT characteristic events
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
Due: copyright, node-self

feat: Support GATT characteristic event
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
Due: copyright, node-self

test: log e2e test name
  tests/conftest.py
Due: copyright

test: log e2e test name (#3407)
  tests/conftest.py
Due: copyright

test: re-create local_server for each fixture
  tests/conftest.py
Due: copyright

test: flask e2e local http server
  Pipfile
  tests/conftest.py
  tests/tools/local_http_server.py
  tests/tools/test_local_http_server.py
Due: copyright

Use CHARACTERISTIC_EVENT_GENERATED constant
  tests/bluetooth/test_characteristic_emulation.py
Due: copyright

fix
  tests/network/test_network.py
  tests/tools/local_http_server.py
Due: copyright

refactor
  tests/tools/local_http_server.py
Due: copyright

test: flask e2e local http server (#3409)
  Pipfile
  tests/conftest.py
  tests/network/test_network.py
  tests/tools/local_http_server.py
  tests/tools/test_local_http_server.py
Due: copyright

test: rerun node e2e tests
  .github/workflows/e2e.yml
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

test: rerun node e2e tests (#3413)
  .github/workflows/e2e.yml
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

build(spec): update WebDriverBiDi types (#3405)
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

test: expectations update the #3411
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

test: rerun failing wpt tests
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

test: expectations update the #3411 (#3414)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

test: expectations update the #3411 (#3416)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

test: expectations update the #3411
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

feat: Support GATT characteristic event (#3404)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7184.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 138.0.7187.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 138.0.7187.0 (#3400)
  .browser
  package-lock.json
  package.json
Due: none

test: rerun failing wpt tests (#3415)
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

chore: simplify the Bluetooth event type
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7189.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 138.0.7189.0 (#3422)
  .browser
  package-lock.json
  package.json
Due: none

feat: support `emulation.setLocaleOverride`
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
