Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(spec): update WebDriverBidi types (#1706)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: implement `Input.setFiles`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
Due: copyright, node-self

feat: implement `Input.setFiles` (#1705)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

chore: trying out things
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1707)
  .browser
Due: none

refactor: separate realm types
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/RealmStorage.ts
  tests/script/test_evaluate.py
  tests/script/test_realm.py
Due: copyright, node-self

chore: address comments
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

chore: fix chromedriver log location
  tools/run-wpt.mjs
Due: copyright

feat: implement worker realms
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  tests/script/test_realm.py
Due: copyright, node-self

fix: create dir if needed
  tools/run-wpt.mjs
Due: copyright

chore: fix chromedriver log location (#1711)
  tools/run-wpt.mjs
Due: copyright

Update tests/permissions/__init__.py
  tests/permissions/__init__.py
Due: copyright

fix f-string
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
Due: copyright

fix opaque origins
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
Due: copyright, node-self

feat: implement permissions
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/protocol.ts
  tests/permissions/__init__.py
  tests/permissions/set_permission.py
Due: copyright, node-self

feat: implement permissions (#1645)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/protocol.ts
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
Due: copyright, node-self

tests: add more screenshot tests
  README.md
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/capture_screenshot/document-height-document-width-viewport.png
  tests/browsing_context/capture_screenshot/document-width-document-height-viewport.png
  tests/browsing_context/capture_screenshot/element-document.png
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  tests/browsing_context/capture_screenshot/viewport-height-document-width-viewport.png
  tests/browsing_context/capture_screenshot/viewport-width-document-height-viewport.png
  tests/conftest.py
Due: copyright, node-self

feat: allow not partitioned cookies
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/__init__.py
  tests/storage/test_get_cookies.py
Due: copyright, node-self

extend e2e test
  tests/storage/test_set_cookies.py
Due: copyright

Fix e2e test
  tests/storage/test_set_cookies.py
Due: copyright

feat: allow not partitioned cookies (#1718)
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/__init__.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

ci: add automatic generation for permissions
  .github/workflows/update-bidi-types.yml
Due: none

ci: add automatic generation for permissions (#1716)
  .github/workflows/update-bidi-types.yml
Due: none

ci: fix artifact path
  .github/workflows/update-bidi-types.yml
Due: none

ci: fix artifact path (#1723)
  .github/workflows/update-bidi-types.yml
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
Due: copyright, node-self

ci: remove prettier in generator in favor of npm format
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

ci: remove prettier in generator in favor of npm format (#1726)
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

Disable flaky test
  tests/session/test_subscription.py
Due: copyright

test: disable flaky test (#1720)
  tests/session/test_subscription.py
Due: copyright

ci: only install pre-commit without extra stuff
  .github/workflows/update-bidi-types.yml
Due: none

ci: only install pre-commit without extra stuff (#1728)
  .github/workflows/update-bidi-types.yml
Due: none

ci: debug
  tools/generate-bidi-types.mjs
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

ci: debug
  .github/workflows/update-bidi-types.yml
  tools/generate-bidi-types.mjs
Due: copyright

Call `cddlconv` directly
  .github/workflows/update-bidi-types.yml
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
