Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: fix issue with not setting ids correctly
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix reload test
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/browsing_context/test_reload.py
Due: copyright, node-self

chore: add logging
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: 2
  tests/tools/local_http_server.py
Due: copyright

chore: fix style
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
Due: copyright, node-self

chore: small change
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

test: deflake test to use fetch instead of navigation
  tests/network/test_fail_request.py
Due: copyright

chore: deflake more tests
  tests/browsing_context/test_reload.py
  tests/network/test_fail_request.py
Due: copyright

fix: implement less flaky network module (#1871)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/browsing_context/test_reload.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/tools/local_http_server.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1911)
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
Due: copyright, node-self

test: fix logs
  tools/run-e2e.mjs
Due: copyright

test: fix logs (#1913)
  tools/run-e2e.mjs
Due: copyright

chore: verify browsing context
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextStorage.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: verify browsing context (#1912)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextStorage.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

feat: implement `storage.deleteCookies`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/test_delete_cookies.py
Due: copyright, node-self

feat: implement `storage.deleteCookies` (#1915)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/test_delete_cookies.py
Due: copyright, node-self

test: fix logging
  tools/run-e2e.mjs
Due: copyright

test: fix logging (#1916)
  tools/run-e2e.mjs
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/filter.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
Due: none

ci: in wpt html report sort tests by path and name
  tools/wpt-report-builder/formatter.mjs
Due: copyright

ci: in wpt html report sort tests by path and name (#1918)
  tools/wpt-report-builder/formatter.mjs
Due: copyright

ci: in wpt html report provide a link to the commit
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

ci: in wpt html report provide a link to the commit (#1920)
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

chore: use new headless
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

chore: enable some Network WPT tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/add_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
Due: none

chore: rerun wpt network test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/auth_required/unsubscribe.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/provide_response/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/auth_required/unsubscribe.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/provide_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
Due: none

chore: fix
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1921)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: fix formatter
  .github/workflows/puppeteer.yml
Due: none

ci: add puppeteer label to release pr
  .github/workflows/puppeteer.yml
Due: none

ci: add puppeteer label to release pr (#1922)
  .github/workflows/puppeteer.yml
Due: none

fix: compare
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: update the expectation
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

fix: add authChallenges to response
  src/bidiMapper/domains/network/NetworkRequest.ts
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: copyright, node-self

fix: add `authChallenges` to response (#1919)
  src/bidiMapper/domains/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: copyright, node-self

npm run format
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/script/SharedId.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/tsconfig.json
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.json
  src/tsconfig.json
  src/utils/tsconfig.json
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
