Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

FREEZE.unindexed
  tests/network/test_continue_request.py
Due: copyright

chore: remove unapplicable TODOs
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

chore: add TODO comments to maybe emit events later on
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: pytest: add ids, skip tests that do not use a local server
  src/bidiMapper/domains/network/NetworkManager.ts
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
Due: copyright, node-self

test: augment test_continue_request_completes
  tests/network/test_continue_request.py
Due: copyright

test: add test_continue_request_invalid_url
  tests/network/test_continue_request.py
Due: copyright

chore: remove obsolete TODO
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

test: add test_continue_request_invalid_phase
  tests/network/test_continue_request.py
Due: copyright

chore: mark request as non-blocked in fail request once it's complete
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

test: add test_continue_request_twice
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
Due: copyright, node-self

feat: distinguish phases: beforeRequestSent and responseStarted
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_request.py
Due: copyright, node-self

test: fix unit tests
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: update unit test
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: fix unit test
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add missing timeout param
  tests/browsing_context/test_nested_browsing_context.py
Due: copyright

test: add non existent request test
  tests/network/test_continue_request.py
Due: copyright

test: add assert_no_event_in_queue fixture
  tests/conftest.py
Due: copyright

chore: extract url parsing to its own parseUrlString method
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add test_fail_request_non_blocked_request
  tests/network/test_fail_request.py
Due: copyright

test: make tests more resilient and strict
  tests/conftest.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/test_helpers.py
Due: copyright

chore: use network utils methods, make response data non-required
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: simplify requestStateFromPhase
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

feat(network interception): implement continue request (#1331)
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/browsing_context/test_nested_browsing_context.py
  tests/conftest.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

chore: disallow chrome browser signin
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

chore: disallow chrome browser signin (#1404)
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

test: pytest wait_for_event helper: match prefixes
  tests/test_helpers.py
Due: copyright

test: pytest wait_for_events helper: match prefixes
  tests/test_helpers.py
Due: copyright

test: rewrite wait_for_event in terms of wait_for_events
  tests/test_helpers.py
Due: copyright

test: pytest `wait_for_event` helper: match prefixes (#1397)
  tests/test_helpers.py
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1406)
  .browser
Due: none

test: use match argument in pytest.raises to simplify assertions
  tests/browsing_context/test_set_viewport.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/network/test_remove_intercept.py
  tests/script/test_disown.py
  tests/script/test_remove_preload_script.py
  tests/script/test_shared_id.py
  tests/session/test_subscription.py
Due: copyright

test: use `match` argument in `pytest.raises` to simplify assertions (#1403)
  tests/browsing_context/test_set_viewport.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/network/test_remove_intercept.py
  tests/script/test_disown.py
  tests/script/test_remove_preload_script.py
  tests/script/test_shared_id.py
  tests/session/test_subscription.py
Due: copyright

test: move all non-local URLs to pytest fixtures
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/conftest.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/network/test_network.py
  tests/network/test_remove_intercept.py
Due: copyright

test: move all non-local URLs to pytest fixtures (#1408)
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/conftest.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/network/test_network.py
  tests/network/test_remove_intercept.py
Due: copyright

test: remove obsolete comment
  tests/network/test_continue_request.py
Due: copyright

test: add test_fail_request_remove_intercept_inflight_request
  tests/network/test_fail_request.py
Due: copyright

build(chrome): update the pinned browser version (#1411)
  .browser
Due: none

test: re-enable WPT responseStarted event
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/__dir__.ini
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
