Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test_nestedBrowsingContext_afterNavigation_getTreeWithNestedCrossOriginContexts_contextsReturned
  tests/browsing_context/test_nested_browsing_context.py
Due: copyright

clean up test_chromedriver_mode
  tests/browser/test_create_user_context.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_traverse_history.py
  tests/input/test_input.py
  tests/permissions/test_set_permission.py
  tests/script/test_add_preload_script.py
  tests/script/test_get_realms.py
  tests/script/test_serialization.py
  tests/session/test_subscription.py
Due: copyright

roll back test_permissions_set_permission
  tests/permissions/test_set_permission.py
Due: copyright

remove `--disable-features=` from node runner
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

test: re-enable some e2e cd tests (#3478)
  src/bidiServer/BrowserInstance.ts
  tests/browser/test_create_user_context.py
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_navigate_events.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_traverse_history.py
  tests/conftest.py
  tests/input/test_input.py
  tests/script/test_add_preload_script.py
  tests/script/test_get_realms.py
  tests/script/test_serialization.py
  tests/session/test_subscription.py
Due: copyright, node-self

test: stable
  tests/input/file_dialog/__snapshots__/test_file_dialog_opened.ambr
  tests/input/file_dialog/test_file_dialog_opened.py
  tests/test_helpers.py
Due: copyright

re-enable the rest of CD tests
  tests/permissions/test_set_permission.py
  tests/script/test_serialization.py
Due: copyright

add snapshot to test_serialization_internal_id
  tests/script/__snapshots__/test_serialization.ambr
  tests/script/test_serialization.py
Due: copyright

disable permissions on chromedriver
  tests/permissions/test_set_permission.py
Due: copyright

test: re-enable the rest of the e2e in cd (#3479)
  tests/input/file_dialog/__snapshots__/test_file_dialog_opened.ambr
  tests/input/file_dialog/test_file_dialog_opened.py
  tests/permissions/test_set_permission.py
  tests/script/__snapshots__/test_serialization.ambr
  tests/script/test_serialization.py
  tests/test_helpers.py
Due: copyright

Run 40 times
  .github/workflows/e2e.yml
Due: none

run in cd
  .github/workflows/e2e.yml
Due: none

test: --enable-features=WebBluetooth by default
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
  tests/bluetooth/test_service_emulation.py
  tests/conftest.py
Due: copyright

test: --enable-features=WebBluetooth by default (#3480)
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
  tests/bluetooth/test_service_emulation.py
  tests/conftest.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7223.0
  .browser
Due: none

build(chrome): update the pinned browser version to 139.0.7234.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 139.0.7234.0 (#3477)
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 139.0.7238.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 139.0.7239.0
  .browser
  package-lock.json
  package.json
Due: none

test: expectations update the #3492
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
Due: none

test: expectations update the #3492 (#3493)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/disable_simulation/context.py.ini
Due: none

build(chrome): update the pinned browser version to 139.0.7237.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 139.0.7237.0 (#3494)
  .browser
  package-lock.json
  package.json
Due: none

test: test_browsingContext_navigateWaitComplete_oopif_navigated
  tests/browsing_context/test_navigate.py
Due: copyright

assert iframe id
  tests/browsing_context/test_navigate.py
Due: copyright

test: test_browsingContext_navigateWaitComplete_oopif_navigated (#3496)
  tests/browsing_context/test_navigate.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7244.0
  .browser
  package-lock.json
  package.json
Due: none

Disable `LocalNetworkAccessChecks` to fix e2e
  tests/conftest.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7244.0 (#3497)
  .browser
  package-lock.json
  package.json
  tests/conftest.py
Due: copyright

extend e2e
  tests/browsing_context/test_download.py
  tests/conftest.py
Due: copyright

fix fixture
  tests/browsing_context/test_download.py
Due: copyright

remove comment
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: browsingContext.downloadFinished
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_download.py
  tests/browsing_context/test_download_will_begin.py
  tests/conftest.py
  tests/tools/local_http_server.py
  tools/run_local_http_server.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 139.0.7245.0
  .browser
Due: none

build(chrome): update the pinned browser version to 139.0.7245.0 (#3498)
  .browser
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

remove `ftpProxy`
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessot.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3500
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: none

test: expectations update the #3500 (#3501)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: none

build(spec): update WebDriverBiDi types (#3499)
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessot.spec.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
