Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: dynamically read `chromium-bidi-2023` label from upstream
  tools/wpt-report-builder/labelled-tests.mjs
Due: copyright

chore: dynamically read `chromium-bidi-2023` label from upstream (#1984)
  tools/wpt-report-builder/labelled-tests.mjs
Due: copyright

docs: print delta since 2023-12-31 in filtered HTML report (#1982)
  tools/wpt-report-builder/filter-2023.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
Due: none

feat: `invalid selector` error code
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: none

feat: `invalid selector` error
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
Due: copyright, node-self

update error message
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
Due: copyright, node-self

feat: `invalid selector` error (#1985)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: fix format
  tests/network/test_network.py
Due: copyright

test: make test use local server
  tests/network/test_network.py
Due: copyright

chore: move more things
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_navigate.py
Due: copyright

chore: fix flaky test
  tests/network/test_network.py
Due: copyright

test: make test use local server (#1973)
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_navigate.py
  tests/network/test_network.py
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

rename
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: support xpath locators
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
Due: copyright, node-self

format
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: support xpath locators (#1986)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: copyright, node-self

chore: extract response creation
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

revert: assert location
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

chore: extract response creation (#1989)
  src/bidiMapper/domains/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: none

chore: remove wrong expectation
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/contexts.py.ini
Due: none

chore: update `browsingContext.locateNodes`
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
Due: copyright, node-self

chore: update `browsingContext.locateNodes` (#1993)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/bidiServer/WebSocketServer.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: none

chore: remove
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/contexts.py.ini
Due: none

build(spec): update WebDriverBidi types (#1977)
  src/bidiServer/WebSocketServer.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/subscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: copyright, node-self

fix: the pattern matching logic
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: none

fix: the pattern matching logic (#1995)
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, node-self

ci: don't run WPT quick on main
  .github/workflows/wpt-quick.yml
Due: none

ci: don't run WPT quick on main (#1997)
  .github/workflows/wpt-quick.yml
Due: none

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1936)
  .browser
  package-lock.json
  package.json
Due: none

chore: forgotten change
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
