Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Check for navigation failures
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

Utilize `cdpTarget.frameStartedNavigating` event
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_navigate_events.py
  tests/browsing_context/test_print.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: copyright, node-self

provide detailed navigation error messages
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, check-chai-describe-it-only, node-self

unit tests
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/context/Navigationtracker.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

some magic for fragment navigation
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

fix reload events
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
Due: copyright, node-self

unflake wpt
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

fix about blank
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/test_create.py
Due: copyright, node-self

e2e beforeunload + historyUpdated + reload
  tests/browsing_context/test_history_updated.py
Due: copyright

comment
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

comments
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

respect urlMatchesAboutBlank
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

track navigations by loader id
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

chore: refactor navigation (#2881)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_navigate_events.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_print.py
  tests/conftest.py
  tests/input/test_input.py
  tests/script/test_add_preload_script.py
  tests/session/test_subscription.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: copyright, check-chai-describe-it-only, node-self

aborted navigation
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
Due: copyright, check-chai-describe-it-only, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

build(chrome): update the pinned browser version to 133.0.6901.0
  .browser
  package-lock.json
  package.json
Due: none

test: make `test_scriptNavigate_checkEvents` stable
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tests/conftest.py
Due: copyright, check-chai-describe-it-only, node-self

test: make `test_scriptNavigate_checkEvents` stable (#2901)
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tests/conftest.py
Due: copyright, check-chai-describe-it-only, node-self

feat: provide default `initiatorType`
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
Due: none

unmark flaky from `test_non_printable_key_sends_events`
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

test: unmark flaky from `test_non_printable_key_sends_events` (#2545)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

fix e2e test
  tests/network/test_network.py
Due: copyright

test: update the expectations for PR (#2904)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
Due: none

build(chrome): update the pinned browser version to 133.0.6901.0 (#2903)
  .browser
  package-lock.json
  package.json
  tests/network/test_network.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
Due: copyright

feat: abort navigation only after frame navigated
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: copyright, check-chai-describe-it-only, node-self

feat: abort navigation only after frame navigated (#2898)
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Revert "test: unmark flaky from `test_non_printable_key_sends_events` (#2545)"
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

test: mark flaky from `test_non_printable_key_sends_events` (#2905)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

disable eslint for a line
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

feat: throw a proper error if the browsing context was destroyed during action dispatching
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputProcessor.ts
Due: copyright, node-self

e2e test
  tests/input/test_input.py
Due: copyright

feat: throw a proper error if the browsing context was destroyed during action dispatching (#2908)
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputProcessor.ts
  tests/input/test_input.py
Due: copyright, node-self

ci: try adding the puppeteer label last
  .github/workflows/labeler.yml
Due: none

ci: try adding the puppeteer label last (#2910)
  .github/workflows/labeler.yml
Due: none

build(chrome): update the pinned browser version to 133.0.6903.0
  .browser
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
