Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test without negate
  .pre-commit-config.yaml
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

fix: remove unsubscribe by context
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
Due: copyright, check-chai-describe-it-only, node-self

remove not-relevant e2e
  tests/session/test_subscription.py
Due: copyright

build(spec): update WebDriverBiDi types
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

test: expectations update the #3737
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: none

test: expectations update the #3737 (#3738)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: none

test: expectations update the #3733
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
Due: none

build(spec): update WebDriverBiDi types (#3737)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: copyright, node-self

fix build
  src/bidiMapper/modules/session/SessionProcessor.ts
Due: copyright, node-self

test: expectations update the #3733 (#3739)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
Due: none

remove artifact
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

test: expectations update the #3733
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

test: expectations update the #3733 (#3740)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

build: add generator steps for speculation (#3728)
  .github/workflows/update-bidi-types.yml
Due: none

chore: touch dependabot config
  .github/dependabot.yml
Due: none

chore: touch dependabot config (#3744)
  .github/dependabot.yml
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
Due: copyright, node-self

test: expectations update the #3733
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
Due: none

test: expectations update the #3733 (#3749)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
Due: none

remove obsolete expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: none

fix: remove unsubscribe by context (#3733)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  tests/session/test_subscription.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_user_agent_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/invalid.py.ini
Due: copyright, check-chai-describe-it-only, node-self

feat: implement `browser.setDownloadBehavior`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.ts
  tests/browsing_context/test_download.py
  tests/conftest.py
Due: copyright, node-self

fix build
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

feat: implement `browser.setDownloadBehavior` (#3604)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.ts
  tests/browsing_context/test_download.py
  tests/conftest.py
Due: copyright, node-self

chore(main): release chromium-bidi 9.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build(spec): update WebDriverBiDi types (#3748)
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 142.0.7421.0
  .browser
  package-lock.json
  package.json
Due: none

test: expectations update the #3750
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/remove_user_context/user_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/close.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/original_opener.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/subscribe_steps.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/reference_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/frames.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/original_opener.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/root.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_origin.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/cookies_with_network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/provide_response/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/sandbox.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/filter.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
Due: none

test: expectations update the #3750 (#3751)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/remove_user_context/user_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/close.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/original_opener.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_created/subscribe_steps.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/reference_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/frames.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/original_opener.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/root.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_origin.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/cookies_with_network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/provide_response/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/sandbox.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/get_realms/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/filter.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
