Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(deps): relax dependency versions
  package-lock.json
  package.json
Due: none

build(deps): relax dependency versions (#3006)
  package-lock.json
  package.json
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/set_files/files.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/set_files/files.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/set_files/files.py.ini
Due: none

test: update the expectations for PR (#3008)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/set_files/files.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/set_files/files.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/set_files/files.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3010)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3016)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: warn if legacy channel was used
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/Transport.ts
  src/utils/log.ts
Due: copyright, node-self

chore: warn if legacy BiDi+ is used (#3017)
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/Transport.ts
  src/utils/log.ts
Due: copyright, node-self

add unit tests
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: implement unsubscribe by id
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/session/test_subscription.py
  tests/test_helpers.py
Due: copyright, node-self

feat: implement unsubscribe by id (#3013)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/session/test_subscription.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

chore: add prefer interfaces rule
  eslint.config.mjs
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/script/PreloadScript.ts
  src/bidiMapper/modules/script/RealmStorage.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/WebSocketServer.ts
  src/protocol/cdp.ts
  src/utils/EventEmitter.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/utils/EventEmitter.spec.ts
  src/utils/base64.spec.ts
  src/utils/base64.ts
  src/utils/cdpErrorConstants.ts
  src/utils/graphemeTools.spec.ts
  src/utils/graphemeTools.ts
  src/utils/urlHelpers.spec.ts
  src/utils/urlHelpers.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: add prefer interfaces rule (#3011)
  eslint.config.mjs
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/script/PreloadScript.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/RealmStorage.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/WebSocketServer.ts
  src/protocol/cdp.ts
  src/utils/EventEmitter.spec.ts
  src/utils/base64.spec.ts
  src/utils/base64.ts
  src/utils/cdpErrorConstants.ts
  src/utils/graphemeTools.spec.ts
  src/utils/graphemeTools.ts
  src/utils/urlHelpers.spec.ts
  src/utils/urlHelpers.ts
Due: copyright, check-chai-describe-it-only, node-self

remove bidi commands
  examples/classic_to_bidi_example.py
  examples/console_log_example.py
  examples/preload_script_example.py
  examples/print_example.py
  examples/screenshot_example.py
  examples/script_example.py
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/Transport.ts
  tools/generate-bidi-types.mjs
  tools/install-browser.mjs
  tools/run-bidi-server.mjs
  tools/run-e2e.mjs
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

chore: touch dependabot.yml
  .github/dependabot.yml
Due: none

chore: touch dependabot.yml (#3021)
  .github/dependabot.yml
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

test: update the expectations for PR (#3026)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

fix: handle max depth property
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
Due: copyright, node-self

test: update the expectations for PR (#3028)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

fix: handle max depth property (#3027)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: copyright, node-self

fix: rely on frameSubtreeWillBeDetached to emit contextDestroyed events
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: support correct to base64 for non-latin
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: fix
  eslint.config.mjs
  tests/network/test_provide_response.py
Due: copyright

fix: support correct to base64 for non-latin (#3031)
  eslint.config.mjs
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/network/test_provide_response.py
Due: copyright, node-self

test: update the expectations for PR (#3030)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: none

fix: rely on frameSubtreeWillBeDetached to emit contextDestroyed events (#3029)
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: copyright, node-self

chore: update EsLint preset
  eslint.config.mjs
Due: copyright

chore: update EsLint preset (#3032)
  eslint.config.mjs
Due: copyright

fix: fix unsubscribe by id parser
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

fix: fix unsubscribe by id parser (#3034)
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

ci: don't use always
  .github/workflows/e2e.yml
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
Due: none

chore: fox
  .github/workflows/wpt.yml
Due: none
