Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(chrome): update the pinned browser version to 136.0.7073.0
  .browser
Due: none

chore: update PR description (#3222)
  .github/workflows/update-browser-version.yml
Due: none

build(chrome): update the pinned browser version to 136.0.7074.0
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7074.0 (#3226)
  .browser
Due: none

chore: rely on `Page.frameStartedNavigating`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3104 (#3105)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

test: expectations update the #3104 (#3111)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

Regenerates types from spec
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

Fix unit tests
  src/protocol/ErrorResponse.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7077.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 136.0.7077.0 (#3229)
  .browser
  package-lock.json
  package.json
Due: none

fix unit tests
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

Remove `frameRequestedNavigation`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

test: expectations update the #3104
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

test: expectations update the #3104 (#3228)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

test: expectations update the #3104
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

build(chrome): update the pinned browser version to 136.0.7079.0
  .browser
Due: none

test: expectations update the #3104 (#3232)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

build(chrome): update the pinned browser version to 136.0.7079.0 (#3233)
  .browser
Due: none

fix unit tests
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: rely on `Page.frameStartedNavigating` CDP event
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
Due: copyright, node-self

chore: rely on `Page.frameStartedNavigating` CDP event
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

test: expectations update the #3236
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate_beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

Connect autofill bidi commands with cdp commands
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/autofill/AutofillProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Regenerate types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

test: expectations update the #3236 (#3237)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate_beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

comment
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

test: expectations update the #3236
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate_beforeunload.py.ini
Due: none

test: expectations update the #3236 (#3238)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate_beforeunload.py.ini
Due: none

Update autofill processor
  src/bidiMapper/modules/autofill/AutofillProcessor.ts
Due: copyright, node-self

comment
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, check-chai-describe-it-only, node-self

address PR comment
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

chore: rely on Page.frameStartedNavigating CDP event (#3236)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: copyright, check-chai-describe-it-only, node-self

fix build
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

Revert "chore: emulate `frameStartedNavigating` event (#2879)"
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
  src/cdp/CdpClient.ts
  tests/network/test_network.py
Due: copyright, node-self

e2e
  tests/browsing_context/test_navigate.py
  tests/network/test_network.py
Due: copyright

roll back unrelated change
  src/cdp/CdpClient.ts
Due: copyright, node-self

test: expectations update the #3241
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none
