Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

fix: cache DeviceAccess toggle
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  tests/session/test_subscription.py
Due: copyright, node-self

unsubscribe from all bluetooth events
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  tests/session/test_subscription.py
Due: copyright, node-self

chore: update test
  tests/session/test_subscription.py
Due: copyright

chore: do not throw an error when unsubscribing from event if the CDP session is closed (#2606)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  tests/session/test_subscription.py
Due: copyright, node-self

chore: fix build issue
  src/utils/UrlPattern-browser.ts
Due: copyright, node-self

test: iframe serialization
  tests/script/test_serialization.py
Due: copyright

test: iframe serialization (#2614)
  tests/script/test_serialization.py
Due: copyright

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

fix: don't unblock on interception removed
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: copyright, node-self

ci(browser): fix issue with updates
  .github/workflows/update-browser-version.yml
Due: none

ci(browser): fix issue with updates (#2619)
  .github/workflows/update-browser-version.yml
Due: none

test: update the expectations for PR (#2618)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

ci(browser): fix file path
  tools/update_chrome_revision.mjs
Due: copyright

ci(browser): fix file path (#2620)
  tools/update_chrome_revision.mjs
Due: copyright

feat(chrome)!: update the pinned browser version to 131.0.6724.0
  .browser
  package-lock.json
  package.json
Due: none

fix e2e
  src/bidiMapper/modules/script/Realm.ts
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 131.0.6724.0 (#2622)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/script/Realm.ts
Due: copyright, node-self

ci: fix `update-browser-version.yml`
  .github/workflows/update-browser-version.yml
Due: none

ci: fix `update-browser-version.yml` (#2621)
  .github/workflows/update-browser-version.yml
Due: none

build(chrome): update the pinned browser version to 131.0.6725.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 131.0.6725.0 (#2625)
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 131.0.6726.0
  .browser
Due: none

build(chrome): update the pinned browser version to 131.0.6726.0 (#2626)
  .browser
Due: none

fix: `browsingContext.traverseHistory` only for top-level navigables
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  tests/browsing_context/test_traverse_history.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
Due: none

test: update the expectations for PR (#2628)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
Due: none

feat: `browsingContext.traverseHistory` only for top-level navigables (#2627)
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  tests/browsing_context/test_traverse_history.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
Due: copyright, node-self

ci: fix dependabot
  .github/dependabot.yml
Due: none

Revert "ci: fix dependabot"
  .github/dependabot.yml
Due: none

revert + touch
  .github/dependabot.yml
Due: none

ci: touch dependabot (#2632)
  .github/dependabot.yml
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

test: update the expectations for PR (#2637)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/auth_required/auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/invalid.py.ini
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

revert: unintended change
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

fix: show correct log method
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

fix: show correct log method (#2644)
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
