Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: fix reminder
  .github/workflows/chromium-roll-reminder.yml
Due: none

ci: fix reminder (#1094)
  .github/workflows/chromium-roll-reminder.yml
Due: none

chore: use Protocol.Target.TargetID instead of string for CDP
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
Due: copyright, node-self

chore: use Protocol.Target.SessionID instead of string for CDP
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/cdp/cdpClient.ts
  src/cdp/cdpConnection.ts
  src/cdp/cdpMessage.ts
  src/protocol/cdp.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: small adjustments
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: use Protocol.Target.SessionID/TargetID instead of string for CDP (#1092)
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/cdp/cdpClient.ts
  src/cdp/cdpConnection.ts
  src/cdp/cdpMessage.ts
  src/protocol/cdp.ts
Due: copyright, node-self

test: mark test_input_performActionsEmitsPointerEvents as flaky
  tests/test_input.py
Due: copyright

test: mark more flakes
  tests/test_input.py
Due: copyright

test: introduce pytest flaky plug-in, mark observed flakes
  tests/requirements.txt
  tests/test_input.py
Due: copyright

ci: fix reminder (#1096)
  .github/workflows/chromium-roll-reminder.yml
Due: none

ci: add correct Permissions
  .github/workflows/chromium-roll-reminder.yml
Due: none

ci: add correct Permissions (#1100)
  .github/workflows/chromium-roll-reminder.yml
Due: none

test: write an unit test for exception classes
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: refactor
  src/protocol/ErrorResponse.spec.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

test: ensure exception class names end with Exception
  src/protocol/ErrorResponse.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: write an unit test for exception classes (#1097)
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
Due: copyright, check-chai-describe-it-only, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1101)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

test: add unit tests for assert.ts
  src/utils/assert.spec.ts
  src/utils/assert.ts
Due: copyright, check-chai-describe-it-only, node-self

test: use undefined instead of boolean for ErrorResponse
  src/protocol/ErrorResponse.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add unit tests for assert, simplify error response unit tests (#1103)
  src/protocol/ErrorResponse.spec.ts
  src/utils/assert.spec.ts
  src/utils/assert.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: don't publish `.tsbuildinfo`
  package.json
Due: none

fix: don't publish `.tsbuildinfo` (#1106)
  package.json
Due: none

chore: add correct types
  src/bidiMapper/BidiServer.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: add correct types (#1108)
  src/bidiMapper/BidiServer.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

test: create script/ directory
  tests/script/test_add_preload_script.py
  tests/script/test_call_function.py
  tests/script/test_channel.py
  tests/script/test_disown.py
  tests/script/test_evaluate.py
  tests/script/test_get_realms.py
  tests/script/test_realm.py
  tests/script/test_remove_preload_script.py
  tests/script/test_sandbox.py
  tests/script/test_serialization.py
  tests/script/test_serialization_options.py
  tests/script/test_shared_id.py
  tests/test_script.py
Due: copyright

test: create session/ directory
  tests/session/test_cdp.py
  tests/session/test_protocol_basics.py
  tests/session/test_subscription.py
Due: copyright

test: create log/ directory
  tests/log/test_log_entry_added.py
Due: copyright

test: create browsing_context/ directory
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/oopif.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  tests/browsing_context/test_activate.py
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_print.py
  tests/browsing_context/test_reload.py
  tests/browsing_context/test_set_viewport.py
  tests/browsing_context/test_user_prompt.py
  tests/test_browsing_context.py
Due: copyright

test: create input/ directory
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
Due: copyright

test: organize E2E tests per domain (#1110)
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/oopif.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  tests/browsing_context/test_activate.py
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_print.py
  tests/browsing_context/test_reload.py
  tests/browsing_context/test_set_viewport.py
  tests/browsing_context/test_user_prompt.py
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
  tests/log/test_log_entry_added.py
  tests/script/test_add_preload_script.py
  tests/script/test_call_function.py
  tests/script/test_channel.py
  tests/script/test_disown.py
  tests/script/test_evaluate.py
  tests/script/test_get_realms.py
  tests/script/test_realm.py
  tests/script/test_remove_preload_script.py
  tests/script/test_sandbox.py
  tests/script/test_serialization.py
  tests/script/test_serialization_options.py
  tests/script/test_shared_id.py
  tests/session/test_cdp.py
  tests/session/test_protocol_basics.py
  tests/session/test_subscription.py
  tests/test_browsing_context.py
  tests/test_script.py
Due: copyright

Implement user activation
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

test: address unrelated tests depending on user gestures
  tests/browsing_context/test_create.py
  tests/script/test_add_preload_script.py
  tests/script/test_call_function.py
Due: copyright

feat(script): implement user activation (#1105)
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/realm.ts
  tests/browsing_context/test_create.py
  tests/script/test_add_preload_script.py
  tests/script/test_call_function.py
Due: copyright, node-self

fix: use Results to prevent Unhandled promise rejections
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingBidiMessage.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiTab/bidiTab.ts
  src/utils/deferred.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
  src/utils/result.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: use Result passing to prevent Unhandled promise rejections (#1112)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingBidiMessage.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiTab/bidiTab.ts
  src/utils/deferred.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
  src/utils/result.ts
Due: copyright, check-chai-describe-it-only, node-self

test: headful: disable before_request_sent
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/__dir__.ini
Due: none

test: disable response_started tests
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/__dir__.ini
Due: none

test: re-enable network tests
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/__dir__.ini
Due: none
