Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(chrome): update the pinned browser version (#1854)
  .browser
  package-lock.json
  package.json
Due: none

test: fix html docs in test server setup
  tests/tools/local_http_server.py
Due: copyright

test: fix html docs in test server setup (#1861)
  tests/tools/local_http_server.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1860)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build: bump browsers package
  package-lock.json
  package.json
Due: none

build: bump browsers package (#1859)
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1857)
  .browser
  package-lock.json
  package.json
Due: none

chore: fox IdWrapper test
  src/utils/IdWrapper.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix CI
  .eslintrc.js
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: add CI block on some EsLint rules
  .eslintrc.js
Due: copyright

chore: add CI block on some EsLint rules (#1863)
  .eslintrc.js
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/utils/IdWrapper.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

refactor: simplify how events are emitted
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

refactor: simplify how events are emitted (#1864)
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

test: assert isBlocked is true
  tests/network/__init__.py
Due: copyright

test: assert isBlocked is true (#1845)
  tests/network/__init__.py
Due: copyright

build: bump Python to 3.12.2
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
  Pipfile
  Pipfile.lock
Due: none

test: add endpoint for favicon
  tests/tools/local_http_server.py
Due: copyright

test: add endpoint for favicon (#1866)
  tests/tools/local_http_server.py
Due: copyright

chore: fix empty setFiles case
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

chore: fix empty setFiles case (#1872)
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

feat: support user context in permissions
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  src/protocol-parser/protocol-parser.ts
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
Due: copyright, node-self

feat: support user context in permissions (#1805)
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  src/protocol-parser/protocol-parser.ts
  tests/permissions/__init__.py
  tests/permissions/test_set_permission.py
Due: copyright, node-self

test: fix flaky e2e test
  tests/browsing_context/test_create.py
Due: copyright

test: fix flaky e2e test (#1874)
  tests/browsing_context/test_create.py
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1865)
  .browser
Due: none

build: output third party notices
  package-lock.json
  package.json
  rollup.config.mjs
Due: copyright

build: output third party notices (#1878)
  package-lock.json
  package.json
  rollup.config.mjs
Due: copyright

test: reset PyTest HTTP server before use
  tests/tools/local_http_server.py
Due: copyright

Run `test_create_blocked_request` 100 times
  tests/browser/__init__.py
  tests/network/test_experiment.py
Due: copyright

test: reset PyTest HTTP server before use (#1869)
  tests/tools/local_http_server.py
Due: copyright

Full log
  tools/run-bidi-server.mjs
Due: copyright

Full log
  package.json
Due: none

fix: use better error handling
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

fix: use better error handling (#1877)
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
