Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

chore: support string `unhandledPromptBehavior` in NodeJS runner (#2396)
  src/bidiServer/WebSocketServer.ts
  tests/browsing_context/test_user_prompt.py
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/handler.py.ini
Due: copyright, node-self

chore: fix default `beforeUnload` behavior
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
Due: none

fix: default `beforeUnload` behavior is `accept`
  tests/browsing_context/test_close.py
Due: copyright

fix: default `beforeUnload` behavior is `accept` (#2397)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_user_prompt.py
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
Due: copyright, node-self

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
Due: none

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/set_cookie/invalid.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_bypass.py.ini
Due: none

chore: ignore metadata
  .pre-commit-config.yaml
Due: none

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2395)
  .browser
  package-lock.json
  package.json
Due: none

Re-add the ignored word.
  .pre-commit-config.yaml
Due: none

feat: include vendor-prefixed security details
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

feat: include vendor-prefixed security details (#2405)
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

feat: include vendor-prefixed additional request data
  src/bidiMapper/modules/network/NetworkRequest.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_network.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright, node-self

feat: include vendor-prefixed additional request data (#2406)
  src/bidiMapper/modules/network/NetworkRequest.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_network.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright, node-self

fix: support `default` for BeforeUnload prompt
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: fix test
  tests/browsing_context/test_user_prompt.py
Due: copyright

chore: don't use match
  tests/browsing_context/test_user_prompt.py
Due: copyright

chore: fix
  tests/browsing_context/test_user_prompt.py
Due: copyright

fix: support `default` for BeforeUnload prompt (#2412)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/handler.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/handler.py.ini
Due: none

build(chrome): update the pinned browser version (#2403)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/handler.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/handler.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#2417)
  .browser
Due: none

chore: update pre-commit hooks to latest version (#2353)
  .pre-commit-config.yaml
Due: none

chore: remove change
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

chore: fix
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

fix: support for other interception
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

chore: fix
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

fix: support for cookies in ContinueRequest (#2370)
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
Due: none

build(chrome): update the pinned browser version (#2423)
  .browser
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/close/prompt_unload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
Due: none

fix: only auto-attach to a target once
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  tests/session/test_cdp.py
Due: copyright, node-self

chore: t
  tests/session/test_cdp.py
Due: copyright

test_cdp_processes_target_attachToTarget_command
  tests/session/test_cdp.py
Due: copyright

chore: run pre-commit hooks before push, not before commit
  .pre-commit-config.yaml
Due: none
