Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

refactor: separate realm types
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/DedicatedWorkerRealm.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/RealmStorage.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/WindowRealm.ts
  tests/script/test_evaluate.py
  tests/script/test_realm.py
Due: copyright, node-self

feat: separate realm types (#1709)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/DedicatedWorkerRealm.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/RealmStorage.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/WindowRealm.ts
  tests/script/test_evaluate.py
  tests/script/test_realm.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version
  package-lock.json
  package.json
Due: none

feat: support user context in cookies API
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/conftest.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

Update src/bidiMapper/domains/storage/StorageProcessor.ts
  src/bidiMapper/domains/storage/StorageProcessor.ts
Due: copyright, node-self

rename test fixture to `user_context_id`
  tests/conftest.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright

feat: support user context in cookies API (#1781)
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/conftest.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

chore: remove auto-added import
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

revert: instanceof checks (Exception does not extend Error)
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
Due: copyright, node-self

chore: revert comment remove
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
Due: copyright, node-self

refactor: use single type for channels
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: fix precommit
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: add more type fixes
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

refactor: update types to more accurate represenation (#1780)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: fix Promise rejection was handled asynchronously
  src/cdp/CdpClient.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: comment
  src/cdp/CdpClient.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: fix Promise rejection was handled asynchronously (#1784)
  src/cdp/CdpClient.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

Revert "feat: separate realm types (#1709)"
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/DedicatedWorkerRealm.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/RealmStorage.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/WindowRealm.ts
  tests/script/test_evaluate.py
  tests/script/test_realm.py
Due: copyright, node-self

refactor: clean up some naming
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/PreloadScript.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: unit test
  src/bidiMapper/domains/script/PreloadScriptStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

refactor: clean up some naming (#1796)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/PreloadScript.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

ci: fix Puppeteer label
  .github/workflows/puppeteer.yml
Due: none
