Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: expectations update the #3522 (#3523)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_end/download_end.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_end/status.py.ini
Due: none

feat(chrome)!: update the pinned browser version to 140.0.7259.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 140.0.7259.0 (#3524)
  .browser
  package-lock.json
  package.json
Due: none

feat: support emulation.setScreenOrientationOverride
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_orientation.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: support `emulation.setScreenOrientationOverride` (#3439)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_orientation.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 140.0.7262.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7262.0 (#3526)
  .browser
  package-lock.json
  package.json
Due: none

add `emulation.setLocaleOverride`
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3530)
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: implement `emulation.setLocaleOverride`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/emulation/test_locale.py
Due: copyright, check-chai-describe-it-only, node-self

test iframes
  tests/emulation/test_locale.py
Due: copyright

feat: implement `emulation.setLocaleOverride` (#3425)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/emulation/test_locale.py
Due: copyright, check-chai-describe-it-only, node-self

test: test emulations in iframes
  tests/conftest.py
  tests/emulation/test_geolocation.py
  tests/emulation/test_locale.py
  tests/emulation/test_screen_orientation.py
Due: copyright

update snapshots
  tests/emulation/__snapshots__/test_geolocation.ambr
Due: none

fix `test_serialization_iframe`
  tests/script/test_serialization.py
Due: copyright

build(chrome): update the pinned browser version to 140.0.7268.0
  .browser
  package-lock.json
  package.json
Due: none

test: test emulations in iframes (#3534)
  tests/conftest.py
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
  tests/emulation/test_locale.py
  tests/emulation/test_screen_orientation.py
  tests/script/test_serialization.py
Due: copyright

build(chrome): update the pinned browser version to 140.0.7269.0
  .browser
  package-lock.json
  package.json
Due: none

fix eslint
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3539)
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version to 140.0.7269.0 (#3531)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version to 140.0.7271.0
  .browser
Due: none

build(chrome): update the pinned browser version to 140.0.7271.0 (#3540)
  .browser
Due: none

build(chrome): update the pinned browser version to 140.0.7272.0
  .browser
Due: none

build(chrome): update the pinned browser version to 140.0.7272.0 (#3541)
  .browser
Due: none

feat: Extend `browser.createUserContext` with `unhandledPromptBehavior` parameter
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browser/test_create_user_context.py
Due: copyright, node-self

chore: parse `network.addDataCollector` and `network.removeDataCollector` params
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

parseGetDataParams
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

parseSetClientWindowStateParameters
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: parse not implemented command's params (#3544)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

add `network.disownData` to command processor
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3547)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

verify `addDataCollector` params + update fetch only on impacted CDP targets
  src/bidiMapper/modules/network/NetworkProcessor.ts
Due: copyright, node-self

feat: implement network data collectors
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  src/protocol-parser/protocol-parser.ts
  tests/network/collectors/__init__.py
  tests/network/collectors/test_get_data.py
Due: copyright, node-self

`network.removeDataCollector`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  tests/network/test_data_collectors.py
Due: copyright, node-self
