Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: simplify `emulation.setScriptingEnabled` tests
  tests/emulation/test_scripting_enabled.py
Due: copyright

test: simplify `emulation.setScriptingEnabled` tests (#3649)
  tests/emulation/test_scripting_enabled.py
Due: copyright

build(chrome): update the pinned browser version to 141.0.7359.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 141.0.7367.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 141.0.7367.0 (#3652)
  .browser
  package-lock.json
  package.json
Due: none

feat: `emulation.setUserAgentOverride`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

test: expectations update the #3659
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/get_data/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/get_data/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/invalid.py.ini
Due: none

test: expectations update the #3659 (#3660)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/get_data/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/get_data/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/disown_data/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/invalid.py.ini
Due: none

implement navigator user agent emulation
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/__init__.py
  tests/emulation/test_user_agent.py
Due: copyright, node-self

feat: validate `browser.createUserContext:proxy`
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessot.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3662
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: none

test: expectations update the #3662 (#3663)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: none

build(chrome): update the pinned browser version to 141.0.7373.0
  .browser
  package-lock.json
  package.json
Due: none

ci: add conventional commit check
  .github/workflows/conventional-commits.yml
Due: none

ci: add conventional commit check (#3666)
  .github/workflows/conventional-commits.yml
Due: none

build(chrome): update the pinned browser version to 141.0.7373.0 (#3658)
  .browser
  package-lock.json
  package.json
Due: none

ci: move release-please to actions
  .github/release-please.yml
  .github/workflows/release-please.yml
Due: none

ci: move release-please to actions (#3667)
  .github/release-please.yml
  .github/workflows/release-please.yml
Due: none

build(chrome): update the pinned browser version to 141.0.7374.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 141.0.7374.0 (#3668)
  .browser
  package-lock.json
  package.json
Due: none

feat: do not dispose request until all the collectors are gone
  src/bidiMapper/modules/network/NetworkStorage.ts
Due: copyright, node-self

test: expectations update the #3669
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
Due: none

test: expectations update the #3669 (#3670)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
Due: none

feat: do not fail navigation command if was canceled by another navigation
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

test: expectations update the #3671
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

feat: do not dispose request until all the collectors are gone (#3669)
  src/bidiMapper/modules/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/disown.py.ini
Due: copyright, node-self

fix: support get data for OOPiF
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  tests/network/test_data_collectors.py
Due: copyright, node-self

re-work
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  tests/network/test_data_collectors.py
Due: copyright, node-self

fix: support network.getData on OOPiF (#3674)
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  tests/network/test_data_collectors.py
Due: copyright, node-self

test: expectations update the #3677
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
Due: none

test: expectations update the #3677 (#3678)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
Due: none

test: expectations update the #3671 (#3672)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

test: expectations update the #3671
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
Due: none

test: expectations update the #3671 (#3679)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
Due: none

test: expectations update the #3671
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

test: expectations update the #3671 (#3680)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

build(chrome): update the pinned browser version to 141.0.7381.0
  .browser
  package-lock.json
  package.json
Due: none
