Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Update window_handle.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
Due: none

path
  tools/run-wpt.mjs
Due: copyright

Update node_shared_id.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
Due: none

Update tools/run-wpt.mjs
  tools/run-wpt.mjs
Due: copyright

Update node_shared_id.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
Due: none

test: update wpt expectations for classic_interop
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
Due: none

test: update wpt expectations for classic_interop (#1561)
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
Due: none

format
  tools/run-wpt.mjs
Due: copyright

Big re-work
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
  tools/run-wpt.mjs
Due: copyright

Fix build
  tools/install-browser.mjs
Due: copyright

Fix build
  tools/run-wpt.mjs
Due: copyright

Revert some unnecessary changes
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
  tools/run-wpt.mjs
Due: copyright

Revert "Revert some unnecessary changes"
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
  tools/run-wpt.mjs
Due: copyright

Run WPT in ChromeDriver
  tools/run-wpt.mjs
Due: copyright

disable other workflows
  .github/workflows/wpt.yml
Due: none

update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key_modifier.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse_multiclick.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/release_actions/sequence.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
Due: none

Re-enable other WPT tests
  .github/workflows/wpt.yml
Due: none

ci: v2 respect CHROMEDRIVER parameter in WPT run (#1562)
  tools/run-wpt.mjs
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/classic_interop/window_handle.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key_modifier.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse_multiclick.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/release_actions/sequence.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
Due: copyright

Change log
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

`acceptInsecureCerts`
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Use `bad_ssl_url` fixture
  tests/browsing_context/test_navigate.py
Due: copyright

Update fixture
  tests/conftest.py
Due: copyright

Comment
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Wrap `acceptInsecureCerts` in `MapperOptions`
  src/bidiMapper/BidiServer.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Refactor sessions
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Add e2e tests and fix minor issues
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiTab/bidiTab.ts
  tests/browsing_context/test_navigate.py
  tests/conftest.py
Due: copyright, node-self

Refactor sessions
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Fix sessionId format
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

update tests
  src/bidiServer/WebSocketServer.ts
  tests/browsing_context/test_navigate.py
  tests/conftest.py
Due: copyright, node-self

update snapshots
  src/bidiServer/WebSocketServer.ts
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/input/__snapshots__/test_input.ambr
Due: copyright, node-self

reformat
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

`acceptInsecureCerts` from server side
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
  tests/conftest.py
Due: copyright, node-self

update test
  tests/browsing_context/test_navigate.py
Due: copyright

Update src/bidiServer/WebSocketServer.ts
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Comment
  tests/conftest.py
Due: copyright

Disable flaky test
  tests/network/test_fail_request.py
Due: copyright

Don't wait for the instance to be closed
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
