Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: update `eslint` (#3600)
  package-lock.json
  package.json
Due: none

feat: implement `browser.setDownloadBehavior`
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Parse + build
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

browser.setDownloadBehavior
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  tests/browsing_context/test_download.py
  tests/conftest.py
Due: copyright, node-self

e2e
  tests/browsing_context/test_download.py
Due: copyright

'Download in non-default user contexts requires destination folder'
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browsing_context/test_download.py
Due: copyright, node-self

feat: support `emulation.setJavascriptEnabled`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

update types
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

stabilize e2e
  tests/emulation/test_scripting_enabled.py
Due: copyright

update + implement + e2e
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  tests/conftest.py
  tests/emulation/test_scripting_enabled.py
Due: copyright, node-self

fix e2e
  tests/conftest.py
  tests/emulation/test_scripting_enabled.py
Due: copyright

test: open extension page
  tests/webExtension/test_web_extension.py
Due: copyright

Update tests/webExtension/test_web_extension.py
  tests/webExtension/test_web_extension.py
Due: copyright

test: open extension page (#3606)
  tests/webExtension/test_web_extension.py
Due: copyright

build(chrome): update the pinned browser version to 140.0.7319.0
  .browser
  package-lock.json
  package.json
Due: none

test: expectations update the #3608
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build + implement parsers
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

keep-sorted protocol-parser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3611)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: rerun proxy test, as it's flaky
  tests/browser/test_create_user_context.py
Due: copyright

test: wait for proxy to start
  tests/browser/test_create_user_context.py
  tests/tools/http_proxy_server.py
  tools/http-proxy.mjs
Due: copyright

use `httpbin.org`
  tests/browser/test_create_user_context.py
Due: copyright

test: wait for proxy to start + use `http://httpbin.org/get` (#3612)
  tests/browser/test_create_user_context.py
  tests/tools/http_proxy_server.py
  tools/http-proxy.mjs
Due: copyright

build(chrome): update the pinned browser version to 140.0.7328.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7328.0 (#3601)
  .browser
  package-lock.json
  package.json
Due: none

fix: allow svg element as a start node
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: allow svg element as a start node (#3614)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: expectations update the #3617
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
Due: none

test: expectations update the #3617 (#3618)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
Due: none

chore(deps): Bump wpt from `bd85360` to `e0329ea` (#3617)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_data_collector/invalid.py.ini
Due: none

build(chrome): update the pinned browser version to 140.0.7333.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7339.2
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7339.2 (#3619)
  .browser
  package-lock.json
  package.json
Due: none

fix(build): resolve dependency conflict
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7339.6
  .browser
Due: none

build(chrome): update the pinned browser version to 140.0.7339.6 (#3626)
  .browser
Due: none

fix: respect configs in OOPiF
  GEMINI.md
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/MapperOptions.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.ts
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_geolocation.py
  tests/emulation/test_locale.py
  tests/emulation/test_timezone.py
Due: copyright, node-self

Add prerenderingDisabled to congig
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
Due: copyright, node-self

test: expectations update the #3630
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
