Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

feat: wip dpr
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
  tests/browsing_context/test_set_viewport.py
Due: copyright, node-self

feat: wip device pixel ratio
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
  tests/browsing_context/test_set_viewport.py
Due: copyright, node-self

Fix test runner
  tests/__init__.py
  tests/tools/test_local_http_server.py
Due: copyright

Remove extra (c)
  tests/tools/__init__.py
  tests/tools/local_http_server.py
Due: copyright

feat: implement device pixel ratio changes (#1422)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
  tests/browsing_context/test_set_viewport.py
Due: copyright, node-self

Add http server runner script
  README.md
  package.json
  tools/run_local_http_server.py
Due: copyright

Add check exception
  tools/run_local_http_server.py
Due: copyright

fix style
  tests/conftest.py
Due: copyright

test: static local HTTP server for e2e tests (#1420)
  .pre-commit-config.yaml
  tests/conftest.py
  tests/requirements.txt
  tests/tools/__init__.py
  tests/tools/local_http_server.py
  tests/tools/test_local_http_server.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

Update README.md
  README.md
Due: none

Update tools/run_local_http_server.py
  tools/run_local_http_server.py
Due: copyright

fix merge
  tests/conftest.py
  tools/run_local_http_server.py
Due: copyright

fix merge
  tools/run_local_http_server.py
Due: copyright

Fix Path
  tools/run_local_http_server.py
Due: copyright

update output message
  tools/run_local_http_server.py
Due: copyright

fix: update types
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
Due: copyright, node-self

Update library name
  tests/tools/local_http_server.py
Due: copyright

build(spec): update WebDriverBidi types (#1425)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
Due: copyright, node-self

feat: add quality for `webp`
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: add quality for `webp` (#1426)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: manual local http server runner (#1423)
  README.md
  package.json
  tests/conftest.py
  tests/tools/local_http_server.py
  tools/run_local_http_server.py
Due: copyright

Set selfTargetId via `evaluate`
  src/bidiServer/MapperCdpConnection.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Simplify Mapper Tab
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

Improve logging
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/reader.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

update comment
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

remove space
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

misc: Set `selfTargetId` via `evaluate` (#1429)
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/reader.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

feat: implement document origin screenshots
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/capture_screenshot/element-document.png
  tests/browsing_context/capture_screenshot/element.png
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
Due: copyright, node-self

feat: implement document origin screenshots (#1427)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/capture_screenshot/element-document.png
  tests/browsing_context/capture_screenshot/element.png
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1431)
  .browser
  package-lock.json
  package.json
Due: none

Unify browser session usage
  src/cdp/CdpConnection.ts
Due: copyright, node-self

Remove browserCdpClient from cdpClient
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.ts
Due: copyright, node-self

chore: update expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
Due: none

chore: add test for SharedWorker
  tests/network/test_network.py
Due: copyright

build(chrome): update the pinned browser version
  package-lock.json
  package.json
Due: none

chore: add test for SharedWorker (#1351)
  tests/network/test_network.py
Due: copyright

build(chrome): update the pinned browser version (#1432)
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
