Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

chore(main): release chromium-bidi 9.0.0 (#3696)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add command parsers
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

feat: `emulation.setUserAgentOverride`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

implement navigator user agent emulation
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/__init__.py
  tests/emulation/test_user_agent.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3718)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

global override
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_user_agent.py
Due: copyright, node-self

iframe test
  tests/emulation/test_user_agent.py
Due: copyright

Adding speculation related changes
  package.json
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

lint
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

remove unnecessary
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

Adding speculation module
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

remove console
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

fix small merge miss
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

feat: validate `browser.createUserContext:proxy`
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessot.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3662 (#3663)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/create_user_context/invalid.py.ini
Due: none

feat: `emulation.setUserAgentOverride` (#3661)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/__init__.py
  tests/emulation/test_user_agent.py
Due: copyright, node-self

chore(main): release chromium-bidi 9.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

test: locale emulation in popup
  tests/emulation/test_locale.py
Due: copyright

test the locale is not inherited
  tests/emulation/test_locale.py
Due: copyright

build(chrome): update the pinned browser version to 142.0.7411.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 142.0.7414.0
  .browser
  package-lock.json
  package.json
Due: none

update issue link
  tests/emulation/test_locale.py
Due: copyright

test: locale emulation in popup (#3722)
  tests/emulation/test_locale.py
Due: copyright

test: expectations update the #3723
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

test: expectations update the #3723 (#3724)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

disabled timeout WPT tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

build(chrome): update the pinned browser version to 142.0.7415.0 (#3713)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

added e2e test for speculation module
  tests/speculation/__init__.py
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

adding e2d test
  tests/speculation/__init__.py
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

adding e2e tests
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

update copyright
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

copyright
  tests/speculation/__init__.py
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

copyright fixes hopefully
  tests/speculation/__init__.py
  tests/speculation/test_prefetch_status_updated.py
Due: copyright

build(chrome): update the pinned browser version to 142.0.7416.0
  .browser
Due: none

add nav-speculation spec to webdriver types
  .github/workflows/update-bidi-types.yml
Due: none

change bikeshed path and format
  .github/workflows/update-bidi-types.yml
Due: none

build(chrome): update the pinned browser version to 142.0.7416.0 (#3727)
  .browser
Due: none

update version
  .pre-commit-config.yaml
Due: none
