Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

reformat
  src/bidiMapper/domains/context/bidiPreloadScript.ts
Due: copyright, node-self

fix e2e test
  tests/test_preload_script.py
Due: copyright

Support preload scripts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

misc
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

shorten string
  src/bidiMapper/domains/context/bidiPreloadScript.ts
Due: copyright, node-self

support different order of initialization
  src/bidiMapper/domains/script/channelProxy.ts
  tests/test_preload_script.py
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
Due: none

PR comments
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

Comments
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/script/channelProxy.ts
Due: copyright, node-self

Channels in preload scripts (#857)
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  tests/test_preload_script.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/arguments.py.ini
Due: copyright, node-self

feat: add frameNavigated event
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol/protocol.ts
  tests/test_browsing_context.py
Due: copyright, check-chai-describe-it-only, node-self

feat: add frameNavigated event (#865)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol/protocol.ts
  tests/test_browsing_context.py
Due: copyright, check-chai-describe-it-only, node-self

preload scripts: add e2e new context test with user gesture
  tests/test_preload_script.py
Due: copyright

Don't wait for the blocked commands result when unblocking target
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

Add browsing context test
  tests/test_browsing_context.py
Due: copyright

Wait for all the scheduled commands are finished after all
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

fix one of the promises
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

style
  tests/test_browsing_context.py
Due: copyright

runBiDiServer: make it possible to specify a LOG_FILE
  runBiDiServer.sh
Due: none

Release 0.4.13
  package-lock.json
  package.json
Due: none

runBiDiServer: make it possible to specify a LOG_FILE (#869)
  runBiDiServer.sh
Due: none

Release 0.4.13 (#870)
  package-lock.json
  package.json
Due: none

ignore events from not current navigation
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

chore: small fix
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/network/networkRequest.ts
Due: copyright, node-self

chore: small fix (#866)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/network/networkRequest.ts
Due: copyright, node-self

chore: use release-please
  .github/release-please.yml
  .github/workflows/release.yml
  release-please-config.json
Due: none

eslint: add promise-function-async
  .eslintrc.js
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/OutgoingBidiMessage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpClient.ts
  src/cdp/cdpConnection.ts
  src/utils/Mutex.ts
  src/utils/deferred.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
Due: copyright, check-chai-describe-it-only, node-self

Update release-please-config.json: handle pre-commit.com issue
  release-please-config.json
Due: none

chore: use release-please (#873)
  .github/release-please.yml
  .github/workflows/release.yml
  release-please-config.json
Due: none

ignore events from not current navigation (#871)
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

Avoid deadlock in Target initialization (#752)
  src/bidiMapper/domains/context/cdpTarget.ts
  tests/test_browsing_context.py
  tests/test_preload_script.py
Due: copyright, node-self

Revert "Avoid deadlock in Target initialization (#752)"
  src/bidiMapper/domains/context/cdpTarget.ts
  tests/test_browsing_context.py
  tests/test_preload_script.py
Due: copyright, node-self

Revert "Avoid deadlock in Target initialization (#752)" (#879)
  src/bidiMapper/domains/context/cdpTarget.ts
  tests/test_browsing_context.py
  tests/test_preload_script.py
Due: copyright, node-self

chore: use release-please for publishing
  .github/workflows/publish.yml
  .gitignore
  .release-please-manifest.json
Due: none

chore: use release-please for publishing (#878)
  .github/workflows/publish.yml
  .gitignore
  .release-please-manifest.json
Due: none

perform a few adjustments
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/protocol.ts
  tests/test_viewport.py
Due: copyright, node-self

Implement browsingContext.setViewport
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/protocol.ts
  tests/test_emulation.py
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
