Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1900)
  .browser
  package-lock.json
  package.json
Due: none

test: fix user context tests
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
Due: copyright, node-self

test: fix user context tests (#1901)
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
Due: copyright, node-self

build: add cddlconv version to the file header
  tools/generate-bidi-types.mjs
Due: copyright

build: update types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build: update types (#1904)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

chore: fix doc
  tools/run-wpt.mjs
Due: copyright

test: make test fail faster
  tools/run-wpt.mjs
Due: copyright

chore: disable slow test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
Due: none

test: make test fail faster (#1892)
  tools/run-wpt.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
Due: copyright

chore: remove unused variable
  tools/run-e2e.mjs
Due: copyright

docs: update README
  README.md
  tools/run-e2e.mjs
Due: copyright

ci: log fails only
  tools/run-e2e.mjs
Due: copyright

ci: BiDi server logs only when test fail (#1898)
  README.md
  tools/run-e2e.mjs
Due: copyright

fix: parse `browser.RemoveUserContextParameters`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
Due: none

fix: parse `browser.RemoveUserContextParameters` (#1905)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/remove_user_context/invalid.py.ini
Due: copyright, node-self

test: add test filter to e2e
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

chore: address comments
  README.md
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

chore: fix issues
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

chore: add fix
  tools/run-e2e.mjs
Due: copyright

test: add test filter to e2e (#1907)
  README.md
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1908)
  .browser
Due: none

chore: mark test correctly
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright

chore: fixes
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: enable test
  tests/network/test_continue_with_auth.py
Due: copyright

chore: disable url_patterns test for now
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: none

fix: handle case of Auth before RequestInfo
  src/bidiMapper/domains/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix auth event
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: remove network request deferred
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/browsing_context/test_reload.py
Due: copyright, check-chai-describe-it-only, node-self

chore: simplify implementation
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: don't relay on phase
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: remove comment
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
Due: copyright

chore: fix
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: fix format
  tests/network/test_continue_response.py
Due: copyright

chore: enable tests
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: better matching
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: remove test only
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self
