Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

feat: update UrlPattern
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: populate remove intercept
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

feat: make network storage useful for CDP Fetch.enable
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: drop process_network_ prefix
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

chore: add disposeRequestMap method to NetworkStorage
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

feat: introduce network storage class
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

fix: duplicate exception classes
  src/protocol/ErrorResponse.ts
Due: copyright, node-self

feat: incorporate network interception spec
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

test: scaffold network interception test
  tests/network/test_network_interception.py
Due: copyright

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
Due: none

feat: add missing error classes
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
Due: copyright, check-chai-describe-it-only, node-self

test: fix e2e tests
  tests/browsing_context/test_reload.py
  tests/network/test_network.py
Due: copyright

feat: fix isBlocked build error
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

test: fix e2e
  tests/network/test_add_intercept.py
  tests/network/test_remove_intercept.py
Due: copyright

test: add intercept test with a pattern
  tests/network/test_add_intercept.py
Due: copyright

feat: scaffold network request interception (#1050)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiTab/BidiParserImpl.ts
  src/cdp/cdpConnection.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/webdriver-bidi.ts
  tests/browsing_context/test_reload.py
  tests/network/test_add_intercept.py
  tests/network/test_network.py
  tests/network/test_remove_intercept.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: none

test: mark network_events.py.ini as flaky: TIMEOUT, OK
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
Due: none

build(chrome): update the pinned browser version (#1160)
  .browser
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
Due: none

chore: use main for `cddlconv`
  .github/workflows/update-bidi-types.yml
Due: none

chore: use main for `cddlconv` (#1185)
  .github/workflows/update-bidi-types.yml
Due: none

build: pin WPT action
  .github/workflows/wpt.yml
Due: none

build(spec): update WebDriverBidi types
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build: pin WPT action (#1180)
  .github/workflows/wpt.yml
Due: none

build(spec): update WebDriverBidi types (#1187)
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1188)
  .browser
Due: none

chore: use helper to navigate
  tests/browsing_context/test_create.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/script/test_add_preload_script.py
  tests/script/test_remove_preload_script.py
Due: copyright

chore: use helper to navigate (#1189)
  tests/browsing_context/test_create.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/script/test_add_preload_script.py
  tests/script/test_remove_preload_script.py
Due: copyright

fix: filter only sent cookies
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

fix: add test
  tests/network/test_network.py
Due: copyright

fix: filter only sent cookies (#1184)
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_network.py
Due: copyright, node-self

fix: remove deep-serialization checks
  src/bidiMapper/domains/script/channelProxy.ts
Due: copyright, node-self

fix: remove deep-serialization checks (#1190)
  src/bidiMapper/domains/script/channelProxy.ts
Due: copyright, node-self

chore: remove `expected` expectation
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

chore: remove `expected` expectation (#1192)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

build(chrome): update the pinned browser version (#1195)
  .browser
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
