Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: fix flakiness
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

update wpt expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
Due: none

test: enable some tests
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_remove_intercept.py
Due: copyright, node-self

chore: small fixes
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: improve response interception
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: fix style
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/test_helpers.py
  tests/tools/local_http_server.py
Due: copyright, node-self

chore: earlier emit of started
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

test: smart request
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: address comments
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add test for ResponseStarted
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: fix IdWrapper test
  src/utils/IdWrapper.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add unit testing
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1819)
  .browser
  package-lock.json
  package.json
Due: none

ci: allow running Puppeteer CI on main
  .github/workflows/puppeteer.yml
Due: none

ci: allow running Puppeteer CI on main (#1853)
  .github/workflows/puppeteer.yml
Due: none

chore: fix tests
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/conftest.py
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/test_helpers.py
  tests/tools/local_http_server.py
Due: copyright, node-self

chore: fix e2e tests
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
Due: copyright, node-self

chore: fix a e2e test
  src/bidiMapper/domains/network/NetworkProcessor.ts
  tests/network/test_fail_request.py
Due: copyright, node-self

chore: minor improvement based on DevTools protocol comment
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: fix wpt
  src/bidiMapper/domains/network/NetworkRequest.ts
  tools/run-wpt-all.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, node-self

chore: mark targets
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: move to NetworkStorage
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix non-blocked requests
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: BrowserTarget network interception
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_request.py
Due: copyright, check-chai-describe-it-only, node-self

chore: disable test
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
Due: copyright, node-self

chore: add some fills
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
  tests/tools/local_http_server.py
Due: copyright, node-self

chore: update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
Due: none

fix: navigation started
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/utils/EventEmitter.ts
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: copyright, node-self

refactor: re-work network interception to be non-flaky (#1838)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/conftest.py
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
  tests/test_helpers.py
  tests/tools/local_http_server.py
  tools/run-wpt-all.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: add unit testing for NetworkStorage
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: add unit testing for NetworkStorage (#1855)
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
