Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

chore: disable test for `mapper`
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
Due: none

test: enable skipped tests (#2013)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
Due: none

docs: fix long name issues
  tools/wpt-report-builder/formatter.mjs
Due: copyright

docs: fix long name issues (#2014)
  tools/wpt-report-builder/formatter.mjs
Due: copyright

test: support e2e running via `chromedriver`
  README.md
  package.json
  src/bidiServer/WebSocketServer.ts
  tests/conftest.py
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright, node-self

test: wrap test waiters into timeouts
  tests/test_helpers.py
Due: copyright

test: support e2e running via `chromedriver` (#2009)
  README.md
  package.json
  src/bidiServer/WebSocketServer.ts
  tests/conftest.py
  tests/test_helpers.py
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright, node-self

DO NOT MERGE: remove all CI except e2e
  .github/dependabot.yml
  .github/release-please.yml
  .github/workflows/chromium-roll-reminder.yml
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/scorecard.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

test: add chromedriver e2e to CI
  .github/workflows/e2e.yml
  package.json
Due: none

fix tests
  tests/browsing_context/test_close.py
  tests/conftest.py
  tests/script/test_get_realms.py
Due: copyright

enable macos
  .github/workflows/e2e.yml
Due: none

chore: remove support of legacy shared id format
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/SharedId.spec.ts
  src/bidiMapper/domains/script/SharedId.ts
  src/bidiMapper/domains/script/WindowRealm.ts
  src/bidiServer/WebSocketServer.ts
  tests/script/test_shared_id.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

chore: remove support of legacy shared id format (#2018)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/SharedId.spec.ts
  src/bidiMapper/domains/script/SharedId.ts
  src/bidiMapper/domains/script/WindowRealm.ts
  src/bidiServer/WebSocketServer.ts
  tests/script/test_shared_id.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

skip some tests
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_nested_browsing_context.py
Due: copyright

fix: get headers from Paused events
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
Due: copyright, check-chai-describe-it-only, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
Due: none

chore: continue request with only FetchId
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

fix: CDP quirkiness with intercept (#2021)
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#2026)
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix: get logs back
  tools/bidi-server.mjs
Due: copyright

fix: get logs back (#2029)
  tools/bidi-server.mjs
Due: copyright

chore: remove dep that do the same thing
  package-lock.json
  package.json
  src/bidiServer/index.ts
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
Due: copyright, node-self

chore: fix port issue
  src/bidiServer/index.ts
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright, node-self

chore: fix log
  tools/bidi-server.mjs
Due: copyright

chore: remove dep that do the same thing (#2028)
  package-lock.json
  package.json
  src/bidiServer/index.ts
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
  tools/run-e2e.mjs
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2015)
  .browser
  package-lock.json
  package.json
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
Due: none

feat: support userContext is set_permission
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
Due: copyright, node-self

feat: support userContext is setPermission (#2033)
  src/bidiMapper/domains/permissions/PermissionsProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
Due: copyright, node-self

chore: enable clip tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
Due: none

fix: check bidiValue before using
  src/bidiMapper/domains/script/WindowRealm.ts
Due: copyright, node-self

fix: check bidiValue before using (#2039)
  src/bidiMapper/domains/script/WindowRealm.ts
Due: copyright, node-self

feat: `InnerTextLocator`
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

feat: support `innerText` locators (#1988)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: copyright, node-self

feat: support `maxNodeCount` in locators
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
Due: none
