Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test: remove sleep before pytest.xfail
  tests/webExtension/test_web_extension.py
Due: copyright

test: remove sleep before pytest.xfail (#3502)
  tests/webExtension/test_web_extension.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7246.0
  .browser
Due: none

build(chrome): update the pinned browser version to 139.0.7246.0 (#3503)
  .browser
Due: none

run in cd
  .github/workflows/e2e.yml
Due: none

Run 40 times
  .github/workflows/e2e.yml
Due: none

node new-headless
  .github/workflows/e2e.yml
Due: none

build(chrome): update the pinned browser version to 139.0.7247.0
  .browser
  package-lock.json
  package.json
Due: none

test: expectations update the #3505
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
Due: none

test: expectations update the #3505 (#3506)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py.ini
Due: none

build(chrome): update the pinned browser version to 139.0.7247.0 (#3504)
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 139.0.7248.0
  .browser
Due: none

test: no `browsingContext.fragmentNavigated` on `history.pushState`
  tests/browsing_context/test_fragment_navigated.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7248.0 (#3507)
  .browser
Due: none

extend e2e
  tests/emulation/test_locale.py
Due: copyright

Implement `emulation.setLocaleOverride` + e2e
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/emulation/test_locale.py
Due: copyright, node-self

feat: support `emulation.setLocaleOverride`
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

update type
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_locale.py
Due: copyright, node-self

unit test `isValidLocale`
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

test: test on `*.test` domains
  tests/conftest.py
  tests/network/test_network.py
  tests/script/test_realm.py
  tests/tools/local_http_server.py
  tests/tools/test_local_http_server.py
  tools/run_local_http_server.py
Due: copyright

localhost -> some_domain.test
  tests/conftest.py
Due: copyright

fix geolocation test
  tests/emulation/test_geolocation.py
Due: copyright

fix bluetooth tests
  tests/conftest.py
  tests/network/test_network.py
Due: copyright

fix `test_permissions_set_permission_in_user_context`
  tests/conftest.py
  tests/permissions/test_set_permission.py
Due: copyright

fix permissions tests
  tests/permissions/test_set_permission.py
Due: copyright

fix geolocation tests
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
Due: copyright

fix bluetooth tests
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
  tests/bluetooth/test_service_emulation.py
Due: copyright

offline screenshot
  tests/browsing_context/capture_screenshot/oopif.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
Due: copyright

serialization test
  tests/script/test_serialization.py
Due: copyright

offline interception
  tests/network/__init__.py
  tests/network/test_add_intercept.py
  tests/network/test_remove_intercept.py
Due: copyright

fix test_file_dialog_show_directory_event
  tests/input/file_dialog/test_file_dialog_opened.py
Due: copyright

fix test_file_dialog tests
  tests/input/file_dialog/__snapshots__/test_file_dialog_opened.ambr
  tests/input/file_dialog/test_file_dialog_opened.py
Due: copyright

enable more tests
  tests/permissions/test_set_permission.py
Due: copyright

test: add a server with a valid SSL
  tests/conftest.py
  tests/network/test_network.py
  tests/service_worker/test_navigate.py
  tests/tools/local_http_server.py
  tests/tools/ssl_bad_cert.key
  tests/tools/ssl_bad_cert.pem
  tests/tools/ssl_good_cert.key
  tests/tools/ssl_good_cert.pem
Due: copyright

test: specify host in LocalHttpServer
  tests/conftest.py
  tests/script/test_realm.py
  tests/tools/local_http_server.py
  tests/tools/test_local_http_server.py
Due: copyright

url_example_another_origin `127.0.0.1` -> `another_host.test`
  tests/conftest.py
Due: copyright

remove __host
  tests/tools/local_http_server.py
Due: copyright

fix `test_geolocation_per_user_context`
  tests/emulation/test_geolocation.py
Due: copyright

fix host arg
  tests/conftest.py
  tests/tools/test_local_http_server.py
Due: copyright

format
  tests/emulation/test_geolocation.py
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
