Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: fix Puppeteer label (#1798)
  .github/workflows/puppeteer.yml
Due: none

ci: add labeled as option
  .github/workflows/puppeteer.yml
Due: none

ci: add labeled as option (#1800)
  .github/workflows/puppeteer.yml
Due: none

feat: allow Chrome-specific params in user contexts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
Due: copyright, node-self

feat: add temp `context` into worker realm for Puppeteer
  src/bidiMapper/domains/script/DedicatedWorkerRealm.ts
Due: copyright, node-self

feat: add temp `context` into worker realm for Puppeteer (#1801)
  src/bidiMapper/domains/script/DedicatedWorkerRealm.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

ci: roll back browser update CI job
  .github/workflows/update-browser-version.yml
Due: none

ci: roll back browser update CI job (#1815)
  .github/workflows/update-browser-version.yml
Due: none

ci: fix runner to match Puppeteer one
  .github/workflows/puppeteer.yml
Due: none

ci: fix runner to match Puppeteer one (#1803)
  .github/workflows/puppeteer.yml
Due: none

ci: remove set-up in publish
  .github/workflows/publish.yml
Due: none

ci: remove set-up in publish (#1817)
  .github/workflows/publish.yml
Due: none

fix build
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

build(chrome): update the pinned browser version (#1818)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/domains/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

chore: wip proxy
  .bandit
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/test_create_user_context.py
  tests/conftest.py
  tests/tools/http_proxy_server.py
  tools/http-proxy.mjs
Due: copyright, node-self

feat: allow Chrome-specific params in user contexts (#1814)
  .bandit
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/test_create_user_context.py
  tests/conftest.py
  tests/tools/http_proxy_server.py
  tools/http-proxy.mjs
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1824)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build: update formatter
  .pre-commit-config.yaml
  tools/http-proxy.mjs
Due: copyright

chore: see if this fixes the issue
  .github/workflows/pre-commit.yml
Due: none

build: update formatter (#1829)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  tools/http-proxy.mjs
Due: copyright

chore: fix update types
  .github/workflows/update-bidi-types.yml
Due: none

chore: fix update types (#1833)
  .github/workflows/update-bidi-types.yml
Due: none

fix: cdp Network domain always enabled
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_provide_response.py
Due: copyright, check-chai-describe-it-only, node-self

chore: fix
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/session/EventManager.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
Due: copyright, node-self

chore: impl suggestions
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self
