Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Update MapperCdpConnection.ts
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

fix: clear the buffered logs when browsing context is destroyed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/EventManager.ts
Due: copyright, node-self

chore: remove double prop
  src/bidiMapper/modules/session/EventManager.ts
Due: copyright, node-self

feat: support network.setCacheBehavior
  eslint.config.mjs
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
Due: copyright, node-self

chore: mark as flaky
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: none

test: update the expectations for PR (#2594)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

fix: clear the buffered logs when browsing context is destroyed (#2592)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/session/EventManager.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: copyright, node-self

chore: fix newly created context
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

revert: expectation change
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: none

test: update the expectations for PR (#2596)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: none

feat: support network.setCacheBehavior (#2593)
  eslint.config.mjs
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_cache_behavior/set_cache_behavior.py.ini
Due: copyright, node-self

fix: respect statusCode in continueResponse
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

chore: remove non spec test
  tests/network/test_continue_response.py
Due: copyright

fix: f
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
Due: none

chore: fix issue with headers
  src/bidiMapper/modules/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
Due: copyright, node-self

chore: fix headers
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR (#2603)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
Due: none

feat: support only statusCode in continueResponse (#2598)
  src/bidiMapper/modules/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/reason_phrase.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/status_code.py.ini
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
Due: none

test: update the expectations for PR (#2605)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/cookies.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
Due: none

test: update the expectations for PR (#2608)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py.ini
Due: none

chore: support ESM module
  .gitignore
  .mocharc.cjs
  .mocharc.json
  .vscode/launch.template.json
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/GraphemeTools.spec.ts
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tsconfig.base.json
  tsconfig.cjs.json
Due: copyright, check-chai-describe-it-only, node-self

feat: support ESM module (#2451)
  .gitignore
  .mocharc.cjs
  .mocharc.json
  .vscode/launch.template.json
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/GraphemeTools.spec.ts
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tsconfig.base.json
  tsconfig.cjs.json
Due: copyright, check-chai-describe-it-only, node-self

chore: do not throw an error when unsubscribing from event if the CDP session is closed.
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

fix issue + add test
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/session/test_subscription.py
Due: copyright, node-self

fix issue + add test
  tests/session/test_subscription.py
Due: copyright

Revert "feat: support ESM module (#2451)"
  .gitignore
  .mocharc.cjs
  .mocharc.json
  .vscode/launch.template.json
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/reader.ts
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/GraphemeTools.spec.ts
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tsconfig.base.json
  tsconfig.cjs.json
Due: copyright, check-chai-describe-it-only, node-self

test
  tests/session/test_subscription.py
Due: copyright

Reapply "feat: support ESM module (#2451)"
  .gitignore
  .mocharc.cjs
  .mocharc.json
  .vscode/launch.template.json
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/GraphemeTools.spec.ts
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tsconfig.base.json
  tsconfig.cjs.json
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
