Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

refactor: remove I prefix form interfaces (#1665)
  src/bidiMapper/BidiMapper.ts
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/BidiTransport.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiTab/BidiParser.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/cdp/CdpClient.spec.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.spec.ts
  src/cdp/CdpConnection.ts
  src/utils/WebsocketTransport.ts
  src/utils/transport.ts
  src/utils/transportStub.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

chore: Allow WPT runner to update WPT expectations by the report, without running them
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version (#1674)
  .browser
Due: none

Update tools/run-wpt.mjs
  tools/run-wpt.mjs
Due: copyright

log failures in WPT run and update expectations
  tools/run-wpt.mjs
Due: copyright

mark flaky WPT test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
Due: none

chore: allow WPT runner only to update WPT expectations (#1679)
  tools/run-wpt.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/viewport.py.ini
Due: copyright

Run only a small subset of WPT in CI, to be reverted
  .github/workflows/chromium-roll-reminder.yml
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/scorecard.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

Move update expectations to a dedicated step
  .github/workflows/wpt.yml
Due: none

test: unify WPT CI runners
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

Run only a small subset of WPT in CI, to be reverted
  .github/workflows/chromium-roll-reminder.yml
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/scorecard.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

test: add quick WPT CI action
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

Revert "Run only a small subset of WPT in CI, to be reverted"
  .github/workflows/chromium-roll-reminder.yml
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/scorecard.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

Add e2e sink job
  .github/workflows/e2e.yml
  .github/workflows/wpt-quick.yml
Due: none

test: add quick WPT CI action (#1682)
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version (#1681)
  .browser
Due: none

test: don't run headful mapper in WPT
  .github/workflows/wpt-quick.yml
Due: none

test: don't run headful mapper in quick WPT (#1685)
  .github/workflows/wpt-quick.yml
Due: none

fix: e2e
  tools/run-bidi-server.mjs
Due: copyright

chore: remove deps for Args parsing
  .vscode/launch.template.json
  README.md
  package-lock.json
  package.json
  src/bidiServer/index.ts
  tools/run-bidi-server.mjs
Due: copyright, node-self

fix: after rebase
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

test: disable flaky headful test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
Due: none

chore: small improvement
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
Due: copyright

test: disable flaky e2e test
  tests/network/test_remove_intercept.py
Due: copyright

remove meta without corresponding WPT tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
Due: none

chore: revert small change
  tools/run-wpt.mjs
Due: copyright

test: disable flaky headful test (#1687)
  tests/network/test_remove_intercept.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns_tentative.py.ini
Due: copyright

chore: fix formatting
  .eslintignore
  .pre-commit-config.yaml
  .prettierignore
  package.json
Due: none

chore: update ignore lists
  .eslintignore
  .prettierignore
Due: none

chore: add back html in example to ignore list
  .prettierignore
Due: none

chore: speed up `eslint` and `prettier` when ran via `npm run format` (#1686)
  .eslintignore
  .pre-commit-config.yaml
  .prettierignore
  package.json
Due: none

Update WPT expectations
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key_modifier.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_drag.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_multiclick.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/release_actions/context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/release_actions/sequence.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

Disable input in headful mapper
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key_modifier.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_drag.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_modifier.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse_multiclick.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/release_actions/context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/release_actions/sequence.py.ini
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

Update types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self
