Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

ci: don't use always() (#3035)
  .github/workflows/e2e.yml
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
Due: none

Update src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 134.0.6978.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 134.0.6978.0 (#3005)
  .browser
  package-lock.json
  package.json
Due: none

test: add e2e
  src/bidiMapper/modules/session/EventManager.ts
  tests/session/test_subscription.py
Due: copyright, node-self

feat: implement user context subscriptions
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
Due: copyright, check-chai-describe-it-only, node-self

test: failing dblclick test
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
Due: copyright

fix: allow `bluetooth.requestDevicePromptUpdated` subscription
  src/protocol/chromium-bidi.ts
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

fix: allow `bluetooth.requestDevicePromptUpdated` subscription (#3044)
  src/protocol/chromium-bidi.ts
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

test: fix flake
  tests/network/test_provide_response.py
Due: copyright

chore: update comment
  tests/network/test_provide_response.py
Due: copyright

build(chrome): update the pinned browser version to 134.0.6984.0
  .browser
Due: none

refactor: rename contextId
  src/bidiMapper/modules/session/SubscriptionManager.ts
Due: copyright, node-self

feat: implement user context subscriptions (#3039)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  tests/session/test_subscription.py
Due: copyright, check-chai-describe-it-only, node-self

test: fix flake (#3047)
  tests/network/test_provide_response.py
Due: copyright

build(chrome): update the pinned browser version to 134.0.6987.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 134.0.6987.0 (#3036)
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 134.0.6988.0
  .browser
Due: none

build(chrome): update the pinned browser version to 134.0.6988.0 (#3051)
  .browser
Due: none

build(chrome): update the pinned browser version to 134.0.6989.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 134.0.6989.0 (#3053)
  .browser
  package-lock.json
  package.json
Due: none

chore: touch dependabot.yml (#3021)
  .github/dependabot.yml
Due: none

fix: handle max depth property (#3027)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: copyright, node-self

fix: fix unsubscribe by id parser (#3034)
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

fix: rely on frameSubtreeWillBeDetached to emit contextDestroyed events (#3029)
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
Due: copyright, node-self

chore: update EsLint preset (#3032)
  eslint.config.mjs
Due: copyright

fix: support correct to base64 for non-latin (#3031)
  eslint.config.mjs
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/network/test_provide_response.py
Due: copyright, node-self

feat(bidi): remove non-spec-compliant bidi commands
  .browser
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
