Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(chrome): update the pinned browser version to 137.0.7139.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 137.0.7139.0 (#3328)
  .browser
  package-lock.json
  package.json
Due: none

feat: emulate geolocation altitude, heading, speed and altitudeAccuracy
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

test: expectations update the #3337
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
Due: none

test: expectations update the #3337 (#3338)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
Due: none

e2e
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
Due: copyright

feat: emulate geolocation altitude, altitudeAccuracy, heading and speed (#3337)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/coordinates.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_geolocation_override/invalid.py.ini
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

fix precommit
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3330)
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

fix: export cjs modules for esm
  package.json
Due: none

fix: export cjs modules for esm (#3342)
  package.json
Due: none

build(chrome): update the pinned browser version to 137.0.7143.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 137.0.7143.0 (#3340)
  .browser
  package-lock.json
  package.json
Due: none

chore: add a generic external spec event
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: add a generic external spec event (#3346)
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 137.0.7148.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 137.0.7148.0 (#3344)
  .browser
  package-lock.json
  package.json
Due: none

feat: provide proper context id in `browsingContext.userPrompt`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
Due: copyright, node-self

update test
  tests/browsing_context/test_user_prompt.py
Due: copyright

test: expectations update the #3349
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

test: expectations update the #3349 (#3351)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

feat: provide proper context id in `browsingContext.userPrompt` (#3349)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_user_prompt.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: copyright, node-self

test: expectations update the #3353
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

fix eslint
  eslint.config.mjs
  src/bidiMapper/modules/session/events.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3353 (#3354)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

build(chrome): update the pinned browser version to 137.0.7150.0
  .browser
Due: none

build(chrome): update the pinned browser version to 137.0.7150.0 (#3355)
  .browser
Due: none

Support GATT connection command
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/test_gatt_connection_attempted.py
Due: copyright, node-self

feat: emulate geolocation positionUnavailable
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Fix `BluetoothEmulation.gattOperationReceived` subscription
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
Due: copyright, node-self

e2e test
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
Due: copyright

rename
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

test: expectations update the #3359
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

Coordinates and error cannot be set at the same time
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

feat: emulate geolocation positionUnavailable (#3359)
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/__snapshots__/test_geolocation.ambr
  tests/emulation/test_geolocation.py
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 138.0.7155.0
  .browser
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
