Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1567)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: update README.md
  README.md
Due: none

chore: update README.md (#1564)
  README.md
Due: none

feat!: `acceptInsecureCerts` (#1553)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiTab/bidiTab.ts
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/browsing_context/test_navigate.py
  tests/conftest.py
  tests/input/__snapshots__/test_input.ambr
  tests/network/test_fail_request.py
Due: copyright, node-self

refactor: check auxData properly
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: implement workers
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/script/test_realm.py
Due: copyright, node-self

chore: fix auxData check
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: implement dedicated workers (#1565)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/script/test_realm.py
Due: copyright, node-self

docs: update WPT expectations regeneration in blink
  README.md
Due: none

Revert "feat: implement dedicated workers (#1565)"
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/script/test_realm.py
Due: copyright, node-self

docs: update WPT expectations regeneration in blink (#1568)
  README.md
Due: none

Revert "feat: implement dedicated workers" (#1570)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/script/test_realm.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1571)
  .browser
  package-lock.json
  package.json
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1572)
  .browser
Due: none

Export `MapperOptions`
  src/bidiMapper/BidiMapper.ts
Due: copyright, node-self

feat: export `MapperOptions` TS type (#1575)
  src/bidiMapper/BidiMapper.ts
Due: copyright, node-self

Update README.md
  README.md
Due: none

Decrease ChromeDriver logs amount
  tools/run-wpt.mjs
Due: copyright

Unify log paths
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

Revert unrelated changes
  .github/workflows/wpt.yml
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

Temp disable other WPT
  .github/workflows/wpt.yml
Due: none

test: decrease amount of logs in ChromeDriver WPT (#1579)
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version (#1574)
  .browser
  package-lock.json
  package.json
Due: none

test: re-baseline WPT expectations (#1569)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
Due: none

Disable flaky WPT test
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
Due: none

refactor: try to break cycle
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/EventManager.ts
Due: copyright, node-self

refactor: try to break cycle (#1560)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/EventManager.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
Due: copyright, node-self

Support headful ChromeDriver WPT run in script
  tools/run-wpt.mjs
Due: copyright

Enable headful WPT runs in CI
  .github/workflows/wpt.yml
Due: none
