Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: use "network.fetchError" instead of "cdp.Network.loadingFailed" (#1472)
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

chore: small comments
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: parse addPreloadScript params
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: fix
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: parse addPreloadScript params (#1471)
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

test: update wpt expectations flakiness
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
Due: none

test: update wpt expectations flakiness (#1474)
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
Due: none

build(chrome): update the pinned browser version (#1473)
  .browser
  package-lock.json
  package.json
Due: none

chore: fix order of pre-commit
  .pre-commit-config.yaml
Due: none

chore: update comment
  .pre-commit-config.yaml
Due: none

chore: fix order of pre-commit (#1476)
  .pre-commit-config.yaml
Due: none

feat: addPreloadScripts respects contexts param for old contexts
  src/bidiMapper/domains/script/PreloadScript.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  tests/script/test_add_preload_script.py
Due: copyright, node-self

fix: fromattting
  tests/script/test_add_preload_script.py
Due: copyright

chore: fix comments
  src/bidiMapper/domains/script/PreloadScript.ts
  tests/script/test_add_preload_script.py
Due: copyright, node-self

fix: comment
  src/bidiMapper/domains/script/PreloadScript.ts
Due: copyright, node-self

feat: addPreloadScripts respects contexts param for old contexts (#1475)
  src/bidiMapper/domains/script/PreloadScript.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  tests/script/test_add_preload_script.py
Due: copyright, node-self

test: re-enable tests that use url_hang_forever
  tests/conftest.py
  tests/tools/local_http_server.py
Due: copyright

test: use threading.Event instead of time.sleep
  tests/tools/local_http_server.py
Due: copyright

feat: add network intercept continue with auth
  src/bidiMapper/domains/network/NetworkProcessor.ts
  tests/network/test_continue_with_auth.py
Due: copyright, node-self

test: re-enable tests that use `hang_url` (#1451)
  tests/conftest.py
  tests/tools/local_http_server.py
Due: copyright

ci: remove period in prettier command
  .pre-commit-config.yaml
Due: none

ci: only target js and ts files for eslint and prettier
  .pre-commit-config.yaml
Due: none

ci: speed up prettier pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: use types instead of files
  .pre-commit-config.yaml
Due: none

ci: speed up prettier/eslint pre-commit hooks and use types instead of files (#1477)
  .pre-commit-config.yaml
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

feat: addPreloadScript respects new contexts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
  tests/script/test_add_preload_script.py
Due: copyright, node-self

feat: addPreloadScript respects new contexts (#1478)
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
  tests/script/test_add_preload_script.py
Due: copyright, node-self

feat: add network intercept continue with auth (#1470)
  src/bidiMapper/domains/network/NetworkProcessor.ts
  tests/network/test_continue_with_auth.py
Due: copyright, node-self

build: add hashes to requirements.txt
  examples/requirements.txt
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

ci: add wait=complete to all network intercept navigations
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright

ci: add wait=complete to all network intercept navigations (#1482)
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
Due: copyright

build: migrate requirements.txt to pipenv / Pipfile
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  Pipfile
  Pipfile.lock
  README.md
  examples/README.md
  examples/classic_to_bidi_example.py
  examples/console_log_example.py
  examples/preload_script_example.py
  examples/print_example.py
  examples/screenshot_example.py
  examples/script_example.py
  package.json
  tests/README.md
  tests/requirements-dev.txt
  tests/requirements.txt
Due: copyright

build: upgrade python 3.10 -> 3.11
  Pipfile
  Pipfile.lock
Due: none

build: migrate requirements.txt to pipenv / Pipfile (#1480)
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  Pipfile
  Pipfile.lock
  README.md
  examples/README.md
  examples/classic_to_bidi_example.py
  examples/console_log_example.py
  examples/preload_script_example.py
  examples/print_example.py
  examples/screenshot_example.py
  examples/script_example.py
  package.json
  tests/README.md
  tests/requirements-dev.txt
  tests/requirements.txt
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1479)
  .browser
Due: none

test: update wpt expectations: before_request_sent: intermittent timeout
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none
