Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(chrome): update the pinned browser version (#1024)
  .browser
Due: none

ci: only use "wpt run --processes" in CI
  runWPT.sh
Due: none

chore: update tests
  src/bidiServer/bidiServerRunner.ts
  tests/test_browsing_context.py
  tests/test_cdp.py
  tests/test_channel.py
  tests/test_log_events.py
  tests/test_nested_browsing_context.py
  tests/test_network.py
  tests/test_preload_script.py
  tests/test_protocol_basics.py
  tests/test_realm.py
  tests/test_script.py
  tests/test_serialization.py
  tests/test_subscription.py
Due: copyright, node-self

chore: fix types
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiTab/bidiTab.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1022)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
  src/protocol/webdriver-bidi.ts
  tests/test_browsing_context.py
  tests/test_cdp.py
  tests/test_channel.py
  tests/test_log_events.py
  tests/test_nested_browsing_context.py
  tests/test_network.py
  tests/test_preload_script.py
  tests/test_protocol_basics.py
  tests/test_realm.py
  tests/test_script.py
  tests/test_serialization.py
  tests/test_subscription.py
Due: copyright, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1038)
  .browser
Due: none

build(spec): update WebDriverBidi types (#1040)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

test: update wpt expectations for browsingContext.activate
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
Due: none

chore: package.json
  package-lock.json
  package.json
Due: none

chore: fix breaking changes
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/script/realm.ts
  src/protocol/cdp.ts
  src/protocol/webdriver-bidi.ts
  tools/wpt-report-builder/formatter.mjs
Due: copyright, node-self

chore: eslint
  src/bidiMapper/domains/log/logHelper.ts
Due: copyright, node-self

chore: use JavaScript for scripts
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  README.md
  package-lock.json
  package.json
  runBiDiServer.sh
  runWPT.sh
  tools/install-browser.mjs
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

ci: wpt: exclude tentative tests from report
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

ci: wpt: exclude tentative tests from report (#1036)
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

Update package.json
  package.json
Due: none

Update tools/run-bidi-server.mjs
  tools/run-bidi-server.mjs
Due: copyright

build: use JavaScript for scripts (#1039)
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
  README.md
  package-lock.json
  package.json
  runBiDiServer.sh
  runWPT.sh
  tools/install-browser.mjs
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version (#1044)
  .browser
Due: none

feat: include handle in generators and iterators
  src/bidiMapper/domains/script/realm.ts
  tests/test_serialization.py
Due: copyright, node-self

feat: support iterator serialization
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

test: add more serialization tests: iterator, generator, async function
  tests/test_serialization.py
Due: copyright

feat: support iterator serialization (#1042)
  src/bidiMapper/domains/script/realm.ts
  tests/test_serialization.py
Due: copyright, node-self

ci: add windows
  .github/workflows/e2e.yml
  package.json
  tools/install-browser.mjs
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

ci: add windows (#1043)
  .github/workflows/e2e.yml
  package.json
  tools/install-browser.mjs
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright

chore: enable wheel test
  tests/__snapshots__/test_input.ambr
  tests/test_input.py
Due: copyright

chore: enable mouse wheel tests (#1017)
  tests/__snapshots__/test_input.ambr
  tests/test_input.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
Due: none

build(chrome): update the pinned browser version (#1046)
  .browser
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
Due: none

build: remove deprecated 'codecov' package
  package-lock.json
  package.json
Due: none

build: remove deprecated 'codecov' package (#1051)
  package-lock.json
  package.json
Due: none

chore: add missing commands to command processor
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

chore: add missing commands to command processor (#1052)
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

chore: remove Windows CI temporarily
  .github/workflows/e2e.yml
Due: none
