Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(chrome): update the pinned browser version to 133.0.6903.0 (#2907)
  .browser
Due: none

feat: support hasCrossSiteAncestor
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
Due: copyright, node-self

chore: make next release V1
  release-please-config.json
Due: none

chore: make next release V1 (#2443)
  release-please-config.json
Due: none

chore: touch dependabot.yml
  .github/dependabot.yml
Due: none

chore: touch dependabot.yml (#2911)
  .github/dependabot.yml
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

test: update the expectations for PR (#2915)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

Update wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

test: update the expectations for PR (#2916)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

build(chrome): update the pinned browser version to 133.0.6905.0
  .browser
Due: none

feat: provide proper network timings
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/network/test_network.py
Due: copyright, node-self

AppArmor
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
Due: none

address eslint warnings
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

test: update the expectations for PR (#2920)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

AppArmor
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
Due: none

feat: provide proper network timings (#2919)
  .github/workflows/e2e.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/network/test_network.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: copyright, check-chai-describe-it-only, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

test: update the expectations for PR (#2923)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

Update response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: none

fix: regression in serialization
  src/bidiMapper/modules/script/Realm.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 133.0.6914.0
  .browser
Due: none

build(chrome): update the pinned browser version to 133.0.6914.0 (#2917)
  .browser
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2926)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

ci: disable apparmor for puppeteer
  .github/workflows/puppeteer.yml
Due: none

build(chrome): update the pinned browser version to 133.0.6916.0
  .browser
  package-lock.json
  package.json
Due: none

ci: disable apparmor for puppeteer (#2933)
  .github/workflows/puppeteer.yml
Due: none

build(chrome): update the pinned browser version to 133.0.6932.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 133.0.6932.0 (#2932)
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 133.0.6933.0
  .browser
Due: none

build(chrome): update the pinned browser version to 133.0.6933.0 (#2941)
  .browser
Due: none

e2e test
  tests/script/test_serialization.py
Due: copyright

fix: regression in serialization (#2928)
  src/bidiMapper/modules/script/Realm.ts
  tests/script/test_serialization.py
Due: copyright, node-self

chore: cleanup eslint config
  eslint.config.mjs
  package-lock.json
  package.json
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
