Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: update expectations in wpt-quick
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

chore: update WPT expectations quickly (#2202)
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

fix e2e test
  tests/browsing_context/test_create.py
  tests/conftest.py
Due: copyright

build(chrome): update the pinned browser version + fix (#2206)
  .browser
  package-lock.json
  package.json
  tests/browsing_context/test_create.py
  tests/conftest.py
Due: copyright

feat: support for graphemes in input
  src/bidiMapper/modules/input/ActionDispatcher.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

move grapheme logic to utils + add unit tests
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/utils/GraphemeTools.spec.ts
  src/utils/GraphemeTools.ts
Due: copyright, check-chai-describe-it-only, node-self

fix locale
  src/utils/GraphemeTools.spec.ts
  src/utils/GraphemeTools.ts
Due: copyright, check-chai-describe-it-only, node-self

fix e2e
  src/bidiMapper/modules/input/ActionDispatcher.ts
Due: copyright, node-self

add happy case
  src/utils/GraphemeTools.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

format
  src/utils/GraphemeTools.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: support for graphemes in key input (#2207)
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/utils/GraphemeTools.spec.ts
  src/utils/GraphemeTools.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_pen.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: copyright, check-chai-describe-it-only, node-self

build: remove `update-expectations` label after successful pass
  .github/workflows/wpt-quick.yml
Due: none

build: in JS runner, activate the blank tab, not the mapper tab
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

Create a new tab before mapper is run to prevent extra events
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

build: in JS runner, activate the blank tab, not the mapper tab (#2213)
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

chore: expect wheel WPT tests to pass
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

chore: expect wheel WPT tests to pass (#2214)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

chore: make `test_cdp` tolerant for extra fields in the events
  tests/session/test_cdp.py
Due: copyright

build(chrome): update the pinned browser version (#2215)
  .browser
  package-lock.json
  package.json
  tests/session/test_cdp.py
Due: copyright

normalize
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/.keep
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/.keep
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/.keep
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_status.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
Due: none

chore: regenerate WPT expectations (#2216)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/invalid_tentative.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/disown/invalid_tentative.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/invalid_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/invalid_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/disown/invalid_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/invalid_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/traverse_history/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/invalid_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/node_shared_id.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/classic_interop/window_reference.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/disown/invalid_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/invalid_tentative.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#2217)
  .browser
Due: none

build(chrome): update the pinned browser version (#2219)
  .browser
  package-lock.json
  package.json
Due: none

Do not count document or document fragment in maxdepth
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/remove_user_context/user_context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

feat: support document as `startNodes` in `browsingContext.locateNodes`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: copyright, node-self

add comment
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

update expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/remove_user_context/user_context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/invalid.py.ini
Due: none

update expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

feat: support document as `startNodes` in `browsingContext.locateNodes` (#2218)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
