Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

Add git diff
  .github/workflows/update-bidi-types.yml
Due: none

Fix paths
  .github/workflows/update-bidi-types.yml
Due: none

build(spec): update WebDriverBidi types
  src/protocol/generated/webdriver-bidi-permissions.ts
Due: copyright, node-self

ci: fix spawn
  tools/generate-bidi-types.mjs
Due: copyright

ci: fix spawn (#1734)
  tools/generate-bidi-types.mjs
Due: copyright

Add chromedriver server runner
  tools/run-bidi-server.mjs
Due: copyright

Support `session.end` command
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

e2e connect to `/session` and end session after each test
  tests/conftest.py
Due: copyright

e2e: Set default capabilities
  tests/conftest.py
Due: copyright

e2e: respect BROWSER_BIN and "HEADLESS" env variables
  tests/conftest.py
Due: copyright

handle headless only via capabilities
  package.json
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiServer/index.ts
  tests/conftest.py
  tools/run-bidi-server.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

Update log
  tools/run-wpt.mjs
Due: copyright

feat: provide logs before Mapper is launched via NodeJS runner
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

feat: provide logs before Mapper is launched via NodeJS runner (#1737)
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/cookie_domain.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/cookie_path.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/cookie_domain.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/cookie_path.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
Due: none

test: disable racy WPT tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
Due: none

test: disable racy WPT tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: none

refactor: move to separate functions
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/SharedId.spec.ts
  src/bidiMapper/domains/script/SharedId.ts
  src/bidiMapper/domains/script/SharedIdParser.ts
Due: copyright, check-chai-describe-it-only, node-self

refactor: move to separate functions (#1739)
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/SharedId.spec.ts
  src/bidiMapper/domains/script/SharedId.ts
  src/bidiMapper/domains/script/SharedIdParser.ts
Due: copyright, check-chai-describe-it-only, node-self

refactor: create an instance
  src/bidiServer/WebSocketServer.ts
  src/bidiServer/index.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

refactor: create an instance (#1740)
  src/bidiServer/WebSocketServer.ts
  src/bidiServer/index.ts
Due: copyright, node-self

feat: respect partition
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/__init__.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

feat: respect partition
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/__init__.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

feat: user contexts
  compile_commands.json
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browser/test_create_user_context.py
  tests/browser/test_remove_user_context.py
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/session/test_subscription.py
Due: copyright, check-chai-describe-it-only, node-self

chore: delete compile_commands.json
  compile_commands.json
Due: none

chore: review comments
  tests/browser/test_create_user_context.py
  tests/browser/test_remove_user_context.py
  tests/browsing_context/test_close.py
Due: copyright

feat: implement user contexts (#1715)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browser/test_create_user_context.py
  tests/browser/test_remove_user_context.py
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/session/test_subscription.py
Due: copyright, check-chai-describe-it-only, node-self

feat: return all cookies for a given browsing context
  src/bidiMapper/domains/storage/StorageProcessor.ts
Due: copyright, node-self

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
Due: none

clean test
  tests/storage/__init__.py
  tests/storage/test_set_cookies.py
Due: copyright

fix test
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

feat: return all cookies for a given browsing context (#1746)
  src/bidiMapper/domains/storage/StorageProcessor.ts
  tests/storage/__init__.py
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/cookie_domain.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/cookie_path.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/cookie_domain.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/cookie_path.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/set_cookie/partition.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/add_preload_script/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/add_preload_script/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/contexts.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/invalid.py.ini
Due: none

chore: update deps
  .github/dependabot.yml
  package-lock.json
  package.json
  tests/network/test_network.py
Due: copyright
