Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: remove Windows CI temporarily (#1053)
  .github/workflows/e2e.yml
Due: none

fix: NavigationStarted Event for sub-frames
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_browsing_context.py
Due: copyright, node-self

fix: NavigationStarted Event for sub-frames (#1009)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/test_browsing_context.py
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1048)
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: remove unnecessary type casts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: use keep-sorted blocks consistently
  src/bidiMapper/BidiParser.ts
  src/bidiTab/BidiParserImpl.ts
Due: copyright, node-self

chore: add type cast
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

chore: refactor Input processor to its own class
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

chore: input state manager: mirror DefaultMap, with inheritance
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/input/InputStateManager.ts
Due: copyright, node-self

chore: extract `inputProcessor` to separate file, plus additional refactoring (#1055)
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/input/InputStateManager.ts
  src/bidiTab/BidiParserImpl.ts
  src/bidiTab/bidiTab.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1057)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

fix: don't hold in memory finished requests
  src/bidiMapper/domains/network/networkProcessor.ts
Due: copyright, node-self

fix: don't hold finished requests in memory (#1058)
  src/bidiMapper/domains/network/networkProcessor.ts
Due: copyright, node-self

chore: extract Script commands into separate processor
  package-lock.json
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: extract Script commands into separate processor (#1059)
  package-lock.json
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/script/PreloadScriptStorage.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
Due: copyright, check-chai-describe-it-only, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/create/invalid.py.ini
Due: none

build(spec): update WebDriverBidi types (#1061)
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1049)
  .browser
Due: none

build(chrome): update the pinned browser version (#1063)
  .browser
Due: none

chore: remove checking for logs in runWPTAll.sh
  runWPTAll.sh
Due: none

chore: remove checking for logs in runWPTAll.sh (#1066)
  runWPTAll.sh
Due: none

build(chrome): update the pinned browser version (#1065)
  .browser
Due: none

build(chrome): update the pinned browser version (#1068)
  .browser
Due: none

chore: re-enable drag tests
  tests/__snapshots__/test_input.ambr
  tests/test_input.py
Due: copyright

chore: re-enable drag tests (#1041)
  tests/__snapshots__/test_input.ambr
  tests/test_input.py
Due: copyright

ci: move eslint to become the last step of pre-commit
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

ci: move eslint to become the last step of pre-commit (#1071)
  .pre-commit-config.yaml
Due: none

build(chrome): update the pinned browser version (#1072)
  .browser
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: none

test: remote obsolete entry
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
Due: none
