Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

fix: test
  tests/log/test_log_entry_added.py
  tests/script/test_evaluate.py
  tests/script/test_serialization.py
Due: copyright

build(chrome): update the pinned browser version (#1158)
  .browser
  tests/log/test_log_entry_added.py
  tests/script/test_evaluate.py
  tests/script/test_serialization.py
Due: copyright

fix: ignore cert errors in the test driver
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
Due: copyright, node-self

fix: ignore cert errors in the test driver (#1161)
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
Due: copyright, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

chore: way to debug stuck Processing Queue
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiTab/bidiTab.ts
  src/utils/log.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: way to debug stuck Processing Queue (#1167)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiTab/bidiTab.ts
  src/utils/log.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
Due: copyright, check-chai-describe-it-only, node-self

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
Due: none

chore: replace cddlconv url
  .github/workflows/update-bidi-types.yml
  README.md
Due: none

chore: replace cddlconv url (#1174)
  .github/workflows/update-bidi-types.yml
  README.md
Due: none

chore: fix cddlconv
  .github/workflows/update-bidi-types.yml
Due: none

chore: fix cddlconv (#1176)
  .github/workflows/update-bidi-types.yml
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: add placeholder to call CDP
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: fix e2e tests
  tests/browsing_context/test_reload.py
  tests/network/test_network.py
Due: copyright

feat: implement removeIntercept
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/protocol/ErrorResponse.ts
Due: copyright, node-self

chore: pass CdpTarget to NetworkProcessor chore: pass CdpTarget to NetworkManager
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

feat: scaffold commands
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiTab/BidiParserImpl.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

test: add test_add_intercept_invalid_empty_phases
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/protocol/ErrorResponse.spec.ts
  tests/network/test_network_add_intercept.py
  tests/network/test_network_remove_intercept.py
Due: copyright, check-chai-describe-it-only, node-self

chore: move network commands to network processor
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

feat: add NoSuchRequestException
  src/protocol/ErrorResponse.ts
Due: copyright, node-self

feat: ensure at least one phase is specified
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

chore: move networkRequestMap to network storage
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

test: finalize unit tests for network storage
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: stub event manager, write add intercept test
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: add comment
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

feat: start to populate Fetch.enable
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

chore: call cdp targets from network processor
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

feat: update protocol
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: inject cdpclient
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: add unit tests for getFetchEnableParams, fix a bug
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: rebase
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_add_intercept.py
  tests/network/test_remove_intercept.py
Due: copyright, node-self

feat: add network intercept maps
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

chore: remove TODO
  tests/network/test_remove_intercept.py
Due: copyright

docs: add TODO re: use the correct target
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

docs: add a few docs and getters to network classes
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: throw not implemented error for new network commands
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

feat: initial implementation of addIntercept
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self
