Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

fix: implement pattern matching
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/network/NetworkProcessor.spec.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  src/bidiMapper/modules/network/NetworkUtils.spec.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/utils/UrlPattern-browser.ts
  src/utils/UrlPattern.spec.ts
  src/utils/UrlPattern.ts
  tests/network/test_add_intercept.py
  tests/network/test_remove_intercept.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

fix: implement the pattern matching according to the spec (#2832)
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/modules/network/NetworkProcessor.spec.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  src/bidiMapper/modules/network/NetworkUtils.spec.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/utils/UrlPattern-browser.ts
  src/utils/UrlPattern.spec.ts
  src/utils/UrlPattern.ts
  tests/network/test_add_intercept.py
  tests/network/test_remove_intercept.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Add `NavigationTracker` and emit `NavigationStarted` from it
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

`NavigationAborted` through `NavigationTracker`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

remove `pendingCommandNavigation`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: none

remove `navigation.withinDocument` + markNavigationFailed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

fix: avoid extra getFrameOwner call
  src/bidiMapper/modules/input/ActionDispatcher.ts
Due: copyright, node-self

fix `test_print_top_level_context`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_print.py
Due: copyright, node-self

FragmentNavigated + NavigationFailed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

fix: avoid extra getFrameOwner call (#2839)
  src/bidiMapper/modules/input/ActionDispatcher.ts
Due: copyright, node-self

FragmentNavigated + NavigationFailed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
Due: copyright, node-self

Move NavigationTracker to a dedicated file
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/utils/Time.spec.ts
  src/utils/Time.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: support hasCrossSiteAncestor
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
Due: copyright, node-self

chore: wip
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

fix: set navigationInitiatedByCommand when calling traverseHistory
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: format
  src/protocol/ErrorResponse.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

build(spec): update WebDriverBiDi types (#2857)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: Update BiDi types
  .pre-commit-config.yaml
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: update BiDi types (#2859)
  .pre-commit-config.yaml
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: fix types again
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: fix types again (#2860)
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: add `goog:` prefix for `cdp` commands
  README.md
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiMapper/modules/session/events.spec.ts
  src/bidiMapper/modules/session/events.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  tests/session/test_cdp.py
Due: copyright, check-chai-describe-it-only, node-self

chore: add `goog:` prefix for `cdp` commands (#2846)
  README.md
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiMapper/modules/session/events.spec.ts
  src/bidiMapper/modules/session/events.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  tests/session/test_cdp.py
Due: copyright, check-chai-describe-it-only, node-self

docs: use Module for BiDi as spec
  README.md
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
  src/bidiTab/BidiParser.ts
Due: copyright, check-chai-describe-it-only, node-self

docs: use Module for BiDi as spec (#2861)
  README.md
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
  src/bidiTab/BidiParser.ts
Due: copyright, check-chai-describe-it-only, node-self

Tolerate multiple `requestWillBeSent` events for a single request
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/test_events.py
  tests/network/test_network.py
Due: copyright, node-self

test helpers
  tests/browsing_context/test_events.py
  tests/conftest.py
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
