Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: use custom sandbox specifically for Chromium BiDi
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputProcessor.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/RealmStorage.ts
  src/bidiMapper/modules/script/ScriptProcessor.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  tests/script/test_realm.py
Due: copyright, node-self

reformat
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/InputProcessor.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/ScriptProcessor.ts
  src/bidiMapper/modules/script/WindowRealm.ts
Due: copyright, node-self

chore: use custom sandbox specifically for Chromium BiDi (#3451)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputProcessor.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/RealmStorage.ts
  src/bidiMapper/modules/script/ScriptProcessor.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  tests/script/test_realm.py
Due: copyright, node-self

revert: Network toggle changes
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

remove .gitkeep
  wpt-metadata/chromedriver/headful/webdriver/tests/.gitkeep
  wpt-metadata/chromedriver/headless/webdriver/tests/.gitkeep
  wpt-metadata/mapper/headless/webdriver/tests/.gitkeep
Due: none

test: expectations update the #3453
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/frames.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/frames.py.ini
Due: none

test: reduce LocalHttpServer shutdown timeout (#3446)
  tests/tools/local_http_server.py
Due: copyright

feat(chrome)!: update the pinned browser version to 139.0.7215.0
  .browser
  package-lock.json
  package.json
Due: none

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

feat(chrome)!: update the pinned browser version to 139.0.7215.0 (#3450)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

fix eslint rules
  eslint.config.mjs
Due: copyright

mark flaky tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

repeat tests 5 times, don't retry
  .github/workflows/wpt.yml
Due: none

mark flaky tests
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/beforeunload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

Revert "roll back wpt runner changes"
  .github/workflows/wpt.yml
Due: none

test: expectations update the #3453 (#3455)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/frames.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/frames.py.ini
Due: none

rerun tests 3 times
  .github/workflows/wpt.yml
  tools/run-wpt.mjs
Due: copyright

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
Due: none

retry
  .github/workflows/wpt.yml
Due: none

retry only node wpt
  .github/workflows/wpt.yml
Due: none

roll back some expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
Due: none

roll back wpt runner changes
  .github/workflows/wpt.yml
Due: none

roll back unrelated changes
  .github/workflows/wpt.yml
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/web_extension/install/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/web_extension/install/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/web_extension/install/invalid.py.ini
Due: none

update WPT
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
Due: none

Reapply "roll back wpt runner changes"
  .github/workflows/wpt.yml
Due: none

test: fix `test_network_before_request_sent_event_with_cookies_emitted`
  tests/network/test_network.py
Due: copyright

do not repeat tests
  .github/workflows/wpt.yml
Due: none

test: fix `test_network_before_request_sent_event_with_cookies_emitted` (#3463)
  .github/workflows/wpt.yml
  tests/network/test_network.py
Due: copyright

build(chrome): update the pinned browser version to 139.0.7217.0
  .browser
Due: none

build(chrome): update the pinned browser version to 139.0.7217.0 (#3461)
  .browser
Due: none

feat: support emulation.setScreenOrientationOverride
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_orientation.py
Due: copyright, node-self

unit test `isValidLocale`
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: support `emulation.setLocaleOverride`
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
