Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test: extract hang_url to its own fixture, skip tests at fixture level
  tests/conftest.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
Due: copyright

test: add cdp event test for continue request
  tests/network/test_continue_request.py
Due: copyright

test: migrate continue request tests to use bidi events
  tests/network/test_continue_request.py
Due: copyright

test: ensure add intercept method is idempotent and does not create duplicates
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: streamline fetch apply
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: add cdp event test for fail request
  tests/network/test_fail_request.py
Due: copyright

test: use bidi event instead of cdp event
  tests/network/test_fail_request.py
Due: copyright

chore: remove obsolete TODO comment
  tests/network/test_continue_request.py
Due: copyright

feat: disable the fetch domain when there are no more intercepts and blocked requests
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

test: add test_continue_request_remove_intercept_inflight_request
  tests/network/test_continue_request.py
Due: copyright

feat: remove unnecessary calls to Fetch.disable
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: remove unnecessary AnyExtending
  tests/network/test_fail_request.py
Due: copyright

chore: add TODO to not enable the fetch domain globally
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

chore: remove obsolete TODOs related to emitting events
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

test: remove obsolete TODO
  tests/network/test_continue_request.py
Due: copyright

feat: unblock event queue when network events are blocked
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_add_intercept.py
  tests/network/test_fail_request.py
  tests/network/test_remove_intercept.py
Due: copyright, node-self

test: add TODO about network.fetchError
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
Due: copyright

test: add test_fail_request_remove_intercept_inflight_request with cdp events
  tests/network/test_fail_request.py
Due: copyright

feat: unblock event queue when network events are blocked (#1409)
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/conftest.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_fail_request.py
  tests/network/test_remove_intercept.py
Due: copyright, check-chai-describe-it-only, node-self

chore: WIP enable response_completed WPT
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

chore: test
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

chore: t
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

test: enable response_completed_cached.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

test: enable response_completed_cached.py (#1416)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

test: add test_remove_intercept_does_not_affect_another_intercept
  tests/network/test_remove_intercept.py
Due: copyright

test: `add test_remove_intercept_does_not_affect_another_intercept` (#1417)
  tests/network/test_remove_intercept.py
Due: copyright

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1419)
  .browser
  package-lock.json
  package.json
Due: none

Local static http server
  .pre-commit-config.yaml
  tests/__init__.py
  tests/conftest.py
  tests/http_server/__init__.py
  tests/http_server/test_local_http_server.py
  tests/requirements.txt
  tests/tools/__init__.py
  tests/tools/local_http_server.py
Due: copyright

Add types
  tests/tools/local_http_server.py
Due: copyright

Update tests/tools/__init__.py
  tests/tools/__init__.py
Due: copyright

Add comments
  tests/http_server/test_local_http_server.py
  tests/tools/local_http_server.py
Due: copyright

Fix requirements
  tests/requirements.txt
Due: none

Move test next to server
  tests/http_server/__init__.py
  tests/tools/test_local_http_server.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: fix build
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

ci: shift automatic checks to ease debugging
  .eslintrc.js
  .pre-commit-config.yaml
  README.md
  tsconfig.base.json
Due: copyright

Add unused function
  src/bidiServer/index.ts
Due: copyright, node-self

Revert "Add unused function"
  src/bidiServer/index.ts
Due: copyright, node-self

ci: shift automatic checks to ease debugging (#1421)
  .eslintrc.js
  .pre-commit-config.yaml
  README.md
  tsconfig.base.json
Due: copyright

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
