Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: add nested tests
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fixes
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
Due: copyright, node-self

fix: chore
  tests/conftest.py
  tests/network/test_add_intercept.py
  tests/tools/http_proxy_server.py
Due: copyright

chore: rebase fixes
  tests/conftest.py
  tests/tools/http_proxy_server.py
Due: copyright

fix: enable cdp Network domain when needed (#1785)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  tests/network/__init__.py
  tests/network/test_add_intercept.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_provide_response.py
Due: copyright, check-chai-describe-it-only, node-self

chore: fix pytest warn
  tests/storage/test_set_cookies.py
Due: copyright

chore: fix format
  tests/storage/test_set_cookies.py
Due: copyright

chore: fix pytest warn (#1832)
  tests/storage/test_set_cookies.py
Due: copyright

ci: fix CI again
  .github/workflows/update-bidi-types.yml
Due: none

ci: fix CI again (#1834)
  .github/workflows/update-bidi-types.yml
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1831)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: common npm separator
  .github/workflows/e2e.yml
  .github/workflows/update-bidi-types.yml
  README.md
  package.json
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/clean.mjs
  tools/generate-bidi-types.mjs
Due: copyright, node-self

chore: common npm separator (#1835)
  .github/workflows/e2e.yml
  .github/workflows/update-bidi-types.yml
  README.md
  package.json
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/clean.mjs
  tools/generate-bidi-types.mjs
Due: copyright, node-self

chore: fix no free after detach
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

chore: fix not gc after detach (#1836)
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/request.py.ini
Due: none

test: fix the proxy test
  tests/browser/test_create_user_context.py
Due: copyright

test: fix the proxy test (#1841)
  tests/browser/test_create_user_context.py
Due: copyright

test: another proxy test fix
  tests/tools/http_proxy_server.py
Due: copyright

test: another proxy test fix (#1842)
  tests/tools/http_proxy_server.py
Due: copyright

feat: generalize worker realm
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/WorkerRealm.ts
  tests/script/test_evaluate.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: copyright, node-self

feat: generalize worker realm (#1779)
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/script/WorkerRealm.ts
  tests/script/test_evaluate.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: copyright, node-self

fix: limit the mapper tab to 200 lines of logs
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

fix: limit the mapper tab to 200 lines of logs (#1846)
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

chore: use verbose logging by default for PR
  .github/workflows/e2e.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

chore: add verbose logging to CI
  package.json
Due: none

revert: change to CI jobs
  .github/workflows/e2e.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

chore: use verbose logging by default for PR (#1852)
  package.json
Due: none

chore: BrowserTarget network interception
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/test_continue_request.py
Due: copyright, check-chai-describe-it-only, node-self

chore: fix tests
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/conftest.py
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/test_helpers.py
  tests/tools/local_http_server.py
Due: copyright, node-self

chore: add some fills
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/network/__init__.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
  tests/tools/local_http_server.py
Due: copyright, node-self

chore: fix non-blocked requests
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: mark targets
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: move to NetworkStorage
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix e2e tests
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/network/test_continue_response.py
  tests/network/test_fail_request.py
Due: copyright, node-self

chore: minor improvement based on DevTools protocol comment
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: fix wpt
  src/bidiMapper/domains/network/NetworkRequest.ts
  tools/run-wpt-all.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
