Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

chore: disable flaky WPT test (#1946)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

chore: move fetch logic to CdpTarget
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

chore: fix test
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix issue and test expectations
  src/bidiMapper/domains/context/CdpTarget.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
Due: copyright, node-self

chore: address comment
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

feat: add support for `contexts` in `addInterception` (#1945)
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
Due: copyright, check-chai-describe-it-only, node-self

build: disable the minification
  package-lock.json
  package.json
  rollup.config.mjs
Due: copyright

build: disable the minification (#1941)
  package-lock.json
  package.json
  rollup.config.mjs
Due: copyright

test: enable set_permission tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
Due: none

test: ensure execution of sequence of commands
  tests/script/test_evaluate.py
Due: copyright

test: ensure execution of sequence of commands (#1950)
  tests/script/test_evaluate.py
Due: copyright

chore: fix
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

fix: workaround issue with Script.Target
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/target.py.ini
Due: copyright, node-self

chore: fix null
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

chore: more fixes
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

fix: workaround issue with Script.Target (#1947)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/target.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/target.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/target.py.ini
Due: copyright, node-self

chore: disable test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

chore: mark WPT test as flaky (#1952)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: none

test: fix url pattern validation
  src/bidiMapper/domains/network/NetworkProcessor.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
Due: none

test: fix url pattern validation
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/network/test_add_intercept.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

test: fix url pattern validation (#1951)
  src/bidiMapper/domains/network/NetworkProcessor.spec.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkUtils.spec.ts
  src/bidiMapper/domains/network/NetworkUtils.ts
  tests/network/test_add_intercept.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/permissions/set_permission/set_permission.py.ini
Due: none

fix: don't block on unsubscribed events
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: add unit tests
  src/bidiMapper/domains/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: don't block on unsubscribed events (#1954)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/auth_required/unsubscribe.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/auth_required/unsubscribe.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
Due: none

chore: fix logic
  tools/wpt-report-builder/formatter.mjs
Due: copyright

docs: add expand button
  tools/wpt-report-builder/formatter.mjs
Due: copyright

chore: f
  tools/wpt-report-builder/formatter.mjs
Due: copyright

ci: gather all WPT tests to generate report
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

remove not required functions
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

rename variable
  tools/wpt-report-builder/formatter.mjs
Due: copyright

docs: add expand button (#1956)
  tools/wpt-report-builder/formatter.mjs
Due: copyright

install pytest
  .github/workflows/wpt.yml
Due: none

fix run
  .github/workflows/wpt.yml
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

fix run
  tools/wpt-report-builder/builder.mjs
Due: copyright

experiment
  .github/workflows/wpt.yml
  tools/wpt-report-builder/builder.mjs
Due: copyright
