Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: move getBlockedRequest to network processor
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

feat: implement network interception fail request (#1318)
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tests/conftest.py
  tests/network/test_fail_request.py
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#1319)
  .browser
  package-lock.json
  package.json
Due: none

Revert "build(chrome): update the pinned browser version (#1319)"
  .browser
  package-lock.json
  package.json
Due: none

Revert "build(chrome): update the pinned browser version (#1319)" (#1323)
  .browser
  package-lock.json
  package.json
Due: none

test: fix type annotation for channels
  tests/test_helpers.py
Due: copyright

chore: mark python example files as executable
  examples/preload_script_example.py
  examples/print_example.py
  examples/screenshot_example.py
Due: copyright

chore: use cssVisualViewport
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: use `cssVisualViewport` (#1327)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

ci: fix `puppeteer` label
  .github/workflows/puppeteer.yml
  README.md
Due: none

ci: fix `puppeteer` label (#1330)
  .github/workflows/puppeteer.yml
  README.md
Due: none

ci: fix issues found by pytype (#1324)
  examples/preload_script_example.py
  examples/print_example.py
  examples/screenshot_example.py
  tests/test_helpers.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1329)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

ci: should install in `puppeteer-core`
  .github/workflows/puppeteer.yml
Due: none

ci: should install in `puppeteer-core` (#1333)
  .github/workflows/puppeteer.yml
Due: none

fix: mapper tab debugging logs
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

fix: mapper tab debugging logs (#1336)
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

ci: refactor so it can download browser
  .github/workflows/puppeteer.yml
Due: none

ci: refactor so it can download browser (#1337)
  .github/workflows/puppeteer.yml
Due: none

ci: cache support is only top level
  .github/workflows/puppeteer.yml
Due: none

ci: cache support is only top level (#1338)
  .github/workflows/puppeteer.yml
Due: none

ci: script look relative to cwd
  .github/workflows/puppeteer.yml
Due: none

ci: script look relative to cwd (#1339)
  .github/workflows/puppeteer.yml
Due: none

fix: use half the width/height for touch event radii
  src/bidiMapper/domains/input/ActionDispatcher.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: copyright, node-self

fix: use half the width/height for touch event radii (#1341)
  src/bidiMapper/domains/input/ActionDispatcher.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1326)
  .browser
  package-lock.json
  package.json
Due: none

chore: implement angle inputs
  src/bidiMapper/domains/input/ActionDispatcher.ts
Due: copyright, node-self

feat: implement angle inputs (#1342)
  src/bidiMapper/domains/input/ActionDispatcher.ts
Due: copyright, node-self

chore: fix WPT update-expectations
  tools/run-wpt.mjs
  update_properties.json
Due: copyright

chore: fix WPT update-expectations (#1343)
  tools/run-wpt.mjs
  update_properties.json
Due: copyright

build(spec): update WebDriverBidi types (#1346)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1347)
  .browser
Due: none

chore: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

chore: remove default background in screenshots
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/capture_screenshot/colored_background.png
  tests/browsing_context/capture_screenshot/element.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: copyright, node-self

ci: set default debug depth
  tools/run-bidi-server.mjs
Due: copyright

docs: update readme
  README.md
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
