Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

zxc
  .github/common/cache-browser-binaries.yml
  .github/workflows/check_cache.yml
Due: none

version
  .github/workflows/check_cache.yml
Due: none

version
  .github/workflows/cache-browser-binaries.yml
  .github/workflows/check_cache.yml
Due: none

test: update the expectations for PR (#2747)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

test: update the expectations for PR (#2749)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

fix path
  .github/workflows/e2e.yml
Due: none

fix id
  .github/workflows/e2e.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

extend cache
  .github/workflows/e2e.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

install headless shell when required
  .github/workflows/e2e.yml
Due: none

write path
  tools/install-browser.mjs
Due: copyright

comments
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

fix cache name
  .github/workflows/e2e.yml
Due: none

ci: install headless shell when required (#2748)
  .github/workflows/e2e.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
Due: copyright

test: update the expectations for PR (#2750)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
Due: none

test: update the expectations for PR (#2752)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
Due: none

fix arg
  tools/install-browser.mjs
Due: copyright

fix wpt
  tools/install-browser.mjs
Due: copyright

remove extra env
  .github/workflows/e2e.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

fix arg
  .github/actions/setup-chrome-binaries/action.yml
  tools/install-browser.mjs
Due: copyright

rename cache
  .github/actions/setup-chrome-binaries/action.yml
Due: none

fix puppeteer path
  .github/workflows/puppeteer.yml
Due: none

fix wpt runner
  tools/path-getter/path-getter.mjs
  tools/run-wpt.mjs
Due: copyright

ci: unify cache
  .github/actions/setup-chrome-binaries/action.yml
  .github/workflows/e2e.yml
  .github/workflows/puppeteer.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
Due: copyright

debug
  .github/actions/setup-chrome-binaries/action.yml
Due: none

remove excessive argument
  tools/run-e2e.mjs
  tools/run-wpt.mjs
Due: copyright

ci: unify cache (#2753)
  .github/actions/setup-chrome-binaries/action.yml
  .github/workflows/e2e.yml
  .github/workflows/puppeteer.yml
  .github/workflows/selenium.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
  tools/install-browser.mjs
  tools/path-getter/path-getter.mjs
  tools/run-e2e.mjs
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version to 132.0.6821.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 132.0.6821.0 (#2719)
  .browser
  package-lock.json
  package.json
Due: none

test: wait for the browser to be launched
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

docs: update roll bug link
  README.md
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

docs: update roll bug link (#2756)
  README.md
Due: none

Delete wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

test: update the expectations for PR (#2760)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browser/get_client_windows/get_client_windows.py.ini
Due: none

fix: allow setting `bluetooth.simulateAdapter` multiple times
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_emulation.py
Due: copyright, node-self

fix: allow setting `bluetooth.simulateAdapter` multiple times (#2762)
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_emulation.py
Due: copyright, node-self
