Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

style
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: support `maxNodeCount` in locators (#2040)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
Due: copyright, node-self

feat: support a single `startNode` in locators
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

support multiple start nodes
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: none

verify startNodes in css selector is an HTMLElement
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: none

simplify
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: support `startNodes` in locators (#2042)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: copyright, node-self

chore: less local output
  tools/bidi-server.mjs
Due: copyright

chore: less local output (#2046)
  tools/bidi-server.mjs
Due: copyright

Mark screenshot test as flaky
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
Due: none

chore: add chrome version to website
  .eslintrc.js
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/template.html
Due: copyright

chore: fix
  .eslintrc.js
Due: copyright

chore: add chrome version to website (#2047)
  .eslintrc.js
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/template.html
Due: copyright

chore: add wpt hash to runner
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/template.html
Due: copyright

chore: add wpt hash to runner (#2051)
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/template.html
Due: copyright

feat: support `maxDepth` and `serializationOptions` in `browsingContext.locateNodes`
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
Due: none

feat: support `maxDepth` and `serializationOptions` in `browsingContext.locateNodes` (#2048)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/serialization_options.py.ini
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: none

chore: remove `iterator` and `generator` heuristics
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

fix e2e
  tests/script/test_serialization.py
Due: copyright

chore: remove `iterator` and `generator` heuristics (#2053)
  src/bidiMapper/domains/script/Realm.ts
  tests/script/test_serialization.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2032)
  .browser
  package-lock.json
  package.json
Due: none

chore: fix divider
  tools/wpt-report-builder/formatter.mjs
Due: copyright

chore: revert divider change (#2054)
  tools/wpt-report-builder/formatter.mjs
Due: copyright

bump dependencies
  Pipfile.lock
Due: none

Add cli arguments
  .github/workflows/e2e.yml
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

ci: shard e2e tests
  .github/workflows/e2e.yml
  Pipfile
  Pipfile.lock
  tools/run-e2e.mjs
Due: copyright

fix runner
  .github/workflows/e2e.yml
Due: none

ci: shard e2e tests (#1876)
  .github/workflows/e2e.yml
  Pipfile
  Pipfile.lock
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#2057)
  .browser
Due: none

fix: invalid test for Prompts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/invalid.py.ini
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
Due: none

chore: add comment
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
Due: copyright, node-self
