Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Revert "test: increase e2e test timeout to fight the flakiness"
  pytest.ini
Due: none

test: increase e2e test `test_realm_dedicated_worker` timeout
  pytest.ini
  tests/script/test_realm.py
Due: copyright

test: increase e2e test timeout to fight the flakiness
  pytest.ini
Due: none

test: increase e2e test timeout to fight the flakiness (#1879)
  pytest.ini
  tests/script/test_realm.py
Due: copyright

test: disable flaky tests.
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright

test: disable flaky network interception tests (#1884)
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright

Update tests/permissions/test_set_permission.py
  tests/permissions/test_set_permission.py
Due: copyright

test: apply comments to set_permission
  tests/permissions/test_set_permission.py
Due: copyright

test: apply comments to set_permission (#1873)
  tests/permissions/test_set_permission.py
Due: copyright

chore: fix command name in README.md
  README.md
Due: none

chore: fix command name in README.md (#1886)
  README.md
Due: none

chore: emit custom property for execution context ID
  README.md
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/cdp.ts
  tests/script/test_realm.py
Due: copyright, node-self

fix: add `cdp.resolveRealm` command (#1882)
  README.md
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/cdp.ts
  tests/script/test_realm.py
Due: copyright, node-self

chore: remove unused type
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: remove unused type (#1889)
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
Due: none

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
Due: none

chore: order for reload
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

update headful mapper wpt expectations
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

chore: order for reload (#1888)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

build: validate the third party licenses
  .gitignore
  package-lock.json
  package.json
  tools/third_party/validate-licenses.ts
Due: copyright, node-self

ci: bump wireit cache
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

ci: bump wireit cache (#1893)
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

chore: better event name type
  src/bidiMapper/domains/session/EventManager.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: better event name type (#1891)
  src/bidiMapper/domains/session/EventManager.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

ci: better e2e logs
  package.json
  tools/bidi-server.mjs
  tools/run-bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

Apply suggestions from code review
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

ci: better e2e logs (#1897)
  package.json
  tools/bidi-server.mjs
  tools/run-bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

ci: don't run wpt headful mapper
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

ci: don't run wpt headful mapper (#1896)
  .github/workflows/wpt-quick.yml
  .github/workflows/wpt.yml
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/frame.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/provide_response/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/storage/get_cookies/filter.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/provide_response/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/storage/get_cookies/filter.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/set_files/set_files.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/provide_response/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/filter.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/invalid.py.ini
Due: none

don't expect mapper/headless/webdriver/tests/bidi/storage/get_cookies/invalid.py to fail
  wpt-metadata/mapper/headless/webdriver/tests/bidi/storage/get_cookies/invalid.py.ini
Due: none

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1894)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
