Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

docs: fix script
  tools/wpt-report-builder/formatter.mjs
Due: copyright

experiment 2
  .github/workflows/wpt.yml
Due: none

experiment 3
  .github/workflows/wpt.yml
Due: none

docs: fix script (#1959)
  tools/wpt-report-builder/formatter.mjs
Due: copyright

experiment 4
  .github/workflows/wpt.yml
Due: none

chore: remove non existing test
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

chore: test if still flaky
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

chore: unskip WPT tests (#1960)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/device_pixel_ratio.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
Due: none

test: fix e2e filter
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

test: fix e2e filter (#1967)
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

chore: fix comment
  src/protocol-parser/protocol-parser.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: copyright, node-self

chore: use parser for locateNodes
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: use parser for locateNodes (#1962)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: copyright, node-self

ci: bump cddlconv to v 0.1.4
  .github/workflows/update-bidi-types.yml
Due: none

ci: bump cddlconv to v 0.1.4 (#1968)
  .github/workflows/update-bidi-types.yml
Due: none

test: skip flaky tests
  tests/browser/test_close.py
  tests/browsing_context/test_reload.py
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: none

test: skip flaky tests (#1958)
  tests/browser/test_close.py
  tests/browsing_context/test_reload.py
Due: copyright

test: test unknown command
  tests/session/test_protocol_basics.py
Due: copyright

test: unknown command (#1965)
  tests/session/test_protocol_basics.py
Due: copyright

ci: update cddlconv
  .github/workflows/update-bidi-types.yml
Due: none

update BiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

ci: update cddlconv (#1971)
  .github/workflows/update-bidi-types.yml
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: copyright, node-self

chore(tools): create HTML report filtered by chromium-bidi-2023 label
  .github/workflows/wpt.yml
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/filter-2023.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

Update tools/wpt-report-builder/filter-2023.mjs
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/filter-2023.mjs
Due: copyright

Create HTML report filtered by `label:chromium-bidi-2023` (#1978)
  .github/workflows/wpt.yml
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/filter-2023.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

fix: emit for target id
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

fix: emit for target id (#1979)
  src/bidiMapper/domains/context/CdpTarget.ts
Due: copyright, node-self

docs: fix site build step
  .github/workflows/wpt.yml
Due: none

docs: fix site build step (#1980)
  .github/workflows/wpt.yml
Due: none

docs: print delta since 2023-12-31 in filtered HTML report
  tools/wpt-report-builder/filter-2023.mjs
  tools/wpt-report-builder/formatter.mjs
  tools/wpt-report-builder/formatter.spec.mjs
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
Due: none

format
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: browsingContext.locateNodes command
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/browsing_context/test_locate_nodes.py
Due: copyright, node-self

Update src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: start implementing `browsingContext.locateNodes` (#1970)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  tests/browsing_context/test_locate_nodes.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/sandbox.py.ini
Due: copyright, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
