Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test: disable response_completed tests
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
Due: none

test: re-enable WPT network tests (#1109)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_started/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/__dir__.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/__dir__.ini
Due: none

fix
  tools/run-wpt.mjs
Due: copyright

fix
  tools/install-browser.mjs
Due: copyright

build(wpt): use pinned browser by default
  tools/install-browser.mjs
  tools/run-wpt.mjs
Due: copyright

build(wpt): use pinned browser by default (#1119)
  tools/run-wpt.mjs
Due: copyright

ci: add Puppeteer label
  .github/workflows/puppeteer.yml
Due: none

ci: add Puppeteer label (#1113)
  .github/workflows/puppeteer.yml
Due: none

build(chrome): update the pinned browser version
  .browser
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/browsing_context/test_create.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_reload.py
  tests/test_helpers.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: copyright, node-self

build(chrome): fix CfT roll (#1115)
  .browser
  src/bidiMapper/domains/context/browsingContextImpl.ts
  tests/browsing_context/test_create.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_reload.py
  tests/test_helpers.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: copyright, node-self

feat: implement `browser.close`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/test_browser_close.py
Due: copyright, node-self

feat: implement `browser.close` (#1116)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/test_browser_close.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1099)
  .browser
Due: none

ci: fix override of browser pin branch
  .github/workflows/update-browser-version.yml
Due: none

ci: fix override of browser pin branch (#1114)
  .github/workflows/update-browser-version.yml
Due: none

build(chrome): update the pinned browser version (#1134)
  .browser
Due: none

chore: remove IEventManager as it provides no value
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: remove IEventManager as it provides no value (#1135)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: update deps
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1137)
  .browser
Due: none

chore: update deps (#1138)
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

chore: extract Modules from Event enums
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/protocol/chromium-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

fix
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

chore: extract Modules from Event enums (#1136)
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/protocol/chromium-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix test with same name issue + typo
  .pre-commit-config.yaml
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/__init__.py
  tests/browser/test_close.py
  tests/browsing_context/__init__.py
  tests/browsing_context/capture_screenshot/__init__.py
  tests/input/__init__.py
  tests/log/__init__.py
  tests/network/__init__.py
  tests/script/__init__.py
  tests/session/__init__.py
Due: copyright, node-self

chore: fix regex
  .pre-commit-config.yaml
Due: none

chore: fix test with same name issue + typo (#1139)
  .pre-commit-config.yaml
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  tests/browser/__init__.py
  tests/browser/test_close.py
  tests/browsing_context/__init__.py
  tests/browsing_context/capture_screenshot/__init__.py
  tests/input/__init__.py
  tests/log/__init__.py
  tests/network/__init__.py
  tests/script/__init__.py
  tests/session/__init__.py
Due: copyright, node-self

chore: const
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

chore: rename logging
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
  src/utils/processingQueue.ts
Due: copyright, node-self

chore: add readonly
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

chore: rename logging (#1140)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/cdpConnection.ts
  src/utils/log.ts
  src/utils/processingQueue.ts
Due: copyright, node-self

chore: set up OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

ci: fix token permissions
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/wpt.yml
Due: none

Update .github/workflows/scorecard.yml
  .github/workflows/scorecard.yml
Due: none

ci: fix token permissions (#1142)
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/wpt.yml
Due: none

ci: pin all Actions
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/update-bidi-types.yml
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
