Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: update the expectations for PR (#2811)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/subscribe/events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/session/unsubscribe/events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/subscribe/events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/unsubscribe/events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/subscribe/events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/unsubscribe/events.py.ini
Due: none

feat: do not emit initial navigation events
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/UrlHelpers.spec.ts
  src/utils/UrlHelpers.ts
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/script/test_add_preload_script.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

feat: do not emit initial navigation events (#2796)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/UrlHelpers.spec.ts
  src/utils/UrlHelpers.ts
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/script/test_add_preload_script.py
  tests/test_helpers.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version to 133.0.6857.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 133.0.6857.0 (#2812)
  .browser
  package-lock.json
  package.json
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2813)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: do not fail aborted navigation
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

another approach
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

shuffle things around
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: none

test: update the expectations for PR (#2820)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: none

test: update the expectations for PR (#2818)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

chore: extract navigation
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: none

fix within doc url
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: update the expectations for PR (#2822)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: none

Revert "test: update the expectations for PR (#2822)"
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
Due: none

move `navigatedWithinDocument`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: fix type errors not getting reported
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: none

test: update the expectations for PR (#2825)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: none

chore: fix type errors not getting reported (#2823)
  src/bidiMapper/modules/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phase_auth_required.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/phases.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/method.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
Due: copyright, node-self

move `initialNavigation`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

split BrowsingContextImpl and NavigationTracker
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/Navigation.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/get_tree/frames.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/data_url.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/frame.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/set_files/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/get_tree/frames.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/data_url.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/frame.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/set_files/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none

WIP
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

still wip
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: stop calling bringToFront before taking screenshots
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: stop calling bringToFront before taking screenshots (#2830)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fixed (most) local e2e
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR (#2829)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

fail aborted navigation commands
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_close.py
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

test: update the expectations for PR (#2833)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

fix pdf test
  tests/browsing_context/test_print.py
Due: copyright

Try to respect multiple `domContentLoaded` events
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_load.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/load/load.py.ini
Due: none
