Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

fix: don't unblock on interception removed
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: copyright, node-self

chore: address comments
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

chore: format
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 132.0.6781.0
  .browser
Due: none

fix: don't unblock on interception removed (#2135)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
Due: copyright, node-self

chore: don't allow PDF printing of iframes
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_print.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
Due: none

test: update the expectations for PR (#2699)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
Due: none

Mark flaky tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
Due: none

chore: don't allow PDF printing of iframes (#2698)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_print.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/queue.py.ini
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
Due: none

test: update the expectations for PR (#2703)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/frame_tentative.py.ini
Due: none

build(chrome): update the pinned browser version to 132.0.6781.0 (#2696)
  .browser
Due: none

build(chrome): update the pinned browser version to 132.0.6783.0
  .browser
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

types: fix types
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/protocol/chromium-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

build(spec): update WebDriverBiDi types (#2710)
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: implement browsingContext.historyUpdated
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: update the expectations for PR (#2712)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: update the expectations for PR (#2713)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: none

test: add an e2e test
  tests/browsing_context/test_history_updated.py
Due: copyright

test: update the expectations for PR (#2714)
  src/protocol/chromium-bidi.ts
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/get_realms/get_realms.py.ini
Due: copyright, node-self

feat: implement browsingContext.historyUpdated (#2656)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_history_updated.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py.ini
Due: copyright, node-self

test: test_browsingContext_navigateWaitInteractive_redirect
  tests/browsing_context/test_navigate.py
Due: copyright

Abort navigation does not fail navigation
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

test: update the expectations for PR (#2716)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: none

feat: align abort navigation with the spec (#2715)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_navigate.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version to 132.0.6791.0
  .browser
Due: none

build(chrome): update the pinned browser version to 132.0.6791.0 (#2705)
  .browser
Due: none

chore: respect iframe offset in input events
  src/bidiMapper/modules/input/ActionDispatcher.ts
  tests/conftest.py
  tests/input/test_input.py
Due: copyright, node-self
