Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

update comment
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

Update bidiPreloadScript.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
Due: copyright, node-self

update comment
  src/bidiMapper/domains/context/PreloadScriptStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

PR coments
  src/bidiMapper/domains/context/bidiPreloadScript.ts
Due: copyright, node-self

PR coments
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

Move preload script to a dedicated class (#849)
  src/bidiMapper/domains/context/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  tests/conftest.py
  tests/test_browsing_context.py
  tests/test_channel.py
  tests/test_preload_script.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
Due: copyright, check-chai-describe-it-only, node-self

chore: fixes
  .github/workflows/create-release-pr.yml
  .github/workflows/release.yml
  README.md
Due: none

ci: add semi-auto-releases
  .github/workflows/create-release-pr.yml
  .github/workflows/release.yml
  README.md
Due: none

fix: some wrong sets
  .github/workflows/create-release-pr.yml
  .github/workflows/release.yml
Due: none

ci: add semi-automated releases (#854)
  .github/workflows/release.yml
  README.md
Due: none

[create-pull-request] automated change
  package-lock.json
  package.json
Due: none

[create-pull-request] automated change (#855)
  package-lock.json
  package.json
Due: none

ci: fix Release Action
  .github/workflows/release.yml
Due: none

ci: fix Release Action (#856)
  .github/workflows/release.yml
Due: none

replace all unicode characters with ascii ones
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

replace all unicode characters with ascii ones (#859)
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

network pre-factoring for Network Intercept (#846)
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol/protocol.ts
Due: copyright, node-self

fix: enable terser’s `ascii_only` setting
  rollup.config.mjs
Due: copyright

Revert "replace all unicode characters with ascii ones (#859)"
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

Restore non-ASCII characters where applicable, ensuring they get escaped during minification (#860)
  rollup.config.mjs
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

runWPT.sh: do not download manifest
  runWPT.sh
Due: none

runWPT.sh: use multiple processes when possible, but only for headless
  runWPT.sh
Due: none

examples: add timeout to requests
  examples/_helpers.py
  examples/classic_to_bidi_example.py
Due: copyright

pre-commit: add bandit, a python linter
  .bandit
  .pre-commit-config.yaml
Due: none

pre-commit: style
  .pre-commit-config.yaml
Due: none

run eslint at HEAD
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

add comment on runWPT.sh regarding headful parallelization
  runWPT.sh
Due: none

update WPT expectations metadata
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/page.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/page.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/page.py.ini
Due: none

update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

bump WPT submodule (#862)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/page.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/page.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/page.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
Due: none

parallelize WPT tests run, add bandit linter, and misc changes (#828)
  .bandit
  .pre-commit-config.yaml
  examples/_helpers.py
  examples/classic_to_bidi_example.py
  runWPT.sh
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#863)
  .browser
Due: none

build(chrome): update the pinned browser version (#864)
  .browser
Due: none

Add preload channel test
  tests/test_preload_script.py
Due: copyright

rename tests
  tests/test_preload_script.py
Due: copyright

split chanel into create and init
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
Due: copyright, node-self

Support preload scripts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
Due: copyright, node-self
