Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

test: update the expectations for PR (#2974)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2971)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

[feat] implement context locator
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

test: update the expectations for PR (#2975)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: copyright, node-self

feat: implement context locator (#2968)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: copyright, node-self

Revert "chore: touch update-browser-version.yml"
  .github/workflows/update-browser-version.yml
Due: none

chore: touch update-browser-version.yml
  .github/workflows/update-browser-version.yml
Due: none

ci: fix update_chrome_revision.mjs
  tools/update_chrome_revision.mjs
Due: copyright

ci: fix update_chrome_revision.mjs (#2985)
  tools/update_chrome_revision.mjs
Due: copyright

feat(chrome)!: update the pinned browser version to 134.0.6958.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 134.0.6958.0 (#2986)
  .browser
  package-lock.json
  package.json
Due: none

fix: multi headers reporting incorrectly
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
Due: none

test: update the expectations for PR (#2988)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
Due: none

chore: use default map
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: update the expectations for PR
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

fix: multi headers reporting incorrectly (#2987)
  src/bidiMapper/modules/network/NetworkRequest.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#2991)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

rename
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

channel is not optional
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: support `goog:channel` along with `channel`
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
  tests/session/test_subscription.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

feat: support `goog:channel` along with `channel` (#2996)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/OutgoingMessage.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/session/EventManager.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiMapper/modules/session/SubscriptionManager.spec.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiTab/Transport.ts
  src/protocol/chromium-bidi.ts
  tests/session/test_subscription.py
  tests/test_helpers.py
Due: copyright, check-chai-describe-it-only, node-self

chore: wait for context should respect already existing contexts
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
Due: copyright, node-self

fix: wait for context should respect already existing contexts (#2998)
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
Due: copyright, node-self

Update README.md
  README.md
Due: none

chore: update readme with `goog:channel`
  README.md
Due: none

chore: update readme with `goog:channel` (#2997)
  README.md
Due: none

test: update the expectations for PR
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: none

test: update the expectations for PR (#3000)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
Due: none

chore: update cache to latest
  .github/actions/setup-chrome-binaries/action.yml
Due: none

chore: update cache to latest (#3003)
  .github/actions/setup-chrome-binaries/action.yml
Due: none

build(chrome): update the pinned browser version to 134.0.6967.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 134.0.6967.0 (#2992)
  .browser
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
