Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: fix caching for Puppeteer job
  .github/workflows/puppeteer.yml
Due: none

ci: fix caching for Puppeteer job (#2272)
  .github/workflows/puppeteer.yml
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#2274)
  .browser
Due: none

fix: when reconnecting, save context's url
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix tests
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
Due: copyright, node-self

fix: when reconnecting, save context's url (#2276)
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2278)
  .browser
  package-lock.json
  package.json
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

fix: use method and url from overrides
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#2281)
  .browser
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

fix: validate HTTP method
  src/bidiMapper/modules/network/NetworkProcessor.spec.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

ci: label change trigger
  .github/workflows/wpt-quick.yml
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
Due: none

ci: revert label change
  .github/workflows/wpt-quick.yml
Due: none

fix: validate HTTP method (#2284)
  src/bidiMapper/modules/network/NetworkProcessor.spec.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
Due: copyright, check-chai-describe-it-only, node-self

Revert "ci: fix caching for Puppeteer job (#2272)"
  .github/workflows/puppeteer.yml
Due: none

Revert "ci: fix caching for Puppeteer job" (#2288)
  .github/workflows/puppeteer.yml
Due: none

update e2e test
  tests/storage/test_set_cookies.py
Due: copyright

format
  package-lock.json
Due: none

comment
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

update devtools-protocol to `0.0.1311068`
  package-lock.json
  package.json
Due: none

fix build
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#2287)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
  tests/storage/test_set_cookies.py
Due: copyright, check-chai-describe-it-only, node-self

restore frame tree
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

test: try things out
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

ci: fix puppeteer browser caching
  .github/workflows/puppeteer.yml
Due: none

ci: fix puppeteer browser caching (#2291)
  .github/workflows/puppeteer.yml
Due: none

comment
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

feat: restore frame tree when reconnecting to browser (#2289)
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
  package-lock.json
Due: none

build(chrome): update the pinned browser version (#2285)
  .browser
  package-lock.json
Due: none

clear deferred when execution context destroyed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/Deferred.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: wait for default realm to be created before evaluating script
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
Due: copyright, check-chai-describe-it-only, node-self
