Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: remote obsolete entries
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/remote_values.py.ini
Due: none

test: remote obsolete entries
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/remote_values.py.ini
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1075)
  .browser
Due: none

fix: Deferred no multiple resolved/rejects
  src/bidiMapper/domains/network/networkProcessor.ts
  src/utils/deferred.ts
Due: copyright, node-self

fix: Deferred no multiple resolved/rejects (#1076)
  src/bidiMapper/domains/network/networkProcessor.ts
  src/utils/deferred.ts
Due: copyright, node-self

chore: remove void return
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiServer/mapperServer.ts
Due: copyright, node-self

chore: make topLevelContextsLoaded private
  src/bidiMapper/BidiServer.ts
Due: copyright, node-self

chore: extract browsing context storage for event manager
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/EventManager.ts
Due: copyright, node-self

chore: post-refactoring of script processor
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: lightweight refactoring of network processor
  src/bidiMapper/domains/network/networkProcessor.ts
Due: copyright, node-self

chore: remove browsing context storage from event manager
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/EventManager.ts
Due: copyright, node-self

Revert "chore: remove void return"
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiServer/mapperServer.ts
Due: copyright, node-self

chore: prefactoring for network request interception (#1064)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: globally enable the Network domain per CDP Target
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
Due: copyright, node-self

test: remove obsolete test
  tests/test_network.py
Due: copyright

chore: network processor -> network manager
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/network/NetworkManager.ts
Due: copyright, node-self

test: skip test instead of deleting it
  tests/test_network.py
Due: copyright

chore: move network manager close to log manager
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/log/logManager.ts
Due: copyright, node-self

chore: globally enable the Network domain per CDP Target (#1082)
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  tests/test_network.py
Due: copyright, node-self

chore: awaitUnblocked -> targetUnblocked, for consistency
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

chore: awaitLoaded -> pageLoaded
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

Revert "chore: move isCloseError outside the ICdpClient interface"
  src/bidiMapper/domains/context/cdpTarget.ts
  src/cdp/cdpClient.ts
Due: copyright, node-self

chore: move isCloseError outside the ICdpClient interface
  src/bidiMapper/domains/context/cdpTarget.ts
  src/cdp/cdpClient.ts
Due: copyright, node-self

chore: miscellaneous refactoring
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

chore: pageLoaded -> lifecycleLoaded
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

chore: miscellaneous refactoring (#1084)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

chore: extract CDP and Session Processors
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: extract CDP and Session Processors (#1087)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: rename BrowsingProcessor methods
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

chore: rename BrowsingProcessor methods (#1088)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1083)
  .browser
Due: none

chore: create a Roll reminder
  .github/workflows/chromium-roll-reminder.yml
  README.md
Due: none

chore: import zod consistently as `z`
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

ci: create a Roll reminder (#1090)
  .github/workflows/chromium-roll-reminder.yml
  README.md
Due: none

test: move test_network.py to top-level network/ directory
  tests/network/test_network.py
Due: copyright

chore: import zod consistently as `z` (#1093)
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

test: move test_network.py to top-level network/ directory (#1095)
  tests/network/test_network.py
Due: copyright
