Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: pin all Actions (#1143)
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/update-bidi-types.yml
Due: none

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1144)
  .browser
Due: none

chore: add security policy
  SECURITY.md
Due: none

chore: add security policy (#1141)
  SECURITY.md
Due: none

chore: move test canonicalization from runWPTAll.sh to run-wpt.mjs
  runWPTAll.sh
  tools/run-wpt.mjs
Due: copyright

test: add basic test to check add_intercept return
  tests/test_helpers.py
Due: copyright

chore: input manager: remove static factory
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
Due: copyright, node-self

test: preload script: use ANY_UUID
  tests/script/test_add_preload_script.py
Due: copyright

chore: command processor: keep processors sorted
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

chore: rename networkRequest -> NetworkRequest
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
Due: copyright, node-self

chore: move runWPTAll.sh to tools
  package.json
  tools/runWPTAll.sh
Due: none

chore: add node shebang to install-browser.mjs
  tools/install-browser.mjs
Due: copyright

chore: remove explicit node command from package.json
  package.json
Due: none

chore: refactoring for network interception (#1146)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  tests/script/test_add_preload_script.py
  tests/test_helpers.py
Due: copyright, node-self

chore: move test canonicalization from runWPTAll.sh to run-wpt.mjs (#1147)
  package.json
  tools/install-browser.mjs
  tools/run-wpt.mjs
  tools/runWPTAll.sh
Due: copyright

chore: fail channel loop gracefully
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

chore: fail channel loop gracefully (#1145)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/script/bidiPreloadScript.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
Due: copyright, node-self

chore: implement injection framework
  package-lock.json
  src/utils/decorators.spec.ts
  src/utils/decorators.ts
  tsconfig.base.json
Due: copyright, check-chai-describe-it-only, node-self

chore: implement eslint rules for injection framework
  .eslintplugin.js
  .eslintrc.js
  .prettierignore
  package-lock.json
  package.json
  src/utils/decorators.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: use injection for logger
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/utils/log.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#1148)
  .browser
Due: none

chore: use injection for connection
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

chore: use injection for browsing context storage
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
Due: copyright, node-self

chore: use injection for everything
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: use injection for everything (#1154)
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

chore: use injection for browsing context storage (#1153)
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
Due: copyright, node-self

build(chrome): update the pinned browser version (#1155)
  .browser
Due: none

chore: update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py.ini
Due: none

chore: use injection
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiMapper/domains/script/ScriptProcessor.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/utils/log.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
Due: copyright, check-chai-describe-it-only, node-self
