Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

fix: pass env to launch
  src/bidiServer/BrowserInstance.ts
Due: copyright, node-self

chore: update deps manually (#1652)
  .eslintrc.js
  .github/dependabot.yml
  package-lock.json
  package.json
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/bidiServer/BrowserInstance.ts
  src/cdp/CdpConnection.spec.ts
  src/utils/Deferred.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: clean up in Network module
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

fix: test running
  tools/runWPTAll.sh
Due: none

chore: clean up in Network module (#1655)
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  tools/runWPTAll.sh
Due: copyright, node-self

build(website): fix uploading
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

build(website): fix uploading (#1658)
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/selenium.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/webdriverio.yml
  .github/workflows/wpt.yml
Due: none

chore: update expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/release_actions/release.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/format.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/context.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/max_node_count.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/ownership.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/invalid.py.ini
Due: none

build: use JS for cross compatibility
  .eslintignore
  .eslintrc.js
  .prettierignore
  package.json
  tools/generate-bidi-types.mjs
  tools/generate-bidi-types.sh
  tools/run-bidi-server.mjs
  tools/run-wpt-all.mjs
  tools/runWPTAll.sh
Due: copyright

build: use JS for cross compatibility (#1659)
  .eslintignore
  .eslintrc.js
  .prettierignore
  package.json
  tools/generate-bidi-types.mjs
  tools/generate-bidi-types.sh
  tools/run-bidi-server.mjs
  tools/run-wpt-all.mjs
  tools/runWPTAll.sh
Due: copyright

chore: EsLint properly lints tooling
  .eslintignore
  .eslintrc.js
  package.json
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiServer/WebSocketServer.ts
  src/protocol-parser/cddl/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cddl/webdriver-bidi.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/protocol.ts
  tools/generate-bidi-types.mjs
Due: copyright, check-chai-describe-it-only, node-self

refactor: name of subfolder
  .eslintignore
  package.json
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  src/protocol/protocol.ts
  tools/generate-bidi-types.mjs
Due: copyright, check-chai-describe-it-only, node-self

chore: EsLint properly lints tooling (#1660)
  .eslintignore
  .eslintrc.js
  package.json
  src/bidiMapper/domains/input/InputProcessor.ts
  src/bidiServer/WebSocketServer.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.spec.ts
  src/protocol/ErrorResponse.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  src/protocol/protocol.ts
  tools/generate-bidi-types.mjs
Due: copyright, check-chai-describe-it-only, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

fix test
  tests/script/test_realm.py
Due: copyright

Add `wait_for_filtered_event` helper method
  tests/script/test_realm.py
  tests/test_helpers.py
Due: copyright

Fix another e2e test
  tests/script/test_evaluate.py
Due: copyright

Fix another e2e test
  tests/script/test_evaluate.py
  tests/script/test_realm.py
Due: copyright

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(spec): Update BiDi types (#1668)
  src/bidiMapper/domains/script/Realm.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/script/test_evaluate.py
  tests/script/test_realm.py
  tests/test_helpers.py
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
Due: none

refactor: move events under session
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  src/bidiMapper/domains/session/events.spec.ts
  src/bidiMapper/domains/session/events.ts
Due: copyright, check-chai-describe-it-only, node-self

fix: format
  src/bidiMapper/domains/session/EventManager.ts
Due: copyright, node-self

refactor: move events under session (#1664)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/log/LogManager.ts
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiMapper/domains/session/EventManager.ts
  src/bidiMapper/domains/session/SessionProcessor.ts
  src/bidiMapper/domains/session/SubscriptionManager.spec.ts
  src/bidiMapper/domains/session/SubscriptionManager.ts
  src/bidiMapper/domains/session/events.spec.ts
  src/bidiMapper/domains/session/events.ts
Due: copyright, check-chai-describe-it-only, node-self

build(chrome): update the pinned browser version (#1670)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/activate/activate.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
Due: none

Disable network interception tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fail_request/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fail_request/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/fail_request/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_response/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_with_auth/action.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_with_auth/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fail_request/invalid.py.ini
Due: none

chore: update VS Code folder to use templates
  .gitignore
  .vscode/extensions.json
  .vscode/launch.template.json
  .vscode/settings.template.json
  .vscode/tasks.template.json
Due: none

chore: update VS Code folder to use templates (#1669)
  .gitignore
  .vscode/extensions.json
  .vscode/launch.template.json
  .vscode/settings.template.json
  .vscode/tasks.template.json
Due: none

test: unflake test
  tests/session/test_cdp.py
Due: copyright

test: unflake test (#1676)
  tests/session/test_cdp.py
Due: copyright

Remove deprecated method
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

chore: remove deprecated method (#1675)
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

refactor: move events under session
  src/bidiMapper/domains/session/EventManager.ts
Due: copyright, node-self

refactor: remove I prefix form interfaces
  src/bidiMapper/BidiMapper.ts
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/BidiTransport.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/browser/BrowserProcessor.ts
  src/bidiMapper/domains/cdp/CdpProcessor.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiTab/BidiParser.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/cdp/CdpClient.spec.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.spec.ts
  src/cdp/CdpConnection.ts
  src/utils/WebsocketTransport.ts
  src/utils/transport.ts
  src/utils/transportStub.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
