Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

feat(chrome)!: update the pinned browser version to 138.0.7155.0 (#3357)
  .browser
  package-lock.json
  package.json
Due: none

feat: support GATT connection simulation
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

formatted
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/protocol-parser/protocol-parser.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

fix: add .js extension to imports
  .github/workflows/pre-commit.yml
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

fix: add .js extension to imports (#3369)
  .github/workflows/pre-commit.yml
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

fix: allow no frameId in dialog events
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

Replace the custom page with request_device()
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright

Code formatted
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright

feat: support GATT connection simulation (#3366)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7158.0
  .browser
  package-lock.json
  package.json
Due: none

ci: test puppeteer with stable
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: allow no frameId in javascript dialog events (#3372)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7158.0 (#3365)
  .browser
  package-lock.json
  package.json
Due: none

feat: create the main entrypoint module
  package.json
  src/index.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

fix build
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

feat: create the main entrypoint module (#3376)
  package.json
  src/index.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3377)
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 138.0.7164.0
  .browser
Due: none

build(chrome): update the pinned browser version to 138.0.7164.0 (#3379)
  .browser
Due: none

test: expectations update the #3374
  wpt-metadata/mapper/headless/webdriver/tests/bidi/web_extension/uninstall/invalid.py.ini
Due: none

test: expectations update the #3374 (#3380)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/web_extension/uninstall/invalid.py.ini
Due: none

test: expectations update the #3374
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

Address comments
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_service_emulation.py
Due: copyright, node-self

feat: support GATT disconnection and service simulation
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_service_emulation.py
Due: copyright, node-self

Remove excessive sorted
  tests/bluetooth/test_service_emulation.py
Due: copyright

Format code
  tests/bluetooth/test_service_emulation.py
Due: copyright

feat: support GATT disconnection and service simulation (#3383)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_gatt_connection.py
  tests/bluetooth/test_service_emulation.py
Due: copyright, node-self

feat: support GATT characteristic and descriptor simulation
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
  tests/bluetooth/test_service_emulation.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: update EsLint config
  eslint.config.mjs
  package-lock.json
  package.json
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/log/logHelper.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiTab/mapperTabPage.ts
Due: copyright, check-chai-describe-it-only, node-self

fix
  eslint.config.mjs
Due: copyright

s
  package-lock.json
  package.json
Due: none

chore: update EsLint config (#3390)
  eslint.config.mjs
  package-lock.json
  package.json
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/log/logHelper.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiTab/mapperTabPage.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: support GATT characteristic and descriptor simulation (#3385)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/bluetooth/__init__.py
  tests/bluetooth/test_characteristic_emulation.py
  tests/bluetooth/test_descriptor_emulation.py
  tests/bluetooth/test_service_emulation.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3388)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: parse `browser.createUserContext:acceptInsecureCerts`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  tests/browser/test_create_user_context.py
Due: copyright, node-self
