Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

browsingContext.print: do not set CDP arguments if they are not provided (#841)
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/protocol-parser/protocol-parser.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/background.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/background.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/background.py.ini
Due: copyright, node-self

Channel serialization options + e2e tests (#833)
  src/bidiMapper/domains/script/channelProxy.ts
  tests/test_channel.py
Due: copyright, node-self

test_print: add save_pdf method for debugging
  tests/screenshot/test_screenshot.py
  tests/test_print.py
Due: copyright

EXPERIMENTAL: screenshot a la webdriver classic
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

Update browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

test_print: add save_pdf method for debugging (#842)
  tests/screenshot/test_screenshot.py
  tests/test_print.py
Due: copyright

eslint: add consistent-type-imports
  .eslintrc.js
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/browsingContextStorage.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/input/ActionOption.ts
  src/bidiMapper/domains/input/InputState.ts
  src/bidiMapper/domains/input/InputStateManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
  src/protocol-parser/protocol-parser.ts
  src/utils/EventEmitter.ts
  src/utils/processingQueue.ts
  src/utils/websocketTransport.ts
Due: copyright, check-chai-describe-it-only, node-self

eslint: add no-import-type-side-effects
  .eslintrc.js
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/browsingContextStorage.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/input/ActionOption.ts
  src/bidiMapper/domains/input/InputState.ts
  src/bidiMapper/domains/input/InputStateManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/mapperServer.ts
  src/cdp/cdpConnection.ts
Due: copyright, node-self

eslint: add consistent-type-imports (#847)
  .eslintrc.js
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/browsingContextStorage.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/events/SubscriptionManager.ts
  src/bidiMapper/domains/input/ActionDispatcher.ts
  src/bidiMapper/domains/input/ActionOption.ts
  src/bidiMapper/domains/input/InputState.ts
  src/bidiMapper/domains/input/InputStateManager.ts
  src/bidiMapper/domains/log/logManager.ts
  src/bidiMapper/domains/network/networkProcessor.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/channelProxy.ts
  src/bidiMapper/domains/script/realm.ts
  src/bidiMapper/domains/script/realmStorage.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/mapperServer.ts
  src/bidiTab/bidiTab.ts
  src/cdp/cdpConnection.ts
  src/protocol-parser/protocol-parser.ts
  src/utils/EventEmitter.ts
  src/utils/processingQueue.ts
  src/utils/websocketTransport.ts
Due: copyright, check-chai-describe-it-only, node-self

Move preload script to a dedicated class
  src/bidiMapper/domains/context/PreloadScriptStorage.spec.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/context/cdpTarget.ts
  tests/conftest.py
  tests/test_browsing_context.py
  tests/test_channel.py
  tests/test_preload_script.py
Due: copyright, check-chai-describe-it-only, node-self

update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/sandbox.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/remove_preload_script/sandbox.py.ini
Due: none

don't wait for the initial preload script run
  src/bidiMapper/domains/context/bidiPreloadScript.ts
  src/bidiMapper/domains/context/cdpTarget.ts
Due: copyright, node-self

eslint: remove deprecated no-duplicate-imports rule
  .eslintrc.js
Due: copyright

mocha: use recommended config
  .eslintrc.js
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

eslint: add prefer-nullish-coalescing
  .eslintrc.js
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/index.ts
Due: copyright, node-self

mocha: prefer eslint plug-in instead of pre-commit regex
  .eslintrc.js
  .pre-commit-config.yaml
Due: copyright

eslint: add sort-type-constituents
  .eslintrc.js
  src/protocol/protocol.ts
Due: copyright, node-self

fix: screenshots failing when setViewport is used
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

remove rules with side effects and undo them
  .eslintrc.js
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol/protocol.ts
Due: copyright, node-self

eslint: miscellaneous changes (#848)
  .eslintrc.js
  .pre-commit-config.yaml
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/bidiMapper/domains/script/scriptEvaluator.ts
  src/bidiServer/index.ts
  src/protocol/protocol.ts
Due: copyright, check-chai-describe-it-only, node-self

pytest: remove pytest-md-report
  pytest.ini
  tests/requirements.txt
Due: none

pytest: add pytest-sugar
  tests/requirements.txt
Due: none

pytest: print skipped and xfailed tests
  pytest.ini
Due: none

Revert "pytest: print skipped and xfailed tests"
  pytest.ini
Due: none

pytest: improve test output summary (#852)
  pytest.ini
  tests/requirements.txt
Due: none

update comment
  tests/conftest.py
Due: copyright

fix: screenshots failing when setViewport is used (#851)
  src/bidiMapper/domains/context/browsingContextImpl.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

fix e2e tests
  tests/test_serialization.py
Due: copyright

feat: adds script.realmCreated
  src/bidiMapper/bidiMapper.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/protocol/protocol.ts
  tests/test_realm.py
Due: copyright, check-chai-describe-it-only, node-self

feat: adds script.realmCreated (#850)
  src/bidiMapper/bidiMapper.ts
  src/bidiMapper/domains/context/browsingContextImpl.ts
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
  src/protocol/protocol.ts
  tests/test_realm.py
Due: copyright, check-chai-describe-it-only, node-self

update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
Due: none

update conftest.py: use docstring
  tests/conftest.py
Due: copyright

Update conftest.py
  tests/conftest.py
Due: copyright

build(chrome): update the pinned browser version (#853)
  .browser
  tests/test_serialization.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/arguments.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/arguments.py.ini
Due: copyright

improve Network.#getHeaders
  src/bidiMapper/domains/network/networkRequest.ts
Due: copyright, node-self

add EmptyMessage to protocol
  src/protocol/protocol.ts
Due: copyright, node-self

Update PreloadScriptStorage.ts
  src/bidiMapper/domains/context/PreloadScriptStorage.ts
Due: copyright, node-self

Update bidiPreloadScript.ts
  src/bidiMapper/domains/context/bidiPreloadScript.ts
Due: copyright, node-self
