Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

test: expectations update the #3241 (#3242)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: none

chore: remove TargetEvents
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
Due: copyright, node-self

chore: remove TargetEvents (#3243)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/TargetEvents.ts
Due: copyright, node-self

test: expectations update the #3240
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
Due: none

test: expectations update the #3240 (#3244)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
Due: none

build(chrome): update the pinned browser version to 136.0.7083.0
  .browser
Due: none

build(chrome): update the pinned browser version to 136.0.7087.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 136.0.7087.0 (#3239)
  .browser
  package-lock.json
  package.json
Due: none

build: update types
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build: update types (#3247)
  src/bidiMapper/CommandProcessor.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: `browsingContext.downloadWillBegin` event
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_download_will_begin.py
Due: copyright, node-self

extend e2e tests with http server
  tests/browsing_context/test_download_will_begin.py
  tests/conftest.py
  tests/tools/local_http_server.py
Due: copyright

use CDP guid
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

switch to browser one
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: `browsingContext.downloadWillBegin` event (#3248)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/test_download_will_begin.py
  tests/conftest.py
  tests/tools/local_http_server.py
Due: copyright, node-self

test: expectations update the #3250
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
Due: none

test: expectations update the #3250 (#3252)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py.ini
Due: none

feat: provide proper `clientWindow`
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix e2e
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
Due: copyright

use browser cdp client
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

feat: provide proper `clientWindow` (#3253)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
Due: copyright, node-self

Add more tests for bluetooth.simulation and support old headless mode
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright

bluetooth.disableSimulation
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/test_emulation.py
Due: copyright, node-self

Fix presubmit by formating
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

feat: support for disable Bluetooth simulation (#3255)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  tests/bluetooth/test_emulation.py
  tests/bluetooth/test_handle_prompt.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3258)
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
Due: copyright, node-self

build: use WebDriverBidiBluetooth.BluetoothCommand type
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

build: use WebDriverBidiBluetooth.BluetoothCommand type (#3259)
  src/protocol/chromium-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7095.0
  .browser
  package-lock.json
  package.json
Due: none

chore: hide Mapper tab in nodejs runner
  src/bidiServer/MapperCdpConnection.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 136.0.7095.0 (#3249)
  .browser
  package-lock.json
  package.json
Due: none

feat: support UserContext in setViewport
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
Due: copyright, node-self

test: expectations update the #3262
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
Due: none

test: expectations update the #3262 (#3263)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/set_viewport_with_preload_script.py.ini
Due: none

build(chrome): update the pinned browser version to 136.0.7097.0
  .browser
  package-lock.json
  package.json
Due: none

e2e tests
  tests/browsing_context/test_set_viewport.py
Due: copyright

format
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self
