Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: remind to update implementation status on release (#3573)
  .github/workflows/chromium-roll-reminder.yml
Due: none

experiment: rely on `Network.loadingFinished`
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
Due: copyright, node-self

test: expectations update the #3575
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

test: expectations update the #3575 (#3579)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/combined/network_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

unit test
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3575
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

stabilize e2e
  tests/network/test_network.py
Due: copyright

fix: associate preflight network request with context (#3572)
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  tests/conftest.py
  tests/network/test_network.py
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3575 (#3581)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

test: expectations update the #3580
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/parallel_execution/browsing_context_print.py.ini
Due: none

Delete wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/response_completed/response_completed_cached.py.ini
Due: none

test: expectations update the #3580 (#3583)
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/parallel_execution/browsing_context_print.py.ini
Due: none

test: expectations update the #3580
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/web_extension/uninstall/invalid.py.ini
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3586)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

parse params
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

implement command
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, check-chai-describe-it-only, node-self

e2e
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_timezone.py
Due: copyright, check-chai-describe-it-only, node-self

feat: implement `emulation.setTimezoneOverride` (#3589)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/UserContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.spec.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_timezone.py
Due: copyright, check-chai-describe-it-only, node-self

feat: support timezone offset emulation
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_timezone.py
Due: copyright, node-self

feat: support timezone offset emulation (#3591)
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_timezone.py
Due: copyright, node-self

prefetchStatusUpdated implementastion in Protocol and Processor files
  package-lock.json
  package.json
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-speculation.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-speculation.ts
  src/protocol/generated/webdriver-bidi.ts
  src/protocol/protocol.ts
Due: copyright, node-self

fixing build errors
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

Adding speculation module
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

remove unnecessary
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

remove console
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
Due: copyright, node-self

fixing lint errors
  src/bidiMapper/CommandProcessor.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 140.0.7305.0
  .browser
  package-lock.json
  package.json
Due: none

chore: update renamed package
  package-lock.json
  package.json
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
  tools/run-e2e.mjs
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
Due: copyright

build(chrome): update the pinned browser version to 140.0.7310.0
  .browser
  package-lock.json
  package.json
Due: none

chore: update renamed package (#3595)
  package-lock.json
  package.json
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
  tools/run-e2e.mjs
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
Due: copyright

test: expectations update the #3596
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

test: expectations update the #3596 (#3597)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

build(chrome): update the pinned browser version to 140.0.7312.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7310.0 (#3596)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

build(chrome): update the pinned browser version to 140.0.7312.0
  .browser
Due: none

chore: update `eslint`
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 140.0.7312.0 (#3599)
  .browser
Due: none

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
