Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

check-chai-describe-it-only:
  name: check chai describe & it `.only()`
  entry: \b(it|describe)\.only\(
  language: pygrep

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

feat: browsingContext.reload: return the navigation instead of empty
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_reload.py
Due: copyright, node-self

chore: rebase
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: browsingContext.reload: return the navigation instead of empty (#1255)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  tests/browsing_context/test_reload.py
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#1284)
  .browser
Due: none

feat: restore network redirects
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
  tests/network/test_network.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: copyright, check-chai-describe-it-only, node-self

feat: restore network redirects (#1249)
  src/bidiMapper/domains/network/NetworkManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/utils/processingQueue.spec.ts
  src/utils/processingQueue.ts
  tests/network/test_network.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/__dir__.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: copyright, check-chai-describe-it-only, node-self

fix: replace empty string `namespaceURI` with null
  src/bidiMapper/domains/script/Realm.ts
Due: copyright, node-self

update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
Due: none

fix: replace empty string `namespaceURI` with null (#1285)
  src/bidiMapper/domains/script/Realm.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/script/evaluate/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/call_function/result_node.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/evaluate/result_node.py.ini
Due: copyright, node-self

feat: throw InvalidArgument instead of UnsupportedOperation for print… (#1280)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
Due: copyright, node-self

feat: add get network intercepts method
  package-lock.json
  package.json
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: small adjustments
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
Due: copyright, node-self

build: pin deps
  package-lock.json
  package.json
Due: none

chore: prefer native URLPattern where possible
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/utils/UrlPattern.ts
Due: copyright, node-self

test: add unit test for URLPattern
  src/utils/UrlPattern.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: add get network intercepts method (#1250)
  package-lock.json
  package.json
  src/bidiMapper/domains/network/NetworkProcessor.ts
  src/bidiMapper/domains/network/NetworkStorage.spec.ts
  src/bidiMapper/domains/network/NetworkStorage.ts
  src/utils/UrlPattern.spec.ts
  src/utils/UrlPattern.ts
Due: copyright, check-chai-describe-it-only, node-self

test: enable browsing_context/reload/frame.py
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
Due: none

build(chrome): update the pinned browser version (#1287)
  .browser
Due: none

test: enable browsing_context/reload/frame.py (#1288)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
Due: none

chore: introduce a CdpErrorConstants class
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/utils/CdpErrorConstants.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

chore: introduce a CdpErrorConstants class (#1289)
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/script/Realm.ts
  src/utils/CdpErrorConstants.ts
Due: copyright, node-self

build(spec): update WebDriverBidi types (#1278)
  src/protocol-parser/webdriver-bidi.ts
  src/protocol/webdriver-bidi.ts
Due: copyright, node-self

fix: flatten event type
  package-lock.json
  src/bidiMapper/domains/context/CdpTarget.ts
  src/protocol/cdp.ts
Due: copyright, node-self

fix: flatten event type (#1292)
  package-lock.json
  src/bidiMapper/domains/context/CdpTarget.ts
  src/protocol/cdp.ts
Due: copyright, node-self

chore: move `urlpattern-polyfill` to `dependencies`
  package-lock.json
  package.json
Due: none

chore: move `urlpattern-polyfill` to `dependencies` (#1293)
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#1290)
  .browser
Due: none

test: fix browsingContext.print test_margin_same_as_page_dimension
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
Due: copyright, node-self

test: fix browsingContext.print `test_margin_same_as_page_dimension` (#1291)
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
Due: copyright, node-self

chore: small refactoring
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/bidiMapper.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/MapperServer.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiTab/BidiParser.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/CdpClient.spec.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.spec.ts
  src/cdp/CdpConnection.ts
  src/utils/Buffer.spec.ts
  src/utils/Buffer.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
  src/utils/IdWrapper.spec.ts
  src/utils/IdWrapper.ts
  src/utils/ProcessingQueue.spec.ts
  src/utils/ProcessingQueue.ts
  src/utils/WebsocketTransport.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: refactor
  src/bidiMapper/domains/script/ChannelProxy.ts
Due: copyright, node-self

chore: resolve Comments
  src/bidiTab/Transport.ts
  src/bidiTab/mapperTabPage.ts
Due: copyright, node-self

chore: small refactoring (#1286)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/bidiMapper.ts
  src/bidiMapper/domains/context/BrowsingContextImpl.ts
  src/bidiMapper/domains/context/BrowsingContextProcessor.ts
  src/bidiMapper/domains/context/CdpTarget.ts
  src/bidiMapper/domains/events/EventManager.ts
  src/bidiMapper/domains/network/NetworkRequest.ts
  src/bidiMapper/domains/script/ChannelProxy.ts
  src/bidiMapper/domains/script/Realm.ts
  src/bidiServer/MapperServer.ts
  src/bidiServer/bidiServerRunner.ts
  src/bidiTab/BidiParser.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/cdp/CdpClient.spec.ts
  src/cdp/CdpClient.ts
  src/cdp/CdpConnection.spec.ts
  src/cdp/CdpConnection.ts
  src/utils/Buffer.spec.ts
  src/utils/Buffer.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
  src/utils/IdWrapper.spec.ts
  src/utils/IdWrapper.ts
  src/utils/ProcessingQueue.spec.ts
  src/utils/ProcessingQueue.ts
  src/utils/WebsocketTransport.ts
Due: copyright, check-chai-describe-it-only, node-self

Path conditions:
  copyright: any of: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$, but not: ^wpt
  check-chai-describe-it-only: any of: \.spec\.ts$, but not: ^wpt
  node-self: any of: \.ts$, but not: ^wpt
