Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

ci: checkout-node with hash
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/unit.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/wpt.yml
Due: none

ci: wireit with hash
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/unit.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/wpt.yml
Due: none

ci: upload artifact with hash
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
Due: none

ci: pull request with hash
  .github/workflows/update-browser-version.yml
Due: none

ci: cache with hash
  .github/workflows/e2e.yml
  .github/workflows/wpt.yml
Due: none

ci: setup python with hash
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/wpt.yml
Due: none

ci: download artifact with hash
  .github/workflows/wpt.yml
Due: none

ci: github pages with hash
  .github/workflows/wpt.yml
Due: none

build: update all packages in package.json
  package-lock.json
  package.json
Due: none

chore: miscellaneous changes (#913)
  .eslintrc.js
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/unit.yml
  .github/workflows/update-browser-version.yml
  .github/workflows/wpt.yml
  examples/console_log_example.py
  examples/print_example.py
  examples/screenshot_example.py
  examples/script_example.py
  package.json
  src/bidiServer/bidiServerRunner.ts
  src/bidiServer/index.ts
  tests/test_print.py
Due: copyright, node-self

build: update all packages in package.json (#915)
  package-lock.json
  package.json
Due: none

test: refactor screenshot
  tests/screenshot/test_screenshot.py
Due: copyright

test: augment helpers
  tests/test_helpers.py
Due: copyright

test: augment print with png conversion
  tests/test_print.py
Due: copyright

test: remove print
  tests/test_print.py
Due: copyright

test: update base64 for ci
  tests/test_print.py
Due: copyright

test: add expected failure for headless
  tests/test_print.py
Due: copyright

chore: make subscribe look like the spec
  tests/test_browsing_context.py
  tests/test_cdp.py
  tests/test_channel.py
  tests/test_helpers.py
  tests/test_log_events.py
  tests/test_network.py
  tests/test_preload_script.py
  tests/test_realm.py
  tests/test_serialization.py
  tests/test_subscription.py
Due: copyright

test: print to pdf: convert to PNG and compare to golden (#914)
  tests/screenshot/test_screenshot.py
  tests/test_helpers.py
  tests/test_print.py
Due: copyright

chore: make subscribe look like the spec (#917)
  tests/test_browsing_context.py
  tests/test_cdp.py
  tests/test_channel.py
  tests/test_helpers.py
  tests/test_log_events.py
  tests/test_network.py
  tests/test_preload_script.py
  tests/test_realm.py
  tests/test_serialization.py
  tests/test_subscription.py
Due: copyright

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
Due: none

test: update WPT submodule (#916)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/set_viewport/set_viewport.py.ini
Due: none

ci: add codecov.io coverage for mocha
  .github/workflows/unit.yml
  .gitignore
  .prettierignore
  README.md
  package-lock.json
  package.json
Due: none

ci: add codecov.io coverage for mocha (#918)
  .github/workflows/unit.yml
  .gitignore
  .prettierignore
  README.md
  package-lock.json
  package.json
Due: none

ci: codecov: disable comments
  codecov.yml
Due: none

ci: codecov: disable comments (#921)
  codecov.yml
Due: none

test: update wpt expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
Due: none

test: update wpt submodule (#920)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/reload/frame.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/reload.py.ini
Due: none

test: fix margin.py wpt
  src/bidiMapper/domains/context/browsingContextImpl.ts
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headful/webdriver/tests/bidi/browsing_context/print/margin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/print/margin.py.ini
Due: copyright, node-self

chore: fix wrong error message
  src/bidiMapper/domains/context/browsingContextProcessor.ts
Due: copyright, node-self

chore: refactor
  src/bidiMapper/domains/network/networkRequest.ts
Due: copyright, node-self

test: increase unit test coverage
  src/bidiMapper/domains/log/logHelper.ts
  src/bidiMapper/domains/log/logHelper_logMessageFormatter.spec.ts
  src/utils/buffer.spec.ts
  src/utils/buffer.ts
  src/utils/deferred.spec.ts
  src/utils/deferred.ts
Due: copyright, check-chai-describe-it-only, node-self

chore: fix one incorrect error message and a bit of refactoring (#925)
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiMapper/domains/log/logHelper.ts
  src/bidiMapper/domains/log/logHelper_logMessageFormatter.spec.ts
  src/bidiMapper/domains/network/networkRequest.ts
  src/utils/buffer.spec.ts
  src/utils/buffer.ts
  src/utils/deferred.spec.ts
  src/utils/deferred.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: add remove intercept
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiTab/BidiParserImpl.ts
  src/protocol/protocol.ts
Due: copyright, node-self

feat: refactor + add network intercept
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/bidiMapper.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiTab/BidiParserImpl.ts
  src/bidiTab/bidiTab.ts
Due: copyright, node-self

test: fix unit test
  src/bidiMapper/domains/events/SubscriptionManager.spec.ts
Due: copyright, check-chai-describe-it-only, node-self

feat: network request interception: scaffold protocol
  src/bidiMapper/domains/network/networkRequest.ts
  src/protocol/protocol.ts
  src/protocol/types.ts
  tests/test_browsing_context.py
  tests/test_network.py
Due: copyright, node-self

feat: add provide response
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/domains/context/browsingContextProcessor.ts
  src/bidiTab/BidiParserImpl.ts
Due: copyright, node-self
