Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

fix: wait for default realm to be created before evaluating script (#2294)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/utils/Deferred.spec.ts
  src/utils/Deferred.ts
Due: copyright, check-chai-describe-it-only, node-self

tests: add more screenshot tests
  README.md
  tests/browsing_context/capture_screenshot/document-height-document-width-viewport.png
  tests/browsing_context/capture_screenshot/document-width-document-height-viewport.png
  tests/browsing_context/capture_screenshot/element-document.png
  tests/browsing_context/capture_screenshot/element.png
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
  tests/browsing_context/capture_screenshot/viewport-height-document-width-viewport.png
  tests/browsing_context/capture_screenshot/viewport-width-document-height-viewport.png
  tests/conftest.py
Due: copyright

build(chrome): update the pinned browser version
  .browser
Due: none

build(chrome): update the pinned browser version (#2297)
  .browser
Due: none

fix: add pointer props to touch end events
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputSource.ts
  src/bidiMapper/modules/input/InputState.ts
  tests/input/__snapshots__/test_input.ambr
  tests/input/test_input.py
Due: copyright, node-self

fix: keep radius and force of input
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputSource.ts
Due: copyright, node-self

fix: keep radius and force of input (#2299)
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputSource.ts
Due: copyright, node-self

fix: remove requests after they have been completed
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

test: fix e2e test messages
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_provide_response.py
Due: copyright

fix: remove requests after they have been completed (#2302)
  src/bidiMapper/modules/network/NetworkRequest.ts
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_provide_response.py
Due: copyright, node-self

feat: implement initiator
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

build(chrome): update the pinned browser version
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2305)
  .browser
  package-lock.json
  package.json
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/cookies.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/headers.py.ini
Due: none

chore: remove `codecov`
  .github/workflows/unit.yml
  README.md
  codecov.yml
  package-lock.json
  package.json
Due: none

chore: remove `codecov` (#2310)
  .github/workflows/unit.yml
  README.md
  codecov.yml
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version (#2308)
  .browser
Due: none

fix: catch error when logging args
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

fix: catch error when logging args (#2319)
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

fix: don't use promises for events
  src/bidiMapper/modules/log/LogManager.ts
  src/bidiMapper/modules/session/EventManager.ts
Due: copyright, node-self

fix: handle `registerPromiseEvent` with errors
  .eslintrc.js
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

fix: handle `registerPromiseEvent` with errors (#2323)
  .eslintrc.js
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

chore: run Update Expectations only when the run changes them
  tools/run-wpt.mjs
Due: copyright

chore: run Update Expectations only when the run changes them (#2316)
  tools/run-wpt.mjs
Due: copyright

build(spec): update WebDriverBidi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: update E2E tests
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/session/test_subscription.py
Due: copyright

feat: add support for `originalOpener` in BrowsingContext.Info
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

chore: fix format
  tests/browsing_context/test_create.py
  tests/browsing_context/test_navigate.py
Due: copyright

feat: add support for `originalOpener` in BrowsingContext.Info (#2318)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/browsing_context/__snapshots__/test_close.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_get_tree.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/session/test_subscription.py
Due: copyright, node-self

build(chrome): update the pinned browser version (#2312)
  .browser
  package-lock.json
  package.json
Due: none

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

fix: wait for DOMContentLoad when requesting Realm
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

fix: openerFrameId whenever possible
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
Due: copyright, node-self

fix: openerFrameId whenever possible (#2329)
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
Due: copyright, node-self

chore: get dependency revision from npm registry
  rollup.config.mjs
Due: copyright
