Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, check-chai-describe-it-only, node-self

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
exclude: '^wpt'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        files: \.[jt]s$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.8
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        args: ['--in-place', '--parallel']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        # skip false positives
        args:
          [--skip=package-lock.json, --skip=tests/screenshot/test_screenshot.py]
  - repo: local
    hooks:
      - id: copyright
        name: check copyright
        entry: |-
          .* Copyright [0-9]+ Google LLC.
          .* Copyright \(c\) Microsoft Corporation.
          .*
          .* Licensed under the Apache License, Version 2.0 \(the "License"\);
          .* you may not use this file except in compliance with the License.
          .* You may obtain a copy of the License at
          .*
          .*     http://www.apache.org/licenses/LICENSE-2.0
          .*
          .* Unless required by applicable law or agreed to in writing, software
          .* distributed under the License is distributed on an "AS IS" BASIS,
          .* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
          .* See the License for the specific language governing permissions and
          .* limitations under the License.
        language: pygrep
        files: \.js$|\.cjs$|\.mjs$|\.ts$|\.py$
        args: [--negate, --multiline]
      - id: check-chai-describe-it-only
        name: check chai describe & it `.only()`
        entry: '\b(it|describe)\.only\('
        language: pygrep
        files: \.spec\.ts$
      - id: node-self
        name: check nodejs `self.`
        entry: '\bself\.'
        language: pygrep
        files: \.ts$
  - repo: https://github.com/google/keep-sorted
    rev: v0.1.1
    hooks:
      - id: keep-sorted

Revert "test: expectations update the #3086 (#3092)"
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: none

command finishes after the navigation committed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
Due: copyright, node-self

test fragment navigation events
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
Due: copyright

test: expectations update the #3086
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
Due: none

test: expectations update the #3099
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

test: expectations update the #3086 (#3097)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
Due: none

Update key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

test: expectations update the #3099 (#3101)
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

test: expectations update the #3086
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: none

Delete wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

feat: wait `none` waits for navigation to be committed
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_navigate_events.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: copyright, node-self

feat: wait `none` waits for navigation to be committed (#3086)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_navigate_events.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: copyright, node-self

chore: fix
  src/bidiTab/Transport.ts
Due: copyright, node-self

chore: rely on `Page.frameStartedNavigating`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tests/conftest.py
Due: copyright, check-chai-describe-it-only, node-self

test: expectations update the #3104
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

test: add them
  tests/network/test_continue_request.py
Due: copyright

fix: provide better message
  src/bidiMapper/modules/network/NetworkProcessor.ts
Due: copyright, node-self

fix: handle unsafe header
  src/bidiMapper/modules/network/NetworkProcessor.ts
Due: copyright, node-self

fix: format
  tests/network/test_continue_request.py
Due: copyright

fix(network): propagate unsafe header error as invalid (#3100)
  src/bidiMapper/modules/network/NetworkProcessor.ts
  tests/network/test_continue_request.py
Due: copyright, node-self

test: expectations update the #3108
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: none

test: expectations update the #3108 (#3109)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigate/navigate.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/reload/wait.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/fetch_error/fetch_error.py.ini
Due: none

test: expectations update the #3104 (#3105)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/integration/navigation.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/integration/navigation.py.ini
Due: none

test: extend navigation tests
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tests/conftest.py
Due: copyright

test: expectations update the #3104
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

test: expectations update the #3104 (#3111)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
Due: none

test: expectations update the #3104
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/traverse_history/delta.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py.ini
Due: none

test: extend navigation tests (#3110)
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_navigate_events.py
  tests/conftest.py
Due: copyright

test: mark as flaky
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

test: mark as flaky (#3113)
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key.py.ini
Due: none

chore: touch depmdabot config
  .github/dependabot.yml
Due: none

chore: touch dependabot config (#3114)
  .github/dependabot.yml
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 135.0.7017.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 135.0.7021.0
  .browser
  package-lock.json
  package.json
Due: none

test: fix the test
  tests/network/test_continue_request.py
Due: copyright

test: expectations update the #3123
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/bluetooth/simulate_adapter/state.py.ini
Due: none
